{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/rfp-additional-information"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your answers </h1>

        <div class="main-box">
        <div class="box-title govuk-heading-s" id="person-details">
         Parole information
        </div>
        <div class="box-content">
          {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "Date of parole board decision"
          },
          value: {
          text: "16 Jun 2023"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          },
          {
            key: {
            text: "Information from the direction to release will impact the placement"
            },
            value: {
            text: "Example text here "
            },
            actions: {
              items: [
              {
              href: "index.html",
              text: "Change",
              visuallyHiddenText: "change"
              }
              ]
              }
          }
          ]
          }) }}
        </div>
      </div>

      <div class="main-box">
        <div class="box-title govuk-heading-s" id="person-details">
         Updates to application
        </div>
        <div class="box-content">
          {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "Have there been any significant events since the application was assessed?"
          },
          value: {
          text: "No"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          },
          {
            key: {
            text: "Has the person’s circumstances changed which affect the planned AP placement?"
            },
            value: {
            text: "No"
            },
            actions: {
              items: [
              {
              href: "index.html",
              text: "Change",
              visuallyHiddenText: "change"
              }
              ]
              }
            },
            {
              key: {
              text: "Has the person’s risk factors changed since the application was assessed?"
              },
              value: {
              text: "Yes - The persons risk of room sharing has increased due to the person setting cell fires in custody, it is advised that he is placed in a single room"
              },
              actions: {
                items: [
                {
                href: "index.html",
                text: "Change",
                visuallyHiddenText: "change"
                }
                ]
                }
              },
              {
                key: {
                text: "Has the person’s access or healthcare needs changed since the application was assessed?"
                },
                value: {
                text: "No"
                },
                actions: {
                  items: [
                  {
                  href: "index.html",
                  text: "Change",
                  visuallyHiddenText: "change"
                  }
                  ]
                  }
                },
                {
                  key: {
                  text: "Have any location factors changed since the application was assessed?"
                  },
                  value: {
                  text: "No"
                  },
                  actions: {
                    items: [
                    {
                    href: "index.html",
                    text: "Change",
                    visuallyHiddenText: "change"
                    }
                    ]
                    }
                  }
          ]
          }) }}
        </div>
      </div>

      <div class="main-box">
        <div class="box-title govuk-heading-s" id="person-details">
         Additional documents
        </div>
        <div class="box-content">
          {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "Parole report"
          },
          value: {
          html: '<p><a href="">View document</a></p>'
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          }
          ]
          }) }}
        </div>
      </div>


      <h2 class="app-task-list__section">
       Submit your application
      </h2>

      </div>

      <div class="govuk-grid-column-two-thirds">

      {{ govukCheckboxes({
        idPrefix: "waste",
        name: "waste",
        items: [
          {
            value: "submit",
            text: "I confirm the information provided is complete, accurate and up to date."
          }
        ]
      }) }}
    </li>
   
      {{ govukButton({
        text: "Submit",
        href: "/request-for-placement/confirmation"
      }) }}
    </div>
  </div>
{% endblock %}
