{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/assess/tasklist"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-full-width">
        <h1 class="govuk-heading-xl">Review Request for Placement </h1>

         <p><strong>Application</strong>: Completed 19 December 2022</p>
      <p><a href="">View application (opens in new window)</a></p>

      <p><strong>Assessment</strong>: Completed 10 December 2022</p>
      <p><a href="">View assessment (opens in new window)</a></p>


        <div class="main-box">
        <div class="box-title govuk-heading-m" id="person-details">
         Additional documents
        </div>
        <div class="box-content">
          {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "document-name.doc"
          },
          value: {
          text: "Parole board report"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          }
          ]
          }) }}
        </div>
      </div>

      <div class="main-box">
        <div class="box-title govuk-heading-m" id="person-details">
         Additional information
        </div>
        <div class="box-content">
          {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "Has the person's risk level changed?"
          },
          value: {
          text: "Parole board report"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          },
          {
            key: {
            text: "Has the person's access or healthcare needs changed?"
            },
            value: {
            text: "Parole board report"
            },
            actions: {
              items: [
              {
              href: "index.html",
              text: "Change",
              visuallyHiddenText: "change"
              }
              ]
              }
            },
            {
              key: {
              text: "Have any location factors changed?"
              },
              value: {
              text: "Parole board report"
              },
              actions: {
                items: [
                {
                href: "index.html",
                text: "Change",
                visuallyHiddenText: "change"
                }
                ]
                }
              }
          ]
          }) }}
        </div>
      </div>

      <h2 class="app-task-list__section">
      Review information
      </h2>

      </div>

      <div class="govuk-grid-column-two-thirds">

      {{ govukCheckboxes({
        idPrefix: "waste",
        name: "waste",
        items: [
          {
            value: "submit",
            text: "I confirm that the information has been reviewed."
          }
        ]
      }) }}
    </li>
   
      {{ govukButton({
        text: "Submit",
        href: "/request-for-placement/confirmation"
      }) }}
    </div>
  </div>
{% endblock %}
