
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/request-for-placement/type-of-rfp"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">Additional placements</span>
        Request for placement
      </h2>


      {{ govukDateInput({
        id: "rfp-arrival-date",
        namePrefix: "rfp-arrival-date",
        fieldset: {
          legend: {
            text: "When will the person arrive at the Approved Premises (AP)?",
            classes: "govuk-label--m"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="more-detail">
              How long should the AP placement be?
            </label>
          </h1>
          <!-- <div id="more-detail-hint" class="govuk-hint">
            Do not include personal or financial information, like your National Insurance number or credit card details.
          </div> -->
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Weeks
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Days
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

    
      {{ govukTextarea({
        name: "additional-placement-reason",
        id: "additional-placement-reason",
        label: {
          text: "Why are you requesting this placement?",
          classes: "govuk-label--m"
        }
      }) }}

      {{ govukButton({
        text: "Save and continue",
        href: "/request-for-placement/check-answers"
      }) }}

  </div>
</div>



{% endblock %}
