
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/request-for-placement/type-of-rfp"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">Parole</span>
        Request for placement
      </h2>


      {{ govukDateInput({
        id: "parole-decision-date",
        namePrefix: "parole-decision-date",
        fieldset: {
          legend: {
            text: "Enter the date of decision",
            classes: "govuk-label--m"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}

     <p class="govuk-body">The central referral unit will aim to place the person in a suitable Approved Premises (AP) within 6 weeks of this date.</p>

      {{ govukTextarea({
        name: "parole-board-detail",
        id: "parole-board-detail",
        label: {
          text: "Provide relevant information from the direction to release will impact the placement",
          classes: "govuk-label--s"
        },
        hint: {
          html: '<p class="govuk-body">This should include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the type of AP placement</li>
            <li>the placement location</li>
            <li>any factors that may affect the release date</li>
          </ul>'
        }
      }) }}

      {{ govukButton({
        text: "Save and continue",
        href: "/request-for-placement/rfp-documents"
      }) }}

  </div>
</div>



{% endblock %}
