
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/request-for-placement/rfp-rotl-details"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">ROTL</span>
        Request for placement
      </h2>

      <form action="/rotl-ap-placement" method="post" novalidate>


      {{ govukRadios({
        id: "rotl-same-ap",
        name: "rotl-same-ap",
        fieldset: {
          legend: {
            text: "Do you want this person to stay in the same Approved Premises (AP)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Placement in this AP is not guaranteed"
        },
        items: [
          {
            value: "rotl-same-ap-yes",
            text: "Yes"
          },
          {
            value: "rotl-same-ap-no",
            text: "No"
          }
        ]
      }) }}


      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>



{% endblock %}
