{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "../pp-dashboard#submitted"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">



    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Application</span>
      David Francis
    </h1>

    {{ govukButton({
      text: 'Create a new placement request',
        classes: 'govuk-button--primary',
        href: "/request-for-placement/type-of-rfp"
    }) }}

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Application',
        href: '/request-for-placement/submitted-application'
      }, {
        text: 'Assessment',
        href: '/request-for-placement/submitted-assessment',
        active: true
      }, {
        text: 'Timeline',
        href: '/request-for-placement/submitted-timeline'
      }]
    }) }}

   

{{ govukSummaryList({
  card: {
    title: {
      text: "University of Gloucestershire"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Delete choice",
          visuallyHiddenText: "of University of Gloucestershire"
        },
        {
          href: "#",
          text: "Withdraw",
          visuallyHiddenText: "from University of Gloucestershire"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Course"
      },
      value: {
        html: "English (3DMD)<br>PGCE with QTS full time"
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: "School name<br>Road, City, SW1 1AA"
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "University of Bristol"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Delete choice",
          visuallyHiddenText: "of University of Bristol"
        },
        {
          href: "#",
          text: "Withdraw",
          visuallyHiddenText: "from University of Bristol"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Course"
      },
      value: {
        html: "English (Q3X1)<br>PGCE with QTS full time"
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: "School name<br>Road, City, SW2 1AA"
      }
    }
  ]
}) }}

      </div>

    </div>
  </div>
</div>


{% endblock %}
