
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/request-for-placement-type" method="post" novalidate>

    

      <h2 class="govuk-heading-l">Request for placement</h2>
      <p>Guidance</p>

      {{ govukRadios({
        id: "type-of-rfp",
        name: "type-of-rfp",
        fieldset: {
          legend: {
            text: "What is the reason you would like to make a request for placement?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "type-of-rfp-parole",
            text: "Release directed following parole board or oral hearing"
          },
          {
            value: "type-of-rfp-rotl",
            text: "Release on Temporary Licence (ROTL)"
          }
        ]
      }) }}

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>



{% endblock %}
