
{# <!-- Where this file is includes, set nunjucks variables for countryID, countryvalue and countryLabelText to change the defaults 
    {% set countryID = "departure-country" %}
    {% set countryvalue = "departure-country-value" %}
    {% set countryLabelText = "Which country did they depart from" %}
    
    To remove the hint, set countryHint to an empty string
    {% set countryHint = ""}
    
    To change the hint, set countryHint to the hint text
    {% set countryHint = "Type to search for a country" %}
    --> #}

     
    
    <div class="govuk-form-group">
      {{ govukSelect({
        id: "school-picker",
        name: "school-picker",
        classes:"govuk-input--width-20",
        label: {
          text: "Previous school",
          classes:'govuk-!-font-weight-bold',
        name:"school-picker"
        },
        hint: {
          text: countryHint | default("Only add this information if the child is moving from another school", false)
        },
        value: countryName or data[countryvalue or countryID or "country"] or "",
        items: [
      {
          value: "",
          text: ""
      },


  {
    "value": "Accredited Programmes and Structured Interventions",
    "text": "London"
  },
  {
    "value": "All London",
    "text": "London"
  },
  {
    "value": "Barking, Dagenham and Havering",
    "text": "London"
  },
  {
    "value": "Brent",
    "text": "London"
  },
  {
    "value": "Camden and Islington",
    "text": "London"
  },
  {
    "value": "Corporate Services",
    "text": "London"
  },
  {
    "value": "Croydon",
    "text": "London"
  },
  {
    "value": "Default Unallocated Borough",
    "text": "London"
  },
  {
    "value": "Ealing and Hillingdon",
    "text": "London"
  },
  {
    "value": "Enfield and Haringey",
    "text": "London"
  },
  {
    "value": "Greenwich and Bexley",
    "text": "London"
  },
  {
    "value": "Hackney and City",
    "text": "London"
  },
  {
    "value": "Hammersmith, Fulham, Kensington, Chelsea and Westminster",
    "text": "London"
  },
  {
    "value": "Harrow and Barnet",
    "text": "London"
  },
  {
    "value": "Headquarters",
    "text": "London"
  },
  {
    "value": "IAPS Level 2(N07)",
    "text": "London"
  },
  {
    "value": "Kingston, Richmond and Hounslow",
    "text": "London"
  },
  {
    "value": "Lambeth",
    "text": "London"
  },
  {
    "value": "Lewisham and Bromley",
    "text": "London"
  },
  {
    "value": "Newham",
    "text": "London"
  },
  {
    "value": "Performance and Quality",
    "text": "London"
  },
  {
    "value": "Public Protection Community",
    "text": "London"
  },
  {
    "value": "Public Protection London",
    "text": "London"
  },
  {
    "value": "Public Protection Residential",
    "text": "London"
  },
  {
    "value": "Redbridge and Waltham Forest",
    "text": "London"
  },
  {
    "value": "Southwark",
    "text": "London"
  },
  {
    "value": "Stakeholder Engagement London",
    "text": "London"
  },
  {
    "value": "Tower Hamlets",
    "text": "London"
  },
  {
    "value": "Unpaid Work and Attendance Centres",
    "text": "London"
  },
  {
    "value": "Wandsworth, Merton and Sutton",
    "text": "London"
  },
  {
    "value": "YOS",
    "text": "London"
  }
      
      
        ]
      }) }}
    </div>