
<div class="govuk-form-group">
  {{ govukSelect({
    id: "pdu-picker",
    name: "pdu-picker",
    classes:"govuk-input--width-20",
    label: {
      text: "Select a PDU (probation delivery unit)",
      classes:'govuk-!-font-weight-bold',
    name:"pdu-picker"
    },

    hint: {
      text: "Start typing and then select an option"
    },
  
    value: countryName or data[countryvalue or countryID or "country"] or "",
    items: [
  {
      value: "",
      text: ""
  },
    {
      "text": "Accredited Programmes and Structured Interventions",
      "value": ["Accredited Programmes and Structured Interventions"]
    },
    {
      "text": "All London",
      "value": ["All London"]
    },
    {
      "text": "Barking, Dagenham and Havering",
      "value": ["Barking, Dagenham and Havering"]
    },
    {
      "text": "Brent",
      "value": ["Brent"]
    },
    {
      "text": "Camden and Islington",
      "value": ["Camden and Islington"]
    },
    {
      "text": "Corporate Services",
      "value": ["Corporate Services"]
    },
    {
      "text": "Croydon",
      "value": ["Croydon"]
    },
    {
      "text": "Default Unallocated Borough",
      "value": ["Default Unallocated Borough"]
    },
    {
      "text": "Ealing and Hillingdon",
      "value": ["Ealing and Hillingdon"]
    },
    {
      "text": "Enfield and Haringey",
      "value": ["Enfield and Haringey"]
    },
    {
      "text": "Greenwich and Bexley",
      "value": ["Greenwich and Bexley"]
    },
    {
      "text": "Hackney and City",
      "value": ["Hackney and City"]
    },
    {
      "text": "Hammersmith, Fulham, Kensington, Chelsea and Westminster",
      "value": ["Hammersmith, Fulham, Kensington, Chelsea and Westminster"]
    },
    {
      "text": "Harrow and Barnet",
      "value": ["Harrow and Barnet"]
    },
    {
      "text": "Headquarters",
      "value": ["Headquarters"]
    },
    {
      "text": "IAPS Level 2(N07)",
      "value": ["IAPS Level 2(N07)"]
    },
    {
      "text": "Kingston, Richmond and Hounslow",
      "value": ["Kingston, Richmond and Hounslow"]
    },
    {
      "text": "Lambeth",
      "value": ["Lambeth"]
    },
    {
      "text": "Lewisham and Bromley",
      "value": ["Lewisham and Bromley"]
    },
    {
      "text": "Newham",
      "value": ["Newham"]
    },
    {
      "text": "Performance and Quality",
      "value": ["Performance and Quality"]
    },
    {
      "text": "Public Protection Community",
      "value": ["Public Protection Community"]
    },
    {
      "text": "Public Protection London",
      "value": ["Public Protection London"]
    },
    {
      "text": "Public Protection Residential",
      "value": ["Public Protection Residential"]
    },
    {
      "text": "Redbridge and Waltham Forest",
      "value": ["Redbridge and Waltham Forest"]
    },
    {
      "text": "Southwark",
      "value": ["Southwark"]
    },
    {
      "text": "Stakeholder Engagement London",
      "value": ["Stakeholder Engagement London"]
    },
    {
      "text": "Tower Hamlets",
      "value": ["Tower Hamlets"]
    },
    {
      "text": "Unpaid Work and Attendance Centres",
      "value": ["Unpaid Work and Attendance Centres"]
    },
    {
      "text": "Wandsworth, Merton and Sutton",
      "value": ["Wandsworth, Merton and Sutton"]
    },
    {
      "text": "YOS",
      "value": ["YOS"]
    }
  ]
  
  }) }}
  </div>