<section class="key-details-bar" aria-label="Key details">
    <div class="key-details-bar__key-details">
  <div class="key-details-bar__top-block">
    <span class="govuk-visually-hidden">Name:</span>
    <span class="key-details-bar__name">Ben Davies</span>
  </div>
  <div class="key-details-bar__bottom-block govuk-!-padding-top-0">
    <span class="govuk-body govuk-!-margin-right-4 nav-border">X371199</span> 
    <span class="govuk-body govuk-!-margin-right-4 nav-border">DOB: 4 April 93</span> 
    <span class="govuk-body govuk-!-margin-right-4 nav-border">Accommodation required: 3 June 24</span>
    <span class="govuk-body govuk-!-margin-right-6">PDU: Nottingham and Derby</span>
  </div>
    </div>
  </section>
  <div class="pill-container">
    <ul class="pill-list">
      <li class="pill pill--default">Risk to children</li>
      <li class="pill pill--primary">Risk to public</li>
      <li class="pill pill--success">Risk to LGBT</li>
      <li class="pill pill--danger">Sexual behaviour</li>
      <li class="pill pill--warning">Not suitable to share</li>
    
      
    </ul>

  </div>