{% extends "layouts/hmpps-logged-in-nav.html" %}

{% set pageName="start" %}

{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}

{% block content %}
<div class="govuk-width-container">

      

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <form action="confirm" method="post">


    




    

    





<div class="govuk-form-group">
<h1 class="govuk-label-wrapper">
<label class="govuk-label govuk-label--l" for="crn">
  Enter the person's CRN
</label>
</h1>



<div id="crn-hint" class="govuk-hint">
<p>Enter the CRN for the person needing an AP placement.</p><p>We'll import their details into your application.</p>
                 <p>For example, a CRN is DO16821</p>
</div>


<input class="govuk-input govuk-input--width-10" id="crn" name="crn" type="text" aria-describedby="crn-hint">

</div>



    




<button type="submit" name="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
Save and continue
</button>

  </form>
</div>
</div>
  </div>


{% endblock %}