{% extends "layouts/hmpps-logged-in-nav.html" %}

{% set pageName="start" %}

{% block beforeContent %}
<!-- Breadcrumb -->
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post"> 

<h1 class="govuk-heading-l">
  This application is not eligible
</h1>

<h2 class="govuk-heading-m">
  
    This person is managed at <strong>Tier D2S</strong>
  
</h2>

<p>People in prison or people on probation who are managed at the following Tiers would be eligible to apply for an Approved Premises (AP) placement.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>A3</li>
  <li>A2</li>
  <li>A1</li>
  <li>B3</li>
  <li>B2</li>
  <li>B1</li>
  <li>C3 (women only)</li>
</ul>

<p>Applications for an AP placement can still be made in exceptional circumstances.</p>









  

  






<div class="govuk-form-group">

<fieldset class="govuk-fieldset" aria-describedby="isExceptionalCase-hint">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
    Is this an exceptional case?
  
  </legend>
  

  <div id="isExceptionalCase-hint" class="govuk-hint">
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is an exceptional case?
        </span>
      </summary>
      <div class="govuk-details__text">
        
      <p>An AP placement may occasionally be required to manage the risk posed by, or to, people managed in Tiers C3, C2, C1, or people in specific circumstances.</p>
    
      <p>This may include (but is not limited to):</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>People in the community who have been convicted of sex offences and have been publicly identified, for example through social media (Tier C)</li>
        <li>Life / IPP or other prisoners who have served long periods (over 10 years) in custody</li>
        <li>People with a high national media profile (Tier C) </li>
        <li>People managed at MAPPA Level 2 or 3 (Tier C) </li>
        <li>People who are managed on Post Sentence Supervision or Community Orders without a multi-agency contingency plan in place </li>
      </ul>
    
      <p>Where this is being considered, there should be a discussion between the Head/Deputy Head of Probation Delivery Unit (PDU) or Community Head of Public Protection (HoPP) and an AP Area Manager / CRU Manager or Head of Public Protection (Residential).</p>
      <p>In these exceptional cases an application to an AP can be made, but a placement is not guaranteed.</p>
      
      </div>
    </details>
  </div>


  <div class="govuk-radios" data-module="govuk-radios">
    
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="isExceptionalCase" name="isExceptionalCase" type="radio" value="yes">
      <label class="govuk-label govuk-radios__label" for="isExceptionalCase">
        Yes
      </label>
      
    </div>
    
  
    
      
  
    
    
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="isExceptionalCase-2" name="isExceptionalCase" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="isExceptionalCase-2">
        No
      </label>
      
    </div>
    
  
    
    
  </div>

</fieldset>

</div>





      

  


<button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
Save and continue
</button>

    </form>
  </div>
</div>


{% endblock %}