.hmpps-accordion-button{
width: 100%;
padding: 0;
color: govuk-colour("blue");
background: none;
text-align: left;
cursor: pointer;
font-size: 1.5rem;
line-height: 1.25;
font-weight: 700;
display: block;
margin-bottom: 0;
border: none;
}
