

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
  
  @mixin breakpoint($point) {
    @if $point == medium {
      @media (min-width: 1000px) { @content; }
    }
    @else if $point == small {
      @media (min-width: 628px)  { @content; }
    }
  }
  
  div.calendar{
      width:100%;
      padding:20px 0;
      overflow:hidden;
      clear:both;
      font-family:Arial, Helvetica, sans-serif;
  
    

  
      .weekdays,
      .footer-weekdays{
          display: none;
      }
   
       ul {
           margin: 0;
           padding:0;
           list-style-image: none;
       }
  
    li{
      height: auto;
      width: 100%;
      padding: 10px;
      max-height: 80px;
      border:1px solid #898989;
      margin: 2px;
      min-height: 94px;
      .day,
      .month{
        display: inline;
      }
  
      .day {
        display: inline;
        @include breakpoint(small) {
          display: none;
        }
      }
  
      &.out_of_range {
       display: none;
      }
    }
      
      @include breakpoint(small) {
  
      .weekdays,
      .footer-weekdays{
          display: block;
          li {
              background-color:#21b0dc;
              height: 40px;
              text-align: center;
              color:#fff;
          }
      }
  
      .footer-weekdays li{height:20px;}
  
          ul{
              list-style: none;
              padding: 0;
              margin: 0;
              clear: both;
              width: 100%;
              li{
                  display: block;
                  float: left;
                  height: auto;
                  max-height: 150px;
                  width: 14.2857142857%;
                  padding: 10px;
  
                  &.out_of_range {
                        display: block;
                  }
              }
  
          }
      }
  
  }
  .available{
    background-color: #fff;

  }
  .occupied{
background-color:#F4CDC6;
  }
  .selected{
    color: #fff;
background-color:$govuk-brand-colour;
  }
  .show-info{
    font-weight: 700;
  }