// Add styling for 'what's new' banner
.app-whats-new {
    border-bottom: 1px solid $govuk-border-colour;
    background-color: govuk-colour("light-grey");
  }
  
  .app-wcag-callout {
    border-left-color: govuk-colour("blue");
  }
  
  // Change headings in WCAG callouts to look like H3s,
  // even though they semantically are H2s
  .app-wcag-callout h2 {
    @extend %govuk-heading-m;
    max-width: 30em;
  }
  
  .app-wcag-callout__tag {
    margin-top: 1px;
    margin-bottom: govuk-spacing(2);
  }
  
  .app-wcag-note {
    margin-top: govuk-spacing(6);
  
    // Add highlight styling for WCAG 2.2 content
    &:target {
      outline: 4px solid $govuk-brand-colour;
      outline-offset: 6px;
    }
  }