//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import "autocomplete";
@import "width-container"; //
@import "datetime";
@import "scrollable";
@import "search";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "listings";
@import "key-details-bar";
@import "pills";
@import "autocomplete";
@import "hmpps-email";
@import "highlight";
@import "accordion-button";
@import "messages";
@import "global-nav";
@import "tables";
@import "whats-new";
@import "notes";
@import "tag-filters";
@import "maps";
@import "risk-bar";
@import "calendar";


// SEARCH

.search-and-filter__wrapper {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f3f2f1
}

@media(min-width: 40.0625em) {
    .search-and-filter__wrapper {
        padding:30px
    }
}

@media(min-width: 40.0625em) {
    .search-and-filter__wrapper {
        margin-bottom:30px
    }
}

.search-and-filter__crn-label--small {
    margin-bottom: 5px
}

.search-and-filter__submit {
    margin-top: 20px
}

@media(min-width: 40.0625em) {
    .search-and-filter__submit {
        margin-top:30px
    }
}
// IMAGES

.hmpps-responsive{
    width: 100%;
    height: auto;
}
// Header elements 


@media(min-width: 48.0625em) {
    .moj-primary-navigation__search {
        display:inline-block;
        vertical-align: middle
    }
}
// Homepage banner

.app-masthead {
    background-color: #1d70b8;

  }
  
  @media (min-width: 40.0625em) {
    .app-masthead {
      padding-top: 40px;
    }
  }
  .app-masthead__title, .app-masthead__subtitle, .app-masthead p {
    color: #ffffff;
  }

.place-context-header {
    background-color: #f3f2f1;
    padding: 15px;
    border-left: 5px solid #1d70b8;
    margin-bottom: 0
}

.place-context-header__attribute-container>div {
    display: inline;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #0b0c0c
}

.place-context-header__attribute-container>div:last-child {
    border-right: 0
}


.region-header-navigation{
    background-color: #f3f2f1;
    float: right;}

.region-header-container {
    background-color: #f3f2f1;   
}

.region-header {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px
}

@media print {
    .region-header {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .region-header {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .region-header {
        font-size: 14pt;
        line-height: 1.2
    }
}
//


.edit-bar {
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 #b1b4b6;
    color: #0b0c0c;
    padding-bottom: 9px;
    margin-bottom: 1em
}

.edit-bar__container {
    text-align: justify;
    font-size: 0
}

.edit-bar__container:after {
    content: "";
    display: inline-block;
    width: 100%
}

.edit-bar__title {
    display: inline-block;
    font-size: 1.1875rem
}

.edit-bar__title h2,.edit-bar__title h3,.edit-bar__title h4 {
    display: inline;
    margin: 0;
    padding: 0
}

.edit-bar__action {
    display: inline-block;
    font-size: 1rem;
    margin-right: 10px
}

.ghost-button {
    border: 0px;
    background: transparent;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #d4351c;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.red {
    color: #d4351c !important;
}

#profile-header {
    background: #f3f2f1;
}

/* ==========================================================================
   #SECONDARY NAV
   ========================================================================== */

.moj-sub-navigation {
    margin-bottom: govuk-spacing(7);
}


.moj-sub-navigation__list {
    font-size: 0; // Removes white space when using inline-block on child element.
    list-style: none;
    margin: 0;
    padding: 0;



}


.moj-sub-navigation__item {
    @include govuk-font(19);
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
    display: block;
    margin-top: -1px;

    &:last-child {
        box-shadow: none;
    }

    @include govuk-media-query($from: tablet) {
        box-shadow: none;
        display: inline-block;
        margin-right: govuk-spacing(4);
        margin-top: 0;
    }

}


.moj-sub-navigation__link {
    @include govuk-link-common;
    @include govuk-link-style-default;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: govuk-spacing(3);
    text-decoration: none;
    position: relative;

    @include govuk-media-query($from: tablet) {
        padding-left: 0;
    }

    &:link,
    &:visited {
        color: $govuk-link-colour;
    }

    &:hover {
        color: govuk-tint($govuk-link-colour, 25);
    }

    &:focus {
        color: govuk-colour("black"); // Focus colour on yellow should really be black.
        position: relative; // Ensure focus sits above everything else.
        box-shadow: none;
    }

    &:focus:before {
        background-color: govuk-colour("black");
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5px;
    }

}


.moj-sub-navigation__link[aria-current="page"] {
    color: $govuk-link-active-colour;
    position: relative;
    text-decoration: none;

    &:before {
        background-color: $govuk-link-colour;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 5px;

        @include govuk-media-query($from: tablet) {
            height: 5px;
            width: 100%;
        }

    }

    &:focus:before {
        background-color: govuk-colour("black");
    }

}


.govuk-width-container,
.dps-header__container,
.moj-primary-navigation__container {
    max-width: 1170px !important;
}


.app-back-to-top {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: 50px;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky !important;
}

.app-subnav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none
}

.app-subnav__link {
    padding: 2px 0
}

.app-subnav__section--nested .app-subnav__section-item:before {
    padding-right: 5px;
}

.app-subnav__section-item {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px
}

.app-subnav__section-item--current {
    margin-left: -14px;
    padding-left: 10px;
    border-left: 4px solid #1d70b8;
    background-color: #fff
}

.app-subnav__section-item--current .app-subnav__link {
    font-weight: bold
}

.app-subnav__section--nested {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px
}

.app-subnav__section--nested .app-subnav__section-item:before {
    content: "—";
    margin-left: -20px;
    color: #505a5f
}

.app-subnav__section--nested .app-subnav__link {
    padding-left: 0;
    font-weight: normal
}

.app-subnav__theme {
    margin: 0;
    padding: 10px 15px 10px 0;
    color: #505a5f;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25
}

.app-summary-card__title {

    font-size: 1.5rem !important;
}

.profile-header {
    padding: 20px;
}

#risk-tags {
    background: #f3f2f1;
    padding: 20px 0px;
}

#dps-menu {
    background: #f3f2f1;
}

.center {
    text-align: center;
}

.textright {
    text-align: right;
}

.right {
    float: right;
}

.dot {
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: #00703c;
}

.yellow {
    background-color: #ffdd00;
}

.grey {
    background-color: #b1b4b6;
}

.blue,
.blue p,
.blue h1,
.blue h2,
.blue .govuk-caption-m {
    background-color: #1d70b8;
    color: white !important;
}

.red {
    background-color: #d4351c;
}

.filters {
    background-color: #f3f2f1 !important;
    padding: 15px 10px 10px 0px;
}

.table-panel {
    padding: 15px;
    border: 1px solid #b1b4b6;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(240, 240, 240, 1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(240, 240, 240, 1);
    box-shadow: 4px 4px 5px 0px rgba(240, 240, 240, 1);
}

.pie-chart {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
}

.slice {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, 100px, 200px, 100px);
    border-radius: 50%;
}

.one {
    transform: rotate(60deg);
    background-color: #f44336;
}

.two {
    transform: rotate(180deg);
    background-color: #4caf50;
}

.three {
    transform: rotate(300deg);
    background-color: #2196f3;
}

.line-graph {
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    position: relative;
}

.line {
    position: absolute;
    width: 100%;
    height: 100%;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f44336;
    border-radius: 50%;
}

.point:nth-child(1) {
    left: 10%;
    bottom: 30%;
}

.point:nth-child(2) {
    left: 30%;
    bottom: 50%;
}

.point:nth-child(3) {
    left: 50%;
    bottom: 10%;
}

.point:nth-child(4) {
    left: 70%;
    bottom: 80%;
}

/* arrow icon for ascending sort */
.sort-asc::after {
    content: '\25b2';
    /* up triangle */
    font-size: 10px;
    margin-left: 5px;
}

/* arrow icon for descending sort */
.sort-desc::after {
    content: '\25bc';
    /* down triangle */
    font-size: 10px;
    margin-left: 5px;
}

/* Masthead from CIAG prototype hub */
app-masthead {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: $govuk-brand-colour;
    margin-top: -20px;
}

@media (min-width: 40.0625em) {
    .app-masthead {
        padding-top: 40px;
    }
}

.app-masthead__title,
.app-masthead__subtitle,
.app-masthead p {
    color: #ffffff !important;
}

.app-masthead__subtitle {
    font-weight: normal !important;
}

/* Summary card from CIAG */
.app-summary-card {
    border: 1px solid $govuk-border-colour;

    /* Card header */
    .app-summary-card__header {
        align-items: center;
        background-color: govuk-colour("light-grey");
        padding: govuk-spacing(3);

        @include govuk-media-query($from: desktop) {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    }

    .app-summary-card__title {
        @include govuk-font($size: 19);
        font-weight: bold;
        margin: 0;
    }

    .app-summary-card__meta {
        @include govuk-font($size: 16);
        display: block;
        margin: 0;
    }

    .app-summary-card__actions {
        @include govuk-font($size: 19);
    }

    .app-summary-card__actions-list {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .app-summary-card__actions-list-item {
        display: block;
        white-space: nowrap;

        @include govuk-media-query($from: desktop) {
            display: inline-block;
            margin-left: govuk-spacing(2);
            text-align: right;
        }
    }

    .app-summary-card__actions-list-item:first-child {
        margin-left: 0;
    }

    /* Card body */
    .app-summary-card__body {
        @include govuk-font($size: 19);
        padding: govuk-spacing(3);
    }

    .app-summary-card__hint {
        @include govuk-font($size: 16);
        margin: 30px 0 10px 0;
        color: $govuk-secondary-text-colour;
    }

    .govuk-table,
    .govuk-summary-list,
    .govuk-table {
        margin-bottom: 0;
    }

    /* .govuk-summary-list__row:last-child,
    .govuk-summary-list__row:last-child > *,
    .govuk-table__row:last-child .govuk-table__cell {
        border-bottom: 0;
    } */
}

.app-summary-card--large-title .app-summary-card__title {
    @include govuk-font($size: 24, $weight: bold);
}

@media print {
    .app-summary-card__header {
        break-inside: avoid;
    }

    .app-summary-card__actions {
        display: none;
    }
}

.govuk-notification-banner__content > * {
    box-sizing: border-box;
    max-width: 100% !important;
}

@import "dpsheader"; //shamelessly stolen these from dps prototype
@import "cards";
@import "width-container"; //(needs base.scss??)
@import "datetime";



$colour1: #FCA311;
$colour2: #14213D;
$colour3: #E5E5E5;

.kanban-view .card,
.pathway-view .card {
    border: 1px solid $govuk-border-colour;
    padding: govuk-spacing(3);
    padding-bottom: 0;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    background-color: govuk-colour("light-grey");
    margin-bottom: govuk-spacing(3);
}

.kanban-view .card p.task,
.pathway-view .card p.task {
    margin-bottom: 0;
}


.kanban-view .card:hover,
.pathway-view .card:hover {
    border-color: $govuk-link-hover-colour;
}

.card-add-new {
    background-color: govuk-colour("white");
    border-style: dashed;
}

.badge {
    background-color: govuk-colour("black");
    color: govuk-colour("white");
    padding: govuk-spacing(1);
    margin-bottom: govuk-spacing(3);
    border-radius: 3px;
    display: inline-block;
}

.badge-housing {
    background-color: govuk-colour("orange");
}

.badge-work {
    background-color: govuk-colour("green");
}

.badge-id {
    background-color: govuk-colour("bright-purple");
}


.due-date {
    display: block;
}


.header {
    padding: govuk-spacing(5) 0;
    border-top: 7px solid $colour2;
}

// .header h1 {
//     color: govuk-colour("dark-grey");
// }



// .govuk-footer__meta {
//     display: none;
// }

._body,
._html {
    background-color: govuk-colour("light-grey");
}

.govuk-header--override {
    background-color: govuk-colour("white");
    color: $colour2;
}

.govuk-header--override .govuk-header__content {
    padding: 0 govuk-spacing(2);
}

.govuk-header--override .govuk-header__menu-button {
    color: $colour2;
    top: 12px;
    right: 10px;
}

.govuk-header__service-name {
    color: $colour2;
}

.govuk-header--override .govuk-header__link:link,
.govuk-header--override .govuk-header__link:visited {
    color: $colour2;
}

.govuk-header--override .govuk-header__container {
    border-bottom: none;
}

.list-menu li {
    padding: 4px govuk-spacing(2);
}

.list-menu li:first-child {
    border-right: 3px solid $colour1;
    padding-left: 0;
    padding-right: 20px;
    font-weight: bold;
}

.hero {
    background-color: $colour2;
    padding: 40px 5px 0 5px;
}

.hero-container {
    background-color: darken($colour1, 4%);
    padding: 30px;
    border-radius: 20px 20px 0 0;
    border: 1px solid lighten($colour2, 4%);
    border-bottom: 0;
    // -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    // -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
    // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}

.hero-container li {
    background-color: lighten($colour1, 1%);
    border-radius: 12px;
    padding: 20px 25px;
}

.hero h1,
.hero ul,
.hero li,
.hero a,
.list-menu a {
    color: $colour2 !important;
}


.hero .text-on-dark-bg {
    color: govuk-colour("white") !important;
}


// .govuk-tabs__list-item {
//     border-radius: 8px 8px 0 0;
//     border-color: govuk-colour("white") !important
// }

// .govuk-tabs__panel {
//     background-color: govuk-colour("white");
//     border-radius: 0px 8px 8px 8px;
//     border-color: govuk-colour("white") !important
// }

// .govuk-tabs__list {
//     border-bottom-color: govuk-colour("white") !important;
//     border-bottom-width: 0 !important;
// }



// .govuk-tabs__panel h2 {
//     color: $colour1 !important;
// }

// .govuk-tabs--override .govuk-tabs__list-item:before{
//     content: none;
//     padding-right: 0;
// }

// Button menu svg fix


/* TOGGLE BUTTON */
.moj-button-menu__toggle-button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
  }
  .moj-button-menu__toggle-button:last-child {
    margin-right: 0;
  }
  .moj-button-menu__toggle-button:after {
    background-repeat: no-repeat;
    background-image: url(/public/images/icon-arrow-white-down.svg) !important;
    content: "";
    display: inline-block;
    height: 5px;
    margin-left: 10px;
    width: 10px;
    vertical-align: middle;
  }
  
  .moj-button-menu__toggle-button:focus:after {
    background-image: url(/public/images/icon-arrow-black-down.svg);
  }
  
  .moj-button-menu__toggle-button[aria-expanded=true]:focus:after {
    background-image: url(/public/images/icon-arrow-black-up.svg);
  }
  
  .moj-button-menu__toggle-button:hover:after {
    background-image: url(/public/images/icon-arrow-white-down.svg);
  }
  
  .moj-button-menu__toggle-button[aria-expanded=true]:hover:after {
    background-image: url(/public/images/icon-arrow-white-up.svg);
  }
  
  .moj-button-menu__toggle-button[aria-expanded=true]:after {
    background-image: url(/public/images/icon-arrow-white-up.svg);
  }
  
  .moj-button-menu__toggle-button--secondary {
    margin-bottom: 5px;
    margin-right: 0;
  }
  .moj-button-menu__toggle-button--secondary:after {
    background-image: url(/public/images/icon-arrow-black-down.svg);
  }
  
  .moj-button-menu__toggle-button--secondary[aria-expanded=true]:after {
    background-image: url(/public/images/icon-arrow-black-up.svg);
  }
  
  .moj-button-menu__toggle-button--secondary:hover:after {
    background-image: url(/public/images/icon-arrow-black-down.svg);
  }
  
  .moj-button-menu__toggle-button--secondary[aria-expanded=true]:hover:after {
    background-image: url(/public/images/icon-arrow-black-up.svg);
  }


.hook {
    display: block;
    padding: 60px 20px;
    border-radius: 15px;
    margin: 20px 0 10px 0;
    font-size: 28px;
    color: govuk-colour("white") !important;
    text-decoration: none;
}


.hook1 {
    background-color: darken(govuk-colour("turquoise"), 4%);
}

.hook2 {
    background-color: darken(govuk-colour("dark-blue"), 4%);
}

.hook3 {
    background-color: govuk-colour("bright-purple");
}

.goals-list li {
    border-left: 5px solid $colour1;
    padding: 5px 10px;
}

#dirty-modal {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(20, 33, 61, 0.8);
}

.prompt-container {
    background-color: govuk-colour("white");
    margin: 50px;
    padding: 20px 50px 50px;
    border-radius: 8px;
}

.prompt-container button {
    background-color: $colour2;
    box-shadow: 0 2px 0 $colour1;
}



@media (max-width: 40.0525em) {
    // .govuk-tabs--override .govuk-tabs__title{
    //     display: none;
    // }

    // .govuk-tabs--override .govuk-tabs__list {
    //     display: none;
    // }

    // .govuk-tabs--override .govuk-tabs__panel {
    //     padding: govuk-spacing(2)
    // }
}

// .btn-add {
//     background-color: $colour2;
//     border-radius: 3px;
//     padding: govuk-spacing(2);
//     color: govuk-colour("white");
// }


.footer {
    padding-bottom: govuk-spacing(5);
}


// html, body {
//     height: 100%;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     font: 18px Helvetica;
//   }

#fullDiv {
    // position: absolute;
    // margin: 0;
    // padding: 0;
    // left: 0;
    // top: 0;
    // bottom: 0;
    right: 0;
    overflow: hidden;
}

#fullDiv ul {
    margin: 0;
    padding: 0;
}

#fullDiv li {
    float: left;
    display: block;
    width: 14.2857%;
    height: 100px;
    text-align: center;
    list-style-type: none;
}

#fullDiv li:nth-child(n+1):nth-child(-n+7) {
    font-weight: 900;
    color: $colour1;
}

#fullDiv li:nth-child(n+39),
#fullDiv li:nth-child(n+8):nth-child(-n+19) {
    font-weight: 900;
    color: rgba(0, 0, 0, .3);
}

#fullDiv li:hover:nth-child(n+8):nth-child(-n+38),
#fullDiv li:nth-child(20) {
    border-radius: 5px;
    background-color: $colour2;
    color: #ecf0f1;
    cursor: pointer;
}

#fullDiv li.task {
    color: govuk-colour("white") !important;
    font-size: 16px;
    padding-left: 10px;
    width: auto;
}

.panel-wrapper-left {
    background-color: govuk-colour("white");
    border-radius: 8px;
}

li.hook {
    padding: 20px;
    margin: 15px;

}

li.hook-selected {
    color: darken(govuk-colour("turquoise"), 4%) !important;
    background-color: govuk-colour("white");
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}


.report-content img {
    display: block;
    width: 100%;
    margin: 15px 0;
}

.icon-passport {
    width: 30px;
}

.alternative-row-bg {
    background-color: govuk-colour("light-grey");
    padding: 10px;
}



.strikethrough {
    text-decoration: line-through;
}


// CARDS 
 
    
.card-group .card {
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #d9dadb;
  position: relative;
  width: 100%;
  padding: 25px;
  border-bottom-width: 5px;
}

.card__heading {
  margin-top: 0;
  margin-bottom: 15px
}

.card__description {
  margin-bottom: 0
}

.card--clickable {
  border-bottom-width: 5px
}

.card--clickable:hover,.card--clickable:active {
  cursor: pointer
}

.card--clickable:hover .card__heading a,.card--clickable:hover .card__link,.card--clickable:active .card__heading a,.card--clickable:active .card__link {
  color: #003078;
  text-decoration: none
}

.card--clickable:hover .card__heading a:focus,.card--clickable:hover .card__link:focus,.card--clickable:active .card__heading a:focus,.card--clickable:active .card__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  text-decoration: none
}

.card--clickable:hover {
  border-color: #b1b4b6
}

.card--clickable:active {
  border-color: #b1b4b6;
  bottom: -1px
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 0
}

@media(max-width: 48.0525em) {
  .card-group {
    margin-bottom:30px
  }
}

.card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0
}

@media(max-width: 48.0525em) {
  .card-group__item {
    flex:0 0 100%
  }
}

.card-group__item .card {
  margin-bottom: 25px
}

@media(max-width: 48.0525em) {
  .card-group__item .card {
    margin-bottom:15px
  }

  .card-group__item:last-child .card {
    margin-bottom: 0
  }
}


.app-card {
  background-color: govuk-colour("light-grey");
  display: block;
  padding: govuk-spacing(2);
  text-decoration: none;




 
  padding: govuk-spacing(4);
}


.app-card--blue {
  background: govuk-colour("blue");
  color: govuk-colour("white");
}