{% extends "layouts/hmpps-logged-in-nav.html" %}

{% set pageName="Confirm" %}

{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Confir Bridget Mann's details</h1>
    <p class="govuk-body">
      Taken from NDelius, <strong>Wed 4 Sep 2024</strong>
    </p>


<dl class="govuk-summary-list" data-cy-person-info="true">


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Name
  </dt>
  <dd class="govuk-summary-list__value">
    Bridget Mann
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    CRN
  </dt>
  <dd class="govuk-summary-list__value">
    X371199
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Date of Birth
  </dt>
  <dd class="govuk-summary-list__value">
    24 Apr 1993
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    NOMIS Number
  </dt>
  <dd class="govuk-summary-list__value">
    A7779DY
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Nationality
  </dt>
  <dd class="govuk-summary-list__value">
    British
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Religion or belief
  </dt>
  <dd class="govuk-summary-list__value">
    Apostolic
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Sex
  </dt>
  <dd class="govuk-summary-list__value">
  Female
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Gender Identity
  </dt>
  <dd class="govuk-summary-list__value">
    Female
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Status
  </dt>
  <dd class="govuk-summary-list__value">
    <strong class="govuk-tag " data-cy-status="InCustody">In Custody</strong>
  </dd>
  
</div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Prison
  </dt>
  <dd class="govuk-summary-list__value">
    Moorland (HMP &amp; YOI)
  </dd>
  
</div>


</dl>





    

    <p class="govuk-body">If these details are wrong, update this case in NDelius before you start.</p>
    <p class="govuk-body">If you've entered the wrong CRN, go back to the CRN screen.</p>

    

  


<a href="select-offence" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
Save and continue
</a>


    <p class="govuk-body">
      <a href="/applications/new"> Back to CRN screen </a>
    </p>
  </div>
</div>

{% endblock %}