{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layout.html" %}

{% block pageTitle %}
 Access needs
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Access needs</h1>

    {{ govukRadios({
      idPrefix: "wheelchair-use",
      name: "wheelchair-use",
      fieldset: {
        legend: {
          text: "Does the person require use of a wheelchair?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: '<p>If the person requires use of a wheelchair around the Approved Premises select yes. <a href="">What wheelchair accessibiltiy means within an AP.</a></p>'
      },
      items: [
        {
          value: "requires-wheelchair",
          text: "Yes"
        },
        {
          value: "doesnt-requires-wheelchair",
          text: "No"
        }
      ]
    }) }}

    <!-- Checkboxes -->
    <form action="/access-needs-selected" method="post" novalidate>

    {{ govukCheckboxes({
      idPrefix: "healthcare-needs",
      name: "healthcare-needs",
      fieldset: {
        legend: {
          text: "Does the person have any of the following needs?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, if the person has a visual impairment, uses a hearing aid or has a learning difficulty."
      },
      items: [
        {
          value: "mobility-needs",
          text: "Mobility needs"
        },
        {
          value: "visual-impairment",
          text: "Visual impairment"
        },
        {
          value: "laerning-disability",
          text: "Learning disability"
        },
        {
          value: "hearing-impairment",
          text: "Hearing impairment"
        },
        {
          value: "neurodivergent",
          text: "Neurodivergent conditions"
        }
      ]
    }) }}


      <!-- Text area -->

    {{ govukTextarea({
      name: "positive-location-factors",
      id: "positive-location-factors",
      label: {
        text: "Provide details",
        classes: "govuk-label--s",
        isPageHeading: true
        }
       }) }}


      <!-- Radio area -->

        {% set placementRestrictions %}
        {{ govukTextarea({
          id: "placement-location-restrictions",
          name: "placement-location-restrictions",
          type: "textarea",
          spellcheck: false,
          classes: "textarea",
          label: {
            text: "Give details of any positive factors for the person in this location."
          }
        }) }}
      {% endset -%}

      {% set needInterpreter %}
      {{ govukInput({
        id: "interpreter-required",
        name: "interpreter-required",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Which language?"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "interpreter-radios",
        name: "interpreter-radios",
        fieldset: {
          legend: {
            text: "Does the person need an interpreter?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes-interpreter",
            text: "Yes",
            conditional: {
              html: needInterpreter
            }
          },
          {
            value: "no-interpreter",
            text: "No"
          }
        ]
      }) }}





      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>


  </div>
</div>



{% endblock %}
