{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
{%- from "moj/components/search/macro.njk" import mojSearch -%}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}


{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      text: 'Apply',
      href: '../pp-dashboard'
    },
    {
      text: 'Search',
      href: '/search/search',
      active: true
    }
  ]
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}


{% block content %}
 


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Search for an application</h2>
     

        {{ mojSearch({
          input: {
            id: 'search',
            name: 'search'
          },
          label: {
            text: 'Find an application',
            classes: 'govuk-!-font-weight-bold'
          },
          hint: {
            text: 'You can search for a person name or CRN'
          },
          button: {
            text: 'Search',
            href: "/search/search-results.html"
          }
        }) }}

      
  </div>
</div>


{% endblock %}
