{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}


{% block content %}
 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">This person is not eligible for an ESAP placement</h1>

    <p>The following eligibility criteria applies to ESAP placements: </p>


    <p>You can continue with an application for a standard AP placement. Or you can withdraw your application by returning to the dashboard.</p>

  
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue with application",
        href: "../task-list-standard"
      }) }}
      <a class="govuk-link" href="../pp-dashboard.html">Back to dashboard</a>
    </div>
   
  </div>
</div>


{% endblock %}
