{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}




{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/manage/ap-list"
  }) }}
{% endblock %}


{% block content %}
 


<div class="govuk-grid-row">


  <div style="float: right;">
    {{ mojButtonMenu({
      items: [{
        text: "Create a manual  placement",
        href: "/manage/create-placement/enter-crn"
      }, {
        text: "Mark beds as out of service",
        href: "/manage/lost-beds",
        classes: "govuk-button--secondary"
      }, {
        text: "Manage out of service beds",
        href: "/manage/out-of-service-beds-board",
        classes: "govuk-button--secondary"
      }]
    }) }}
  </div>

  <div>
    <h2 class="govuk-heading-l">Cuthbert House Approved Premises</h2>


    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Code"
          },
          value: {
            text: "BDFORD"
          }
        },
        {
          key: {
            text: "Postcode"
          },
          value: {
            text: "	GL56 0QQ"
          }
        },
        {
          key: {
            text: "Number of beds"
          },
          value: {
            text: "30"
          }
        },
        {
          key: {
            text: "Available beds"
          },
          value: {
            text: "4"
          }
        }
      ]
    }) }}

  </div>

  <div class="govuk-grid-column-full-width">
    
    <h2 class="govuk-label--l">Arrivals and departures</h2>
  <br>
    {% set arrivingToday %}
    <h2 class="govuk-heading-l">Arriving today</h2>
    {{ govukTable({
      head: [
        {
          text: "Name"
        },
        {
          text: "CRN"
        },
        {
          text: "Arrival date"
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "David Francis"
          },
          {
            text: "PR5E5Y2"
          },
          {
            text: "23 Mar 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-new">View</a></p>'
          }
        ],
        [
          {
            text: "Glen Farthing"
          },
          {
            text: "N6OUTAY"
          },
          {
            text: "23 Mar 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-new">View</a></p>'
          }
        ],
        [
          {
            text: "Derek Dickson"
          },
          {
            text: "DO372B1"
          },
          {
            text: "23 Mar 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-new">View</a></p>'
          }
        ]
      ]
    }) }}
    {% endset -%}

    {% set departingToday %}
    <h2 class="govuk-heading-l">Departing today</h2>
    <p>There are no planned departures today.</p>
    {% endset -%}

    {% set upcomingArrivals %}
    <h2 class="govuk-heading-l">Upcoming arrivals</h2>
    {{ govukTable({
      head: [
        {
          text: "Name"
        },
        {
          text: "CRN"
        },
        {
          text: "Arrival date"
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "Jamie Wise"
          },
          {
            text: "HRV83TE"
          },
          {
            text: "23 Mar 2023"
          },
          {
            html: '<p><a href="">View</a></p>'
          }
        ],
        [
          {
            text: "Michael Shoa"
          },
          {
            text: "HTVI42B"
          },
          {
            text: "23 Mar 2023"
          },
          {
            html: '<p><a href="">View</a></p>'
          }
        ],
        [
          {
            text: "Patrick Hemsling"
          },
          {
            text: "Z33A1BU"
          },
          {
            text: "23 Mar 2023"
          },
          {
            html: '<p><a href="">View</a></p>'
          }
        ]
      ]
    }) }}
    {% endset -%}

  

    {% set upcomingDepartures %}
    <h2 class="govuk-heading-l">Upcoming departures</h2>
    {{ govukTable({
      head: [
        {
          text: "Name"
        },
        {
          text: "CRN"
        },
        {
          text: "Departure date"
        },
        {
          text: ""
        }
      ],
      rows: [
        [
          {
            text: "Josh Jones"
          },
          {
            text: "BWEFOI7"
          },
          {
            text: "30 Mar 2023"
          },
          {
            html: '<p><a href="">View</a></p>'
          }
        ],
        [
          {
            text: "Darren Wilson"
          },
          {
            text: "4ZUIHFX"
          },
          {
            text: "30 Mar 2023"
          },
          {
            html: '<p><a href="">View</a></p>'
          }
        ],
        [
          {
            text: "Abdul Mohammed"
          },
          {
            text: "QA93YYK"
          },
          {
            text: "30 Mar 2023"
          },
          {
            html: '<p><a href="">View</a></p>'
          }
        ]
      ]
    }) }}
    {% endset -%}

    {{ govukTabs({
      items: [
        {
          label: "Arriving today",
          id: "arriving-day",
          panel: {
            html: arrivingToday
          }
        },
        {
          label: "Departing today",
          id: "departing-today",
          panel: {
            html: departingToday
          }
        },
        {
          label: "Upcoming arrivals",
          id: "upcoming-arrivals",
          panel: {
            html: upcomingArrivals
          }
        },
        {
          label: "Upcoming departures",
          id: "upcoming-departures",
          panel: {
            html: upcomingDepartures
          }
        }
      ]
    }) }}

    </div>


  <div class="govuk-grid-column-full-width">
    <h2 class="govuk-label--l">Current residents</h2>
  
    {{ govukTable({
      head: [
        {
          text: "Resident name"
        },
        {
          text: "CRN"
        },
        {
          text: "Arrival date"
        },
        {
          text: "Departure date"
        },
        {
          text: "Action"
        }
      ],
      rows: [
        [
          {
            text: "Darius Salmon"
          },
          {
            text: "HUN3BN0"
          },
          {
            text: "18 Mar 2023"
          },
          {
            text: "18 May 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-current">View</a></p>'
          }
        ],
        [
          {
            text: "Javid Salan"
          },
          {
            text: "315VWWC"
          },
          {
            text: "1 Feb 2023"
          },
          {
            text: "1 May 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-current">View</a></p>'
          }
        ],
        [
          {
            text: "Keith Coundon"
          },
          {
            text: "4Y29R9P"
          },
          {
            text: "7 Feb 2023"
          },
          {
            text: "7 May 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-current">View</a></p>'
          }
        ],
        [
          {
            text: "Paul Simon"
          },
          {
            text: "52W7TQG"
          },
          {
            text: "1 Feb 2023"
          },
          {
            text: "1 May 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-current">View</a></p>'
          }
        ],
        [
          {
            text: "Joshua Twoomey"
          },
          {
            text: "JCRH9V5"
          },
          {
            text: "27 Jan 2023"
          },
          {
            text: "27 Apr 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-current">View</a></p>'
          }
        ],
        [
          {
            text: "Abdul Mohammed"
          },
          {
            text: "QA93YYK"
          },
          {
            text: "19 Jan 2023"
          },
          {
            text: "19 Apr 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-current">View</a></p>'
          }
        ],
        [
          {
            text: "Darren Wilson"
          },
          {
            text: "4ZUIHFX"
          },
          {
            text: "8 Jan 2023"
          },
          {
            text: "8 Apr 2023"
          },
          {
            html: '<p><a href="/manage/resident-information-current">View</a></p>'
          }
        ],
        [
        {
          text: "Josh Jones"
        },
        {
          text: "BWEFOI7"
        },
        {
          text: "1 Jan 2023"
        },
        {
          text: "4 Apr 2023"
        },
        {
          html: '<p><a href="/manage/resident-information-current">View</a></p>'
        }
      ]
      ]
    }) }}



</div>





</div>


{% endblock %}
