{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}


{% block content %}
 


<div class="govuk-grid-row">



       


<div class="govuk-grid-column-full-width">

  <h2 class="govuk-heading-l">List of Approved Premises</h2>

  <p><strong>Your Approved Premises: </strong><a href="/manage/ap-dashboard">Cuthbert House</a></p>


  {% set regionalApList %}

  <p class="govuk-label--m">North East Approved Premises</p>
  {{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Name"
    },
    {
      text: "Code"
    },
    {
      text: "Number of beds"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        text: "Albion Street"
      },
      {
        text: "ALBNST"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Cardigan House"
      },
      {
        text: "CDNHS"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Cuthbert House"
      },
      {
        text: "CUNE"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Elm Bank"
      },
      {
        text: "ELMBK"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Holbeck House"
      },
      {
        text: "HLBKHS"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Nelson House"
      },
      {
        text: "NLSNH"
      },
      {
        text: "20"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Norfolk Park"
      },
      {
        text: "NLFKPK"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Ozanam House"
      },
      {
        text: "OZNMH"
      },
      {
        text: "30"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Pennywell House"
      },
      {
        text: "PNNWLH"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Ripon House"
      },
      {
        text: "RPNHS"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Rookwood"
      },
      {
        text: "RKWOD"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Southview"
      },
      {
        text: "STHVW"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "St Christopher’s"
      },
      {
        text: "STCRS"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "St John's"
      },
      {
        text: "STJNS"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "The Crescent"
      },
      {
        text: "THCRST"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "The Crescent"
      },
      {
        text: "THCRST"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Town Moor"
      },
      {
        text: "TWNMR"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Victoria House"
      },
      {
        text: "VICHS"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Westgate"
      },
      {
        text: "WSTG"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Wordsworth House"
      },
      {
        text: "WRDWHS"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ]
  ]
}) }}

{% endset -%}

{% set nationalApList %}
<p class="govuk-label--m">National Approved Premises</p>
{{ govukTable({
firstCellIsHeader: true,
head: [
  {
    text: "Name"
  },
  {
    text: "Code"
  },
  {
    text: "Number of beds"
  },
  {
    text: ""
  }
],
rows: [
  [
    {
      text: "Beckenham Road"
    },
    {
      text: "BCKNHAM"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Bedford AP"
    },
    {
      text: "BDFORD"
    },
    {
      text: "30"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Cuthbert House"
    },
    {
      text: "CUNE"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ]
]
}) }}

{% endset %}

{{ govukTabs({
  items: [
    {
      label: "Region",
      id: "past-day",
      panel: {
        html: regionalApList
      }
    },
    {
      label: "National",
      id: "past-week",
      panel: {
        html: nationalApList
      }
    }
  ]
}) }}

</div>
</div>


{% endblock %}
