{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}


{% block content %}
 


<div class="govuk-grid-row">



       


<div class="govuk-grid-column-full-width">

  <h2 class="govuk-heading-l">List of Approved Premises</h2>

  <p><strong>Your Approved Premises: </strong><a href="/manage/ap-dashboard">Cuthbert House</a></p>


  {% set regionalApList %}

  <p class="govuk-label--m">North East Approved Premises</p>
  {{ govukTable({
  firstCellIsHeader: true,
  head: [
    {
      text: "Name"
    },
    {
      text: "PDU region"
    },
    {
      text: "PDU area"
    },
    {
      text: "Number of beds"
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        text: "Cuthbert House"
      },
      {
        text: "North East"
      },
      {
        text: "Tyne and Wear"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Nelson House"
      },
      {
        text: "North East"
      },
      {
        text: "Tees Valley"
      },
      {
        text: "20"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Ozanam House"
      },
      {
        text: "North East"
      },
      {
        text: "Tyne and Wear"
      },
      {
        text: "30"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Pennywell House"
      },
      {
        text: "North East"
      },
      {
        text: "Tyne and Wear"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "St Christopher’s"
      },
      {
        text: "North East"
      },
      {
        text: "Tyne and Wear"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    
    [
      {
        text: "The Crescent"
      },
      {
        text: "North East"
      },
      {
        text: "Tees Valley"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ]
  ]
}) }}

{% endset -%}

{% set nationalApList %}
<p class="govuk-label--m">National Approved Premises</p>
{{ govukTable({
firstCellIsHeader: true,
head: [
  {
    text: "Name"
  },
  {
    text: "PDU region"
  },
  {
    text: "PDU area"
  },
  {
    text: "Number of beds"
  },
  {
    text: ""
  }
],
rows: [
[
      {
        text: "Cardigan House"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Leeds"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Elm Bank"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Kirklees"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Holbeck House"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Leeds"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Norfolk Park"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Sheffield"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Ripon House"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Leeds"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Rookwood"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Rotherham Metropolitan Borough"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Southview"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "York"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "St John's"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Leeds"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Town Moor"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Doncaster"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Victoria House"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "North Lincolnshire"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
    [
      {
        text: "Westgate"
      },
      {
        text: "Yorkshire and the Humber"
      },
      {
        text: "Wakefield"
      },
      {
        text: "24"
      },
      {
        html: '<p><a href="/manage/ap-dashboard">View</a></p>'
      }
    ],
  [
    {
      text: "Astral Grove"
    },
    {
      text: "East Midlands"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Augustus House"
    },
    {
      text: "AUGSHS"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Beckenham Road"
    },
    {
      text: "BKHMR"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Bilston"
    },
    {
      text: "BLSN"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Braley House"
    },
    {
      text: "BRLYHS"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Burdett Lodge"
    },
    {
      text: "East Midlands"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Camden House"
    },
    {
      text: "CMDNH"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Canadian Avenue"
    },
    {
      text: "CNADA"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Carpenter House"
    },
    {
      text: "CRPTRH"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Crowley House"
    },
    {
      text: "CRWYHS"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Ealing"
    },
    {
      text: "EALG"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Ellison House"
    },
    {
      text: "ELNHS"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Elliott House"
    },
    {
      text: "ELLHS"
    },
    {
      text: "20"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Hestia Battersea"
    },
    {
      text: "HSTBA"
    },
    {
      text: "30"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Hestia Streatham"
    },
    {
      text: "HSTSTR"
    },
    {
      text: "30"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Howard House"
    },
    {
      text: "East Midlands"
    },
    {
      text: "30"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Jackie Harriett House"
    },
    {
      text: "JHHS"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Katherine Price Hughes House"
    },
    {
      text: "KPPH"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Kelley Lodge"
    },
    {
      text: "KLYL"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Kew"
    },
    {
      text: "KEW"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Kirk Lodge"
    },
    {
      text: "East Midlands"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "McIntyre House"
    },
    {
      text: "MCINTH"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Seafield Lodge"
    },
    {
      text: "SFLDL"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Southwell House"
    },
    {
      text: "East Midlands"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Staitheford House"
    },
    {
      text: "STHFHS"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Stonnall Road"
    },
    {
      text: "STNRD"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Sycamore Lodge"
    },
    {
      text: "SYCLD"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Trent House"
    },
    {
      text: "East Midlands"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Tulse Hill"
    },
    {
      text: "TLSHL"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Wenger House"
    },
    {
      text: "WNGHS"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Westbourne House"
    },
    {
      text: "WSTBH"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ],
  [
    {
      text: "Wharflane House"
    },
    {
      text: "WHFLH"
    },
    {
      text: "24"
    },
    {
      html: '<p><a href="/manage/ap-dashboard">View</a></p>'
    }
  ]
]
}) }}

{% endset %}

{{ govukTabs({
  items: [
    {
      label: "Region",
      id: "past-day",
      panel: {
        html: regionalApList
      }
    },
    {
      label: "National",
      id: "past-week",
      panel: {
        html: nationalApList
      }
    }
  ]
}) }}

</div>
</div>


{% endblock %}
