{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/manage/resident-information"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Appeal placement</h2>
   
      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Alan Brown"
          }
        },
        {
          key: {
            text: "CRN"
          },
          value: {
            text: "315VWWC"
          }
        },
        {
            key: {
              text: "Arrival date"
            },
            value: {
              text: "24 March 2023"
            }
          },
          {
            key: {
              text: "Departure date"
            },
            value: {
              text: "24 June 2023"
            }
          },
          {
            key: {
              text: "Bed"
            },
            value: {
              text: "7"
            }
          },
          {
            key: {
              text: "Current location"
            },
            value: {
              text: "HMP Northumberland"
            }
          }
        ]
      }) }}

      
      {{ govukRadios({
        name: "appeal-reason",
        fieldset: {
          legend: {
            text: "Why are you appealing this placement?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "mix-behaviour-types",
            text: "Mix of offence and behaviour types in the AP"
          },
          {
            value: "co-accused",
            text: "Co-accused"
          },
          {
            value: "gangs",
            text: "Gang / rival members"
          }
        ]
      }) }}


      <p class="govuk-label--m">Approved Premises Area Manager (APAM) confirmation</p>

      <p>Provide details of the discussion with the APAM about this appeal.</p>


        {{ govukInput({
          label: {
            text: "Name of APAM",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukInput({
          label: {
            text: "APAM email address",
            classes: "govuk-label--s",
            isPageHeading: true
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukTextarea({
          name: "appeal-notes",
          id: "appeal-notes",
          label: {
            text: "Briefly outline your discussion with the APAM",
            classes: "govuk-label--s"
          }
        }) }}
        




        {{ govukButton({
          text: "Save and continue",
          href: "/manage/resident-information"
        }) }}
  </div>
</div>


{% endblock %}
