{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/manage/resident-information-current"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l"> Log a departure </h2>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Person Name"
          }
        },
        {
          key: {
            text: "CRN"
          },
          value: {
            text: "315VWWC"
          }
        },
        {
            key: {
              text: "Arrival date"
            },
            value: {
              text: "24 March 2023"
            }
          },
          {
            key: {
              text: "Expected departure date"
            },
            value: {
              text: "24 June 2023"
            }
          }
        ]
      }) }}
  
      {{ govukDateInput({
        id: "change-departure-date",
        namePrefix: "change-departure-date",
        fieldset: {
          legend: {
            text: "What date did the person depart?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        }
      }) }}
     
      {{ govukInput({
        label: {
          text: "What time did the person depart?",
          classes: "govuk-label--m"
        },
        id: "departure-time",
        name: "departure-time",
        classes: "govuk-input--width-5"
        
      }) }}


      {{ govukRadios({
        name: "departure-reason",
        fieldset: {
          legend: {
            text: "What is the reason for departure?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "hospital",
            text: "Admitted to hospital"
          },
          {
            value: "Arrested",
            text: "Arrested, remanded in custody or sentenced"
          },
          {
            value: "bed-withdrawn",
            text: "Bed withdrawn"
          },
          {
            value: "breach-recall-abscond",
            text: "Breach or recall - Absconded"
          },
          {
            value: "breach-recall-behaviour",
            text: "Breach or recall - Behaviour/increased risk"
          },
          {
            value: "breach-recall-curfew",
            text: "Breach or recall - Curfew"
          },
          {
            value: "breach-recall-licence",
            text: "Breach or recall - Licence or bail conditions"
          },
          {
            value: "breach-recall-drugs",
            text: "Breach or recall - Positive drug tests"
          },
          {
            value: "breach-recall-other",
            text: "Breach or recall - Other"
          },
          {
            value: "deceased",
            text: "Deceased"
          },
          {
            value: "end-of-rotl",
            text: "End of ROTL"
          },
          {
            value: "left-own-volition",
            text: "Left of own volition"
          },
          {
            value: "planned-move-on",
            text: "Planned move on"
          },
          {
            value: "other",
            text: "Other"
          }
        ]
      }) }}

      {{ govukRadios({
        id: "move-on-category",
        name: "move-on-category",
        label: {
          text: "Move on category ",
          classes: "govuk-label--m"
        },
        items: [
          {
            value: "short-term-housing",
            text: "Short-term housing"
          },
          {
            value: "custody",
            text: "Custody"
          },
          {
            value: "deported",
            text: "Deported / Detention centre / IRC"
          },
          {
            value: "housing-association",
            text: "Housing association"
          },
          {
            value: "family",
            text: "Living with family or partner"
          },
          {
            value: "loca-authority",
            text: "Local authority (rented)"
          },
          {
            value: "no-fixed-abode",
            text: "No fixed abode"
          },
          {
            value: "not-applicatble",
            text: "Not applicable"
          },
          {
            value: "owner-occupied",
            text: "Owner occupied"
          },
          {
            value: "private-rented",
            text: "Private rented"
          },
          {
            value: "supported-housing",
            text: "Supported housing"
          },
          {
            value: "transferred-ap",
            text: "Transferred to a different AP"
          }

          
        ]
      }) }}


      
      

        
        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Departure information and notes"
          }
        }) }}


        {{ govukButton({
          text: "Save and continue",
          href: "/manage/resident-information-current"
        }) }}
  </div>
</div>


{% endblock %}
