{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layout.html" %}

{% block pageTitle %}
  Approved Premises - Mark a bed as out of service
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/manage/ap-dashboard"
}) }}
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Mark bed as out of service</h2>
   
 <!-- Number of beds lost -->

      {{ govukSelect({
        id: "room-number",
        name: "room-number",
        label: {
          text: "Room number"
        },
        items: [
          {
            value: "room-1",
            text: " 1"
          },
          {
            value: "room-2",
            text: " 2",
            selected: true
          },
          {
            value: "room-3",
            text: " 3"
          },
          {
            value: "room-4",
            text: " 4"
          }
        ]
      }) }}

      {{ govukSelect({
        id: "bed-number",
        name: "bed-number",
        label: {
          text: "Bed number"
        },
        items: [
          {
            value: "bed-1",
            text: " 1"
          },
          {
            value: "bed-2",
            text: " 2",
            selected: true
          },
          {
            value: "bed-3",
            text: " 3"
          },
          {
            value: "bed-4",
            text: " 4"
          }
        ]
      }) }}


 <!-- Start date -->

      {{ govukDateInput({
        id: "start-date",
        namePrefix: "start-date",
        fieldset: {
          legend: {
            text: "Out of service from",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        }
      }) }}

 <!-- End date -->
      {{ govukDateInput({
        id: "end-date",
        namePrefix: "end-date",
        fieldset: {
          legend: {
            text: "Out of service until",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        }
      }) }}
      <br>
      

      {{ govukRadios({
        idPrefix: "lost-bed-reason",
        name: "lost-placement-reason",
        fieldset: {
          legend: {
            text: "Why is this bed out of service?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
        {
          value: "ap-closure",
          text: "AP closure / operational reduction in capacity (non- FM)"
        },
        {
          value: "doubleroom-risk",
          text: "Double room with single occupancy (risk)"
        },
        {
          value: "doubleroom-other",
          text: "Double room with single occupancy (other)"
        },
        {
          value: "incident",
          text: "Incident not requiring FM repair"
        },
        {
            value: "planned-facilities-management",
            text: "Planned facilities management (FM) works required"
          },
          {
            value: "unplanned-fm",
            text: "Unplanned FM works required"
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "Additional notes",
        id: "Notes",
        label: {
          text: "Provide detail about why the bed is out of service",
          classes: "govuk-label--s"
        },
        hint: {
          text: "If facilities management (FM) works are required you should update this record with any progress of the work."
        }
      }) }}

        {{ govukButton({
          text: "Save and continue",
          href: "/manage/ap-dashboard"
        }) }}
  </div>
</div>


{% endblock %}
