{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}




{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/manage/ap-list"
  }) }}
{% endblock %}


{% block content %}
 


<div class="govuk-grid-row">


 <div style="float: right;">
    {{ mojButtonMenu({
      items: [{
        text: "Manage out of service beds ",
        href: "/manage/out-of-service-beds-board",
        classes: "govuk-button--secondary"
      }]
    }) }}
  </div>

  <div>
    

  </div>


  <div class="govuk-grid-column-full-width">
    <h2 class="govuk-label--l">Manage beds</h2>
  
    {{ govukTable({
      head: [
        {
          text: "Room number"
        },
        {
          text: "Bed number"
        },
        {
          text: "Status"
        },
        {
          text: "Action"
        }
      ],
      rows: [
        [
          {
            text: "1"
          },
          {
            text: "1A"
          },
          {
            text: "Occupied"
          },
          {
            html: '<p><a href="/manage/bed-information">View</a></p>'
          }
        ],
        [
          {
            text: "1"
          },
          {
            text: "1B"
          },
          {
            text: "Available"
          },
          {
            html: '<p><a href="/manage/bed-information">View</a></p>'
          }
        ],
        [
          {
            text: "2"
          },
          {
            text: "2"
          },
          {
            text: "Occupied"
          },
          {
            html: '<p><a href="/manage/bed-information">View</a></p>'
          }
        ],
        [
          {
            text: "3"
          },
          {
            text: "3"
          },
          {
            text: "Occupied"
          },
          {
            html: '<p><a href="/manage/bed-information">View</a></p>'
          }
        ],
        [
          {
            text: "4"
          },
          {
            text: "4"
          },
          {
            text: "Occupied"
          },
          {
            html: '<p><a href="/manage/bed-information">View</a></p>'
          }
        ],
        [
          {
            text: "5"
          },
          {
            text: "5"
          },
          {
            text: "Out of service"
          },
          {
            html: '<p><a href="/manage/bed-information">View</a></p>'
          }
        ],
        [
          {
            text: "6"
          },
          {
            text: "6"
          },
          {
            text: "Available"
          },
          {
            html: '<p><a href="/manage/bed-information">View</a></p>'
          }
        ],
        [
        {
          text: "7"
        },
        {
          text: "7A"
        },
        {
          text: "Occupied"
        },
        {
          html: '<p><a href="/manage/bed-information">View</a></p>'
        }
      ],
      [
        {
          text: "7"
        },
        {
          text: "7B"
        },
        {
          text: "Occupied"
        },
        {
          html: '<p><a href="/manage/bed-information">View</a></p>'
        }
      ],
      [
        {
          text: "8"
        },
        {
          text: "8"
        },
        {
          text: "Available"
        },
        {
          html: '<p><a href="/manage/bed-information">View</a></p>'
        }
      ]
      ]
    }) }}



</div>





</div>


{% endblock %}
