{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/manage/resident-information-current"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l"> Move person to a new bed</h2>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Alan Brown"
          }
        },
        {
          key: {
            text: "CRN"
          },
          value: {
            text: "315VWWC"
          }
        },
        {
            key: {
              text: "Arrival date"
            },
            value: {
              text: "24 March 2023"
            }
          },
          {
            key: {
              text: "Departure date"
            },
            value: {
              text: "24 June 2023"
            }
          },
          {
            key: {
              text: "Room"
            },
            value: {
              text: "4"
            }
          },
          {
            key: {
              text: "Bed"
            },
            value: {
              text: "6"
            }
          }
        ]
      }) }}

      <p><a href="">View occupancy calendar</a></p>

        {{ govukSelect({
          id: "select-person-move",
          name: "select-person-move",
          label: {
            text: "Who do you want to move to this bed?",
            classes: "govuk-label--m"
          },
          items: [
            {
              value: "person-1",
              text: "John Brown"
            },
            {
              value: "person-2",
              text: "Danny Wilson",
              selected: true
            },
            {
              value: "person-3",
              text: "James Smith"
            },
            {
              value: "person-4",
              text: "Abdul Karim"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "date-of-move",
          namePrefix: "date-of-move",
          fieldset: {
            legend: {
              text: "What date do you want to move this person?",
              isPageHeading: true,
              classes: "govuk-label--m"
            }
          }
        }) }}
        
        {{ govukTextarea({
          name: "move-bed-detail",
          id: "move-bed-detail",
          label: {
            text: "What is the reason for moving this person's bed?",
            classes: "govuk-label--m"
          }
        }) }}

        <p>The person will stay in this bed until their departure date</p>

        {{ govukButton({
          text: "Save and continue",
          href: "/manage/resident-information-current"
        }) }}
  </div>
</div>


{% endblock %}
