{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/manage/resident-information-current"
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Change a person’s allocated bed</h2>

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Alan Brown"
          }
        },
        {
          key: {
            text: "CRN"
          },
          value: {
            text: "315VWWC"
          }
        },
        {
            key: {
              text: "Arrival date"
            },
            value: {
              text: "24 March 2023"
            }
          },
          {
            key: {
              text: "Departure date"
            },
            value: {
              text: "24 June 2023"
            }
          },
          {
            key: {
              text: "Room"
            },
            value: {
              text: "4"
            }
          },
          {
            key: {
              text: "Bed"
            },
            value: {
              text: "6"
            }
          }
        ]
      }) }}

      <p><a href="">View occupancy calendar</a></p>

        {{ govukSelect({
          id: "select-person-move",
          name: "select-person-move",
          label: {
            text: "Select a new bed",
            classes: "govuk-label--m"
          },
          items: [
          {
            value: "select-bed",
            text: "Select a bed",
            selected: true
          },
            {
              value: "bed-1",
              text: "1-1"
            },
            {
              value: "bed-2",
              text: "1-2"
            },
            {
              value: "bed-3",
              text: "2-3"
            },
            {
              value: "bed-4",
              text: "3-4"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "date-of-move",
          namePrefix: "date-of-move",
          fieldset: {
            legend: {
              text: "When do you want to change this person’s bed?",
              isPageHeading: true,
              classes: "govuk-label--m"
            }
          }
        }) }}

        <p>The person will be allocated to this new bed for the remainder of their placement.</p>

        
        {{ govukTextarea({
          name: "move-bed-detail",
          id: "move-bed-detail",
          label: {
            text: "Why is this person changing beds?",
            classes: "govuk-label--m"
          }
        }) }}

       
        {{ govukButton({
          text: "Save",
          href: "/manage/resident-information-current"
        }) }}
  </div>
</div>


{% endblock %}
