{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/manage/ap-dashboard"
  }) }}
{% endblock %}


{% block content %}
 <div class="govuk-grid-row">
  <div style="float: right;">
    {{ mojButtonMenu({
      items: [{
        text: "Change placement date",
        href: "/manage/change-placement-date",
        classes: "govuk-button--secondary"
      }, 
      {
        text: "Log a departure",
        href: "/manage/log-a-departure",
        classes: "govuk-button--secondary"
      }, 
      {
        text: "Appeal placement",
        href: "/manage/appeal-placement",
        classes: "govuk-button--secondary"
      },
      {
        text: "Move person to a new bed",
        href: "/manage/move-residents-room",
        classes: "govuk-button--secondary"
      }
      ]
    }) }}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Alan Brown</h2>





    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Alan Brown"
          }
        },
        {
          key: {
            text: "CRN"
          },
          value: {
            text: "315VWWC"
          }
        }
      ]
    }) }}

    <h1 class="govuk-heading-m">Persons information</h1>

   

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Sarah Philips"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "5 January 1978"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}


  

  

  </div>
</div>
</div>


{% endblock %}
