{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/manage/ap-dashboard"
  }) }}
{% endblock %}


{% block content %}
 <div class="govuk-grid-row">
  <div style="float: right;">
    {{ mojButtonMenu({
      items: [{
        text: "Mark as arrived",
        href: "/manage/mark-an-arrival"
      }, {
        text: "Mark as not arrived",
        href: "/manage/mark-non-arrival",
        classes: "govuk-button--secondary"
      }, {
        text: "Change placement date",
        href: "/manage/change-placement-date",
        classes: "govuk-button--secondary"
      }, 
      {
        text: "Cancel placement",
        href: "/manage/cancel-placement",
        classes: "govuk-button--secondary"
      }, 
      {
        text: "Appeal placement",
        href: "/manage/appeal-placement",
        classes: "govuk-button--secondary"
      },
      {
        text: "Move person to a new bed",
        href: "/manage/move-residents-room",
        classes: "govuk-button--secondary"
      }
      ]
    }) }}
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Alan Brown</h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Alan Brown"
          }
        },
        {
          key: {
            text: "CRN"
          },
          value: {
            text: "315VWWC"
          }
        },
        {
          key: {
            text: "Arrival date"
          },
          value: {
            text: ""
          }
        },
        {
          key: {
            text: "Departure date"
          },
          value: {
            text: ""
          }
        },
        {
          key: {
            text: "Length of stay"
          },
          value: {
            text: "12 weeks"
          }
        },
        {
          key: {
            text: "Key worker"
          },
          value: {
            text: "Janice Coundon"
          }
        },
        {
          key: {
            text: "Tier"
          },
          value: {
            html: '<span class="moj-badge moj-badge--green">A1</span>'
          }
        },
        {
          key: {
            text: "Bed"
          },
          value: {
            text: "1-2"
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Application"
          },
          value: {
            html: '<p><a href="">View document</a></p>'
          }
        },
        {
          key: {
            text: "Assessment"
          },
          value: {
            html: '<p><a href="">View document</a></p>'
          }
        },
        {
          key: {
            text: "Matching information"
          },
          value: {
            html: '<p><a href="">View document</a></p>'
          }
        }
      ]
    }) }}

  </div>
</div>
</div>


{% endblock %}
