{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Assessing an application for suitability
        </h1>
  
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
        <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>
  
        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span>Review assessment and documents
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="review-application.html" aria-describedby="eligibility-status">
                    Review application and documents
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="sufficient-information.html" aria-describedby="eligibility-status">
                    Check there is sufficient information to make a decision  
                  </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              </li>
            </ul>
          </li>
  
  <!-- Section 2 -->
  
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span>Assess application
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="assessment-questions-1.html" aria-describedby="company-information-status">
                    Assess suitability of application
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="additional-requirements.html" aria-describedby="contact-details-status">
                    Provide additional requirements for AP 
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/pipe-additional">Additional PIPE information</a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              </li>
            </ul>
          </li>
            </ul>
          </li>
  
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span> Make a decision
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="make-decision.html" aria-describedby="list-convictions-status">
                    Make a decision
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              </li>
            </ul>
          </li>
  
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">4. </span>Provide requirements for matching
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="placement-needs.html" aria-describedby="list-convictions-status">
                    Add additional placement requirements 
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              </li>
            </ul>
          </li>
  
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">5. </span> Check your answers
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="check-answers.html" aria-describedby="list-convictions-status">
                  Check assessment answers
                </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              </li>
            </ul>
          </li>
  
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">6. </span> Submit your application
            </h2>
            
            {{ govukCheckboxes({
              idPrefix: "waste",
              name: "waste",
              items: [
                {
                  value: "submit",
                  text: "I confirm the information provided is complete, accurate and up to date."
                }
              ]
            }) }}
          </li>
        </ol>
  
        {{ govukButton({
          text: "Submit application",
          href: "/assess/suitable-confirmation-standard.html"
        }) }}
  
        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: "/pp-dashboard.html"
        }) }}
  
  
    
      </div>

  </div>
</div>


{% endblock %}
