{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 
    <h2 class="govuk-heading-l">Additional information to support application</h2>
    <p>Provide any additional information that was provided from the probation practicioner to support this application.</p> 
 
   
      {{ govukTextarea({
        name: "assessor-info-requested",
        id: "assessor-info-requested",
        label: {
          text: "Information requested by assessor",
          classes: "govuk-label--s",
          isPageHeading: true
        }
      }) }}

      {{ govukInput({
        id: "date-of-info-request",
        name: "date-of-info-request",
        type: "date",
        classes: "govuk-!-width-one-half",
        label: {
          text: "When did you receive this information?",
          classes: "govuk-label--s"
        }
      }) }}

      {{ govukTextarea({
        name: "assessor-info-received",
        id: "assessor-info-received",
        label: {
          text: "Information received from probation practicioner",
          classes: "govuk-label--s",
          isPageHeading: true
        }
      }) }}

    
        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
