{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/assess/tasklist"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-full-width">
        <h1 class="govuk-heading-xl">Check your answers </h1>

     <h2 class="govuk-heading-m">Screening </h2>
     {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Is there sufficient information in the referral to make a decision?"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Suitability assessment</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Does the application identify the risk factors that an AP placement can support?"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Does the application support how the AP will manage risk factors"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Are there factors to take into account in relation to the location of placement?"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Is the move on plan sufficient?"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Are additional actions required by the probation practitioner to make a placement viable?"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Are any additional curfews / sign ins recommended?"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Are there concerns that the individual poses a potentially unmanageable risk to staff / residents/ others?"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional recommendations for receiving AP manager"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Placement needs</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Essential room requirements"
            },
            value: {
              html: '<ul>
                <li>Mens</li>
                <li>Wheelchair accessible</li>
                </ul>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Desirable room requirements"
            },
            value: {
              html: '<ul>
                <li>Catering</li>
                <li>Arson</li>
                </ul>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-m">Assessment outcome</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Decision reason"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

   
      {{ govukButton({
        text: "Confirm",
        href: "/assess/tasklist"
      }) }}
    </div>
  </div>
{% endblock %}
