{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}

{% endblock %}

{% block content %}
 
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">You have marked this assessment as unsuitable.</h1>
        </div>
  
        <p>
          We’ve sent you a confirmation email.
        </p>
  
        <p>We’ve notified the Probation Practitioner that this application has been rejected as unsuitable for an Approved Premises. </p>

      </div>
      </div>

      {{ govukButton({
        text: "Return to dashboard",
        classes: "govuk-button--secondary",
        href: "/index"
      }) }}
  </div>
</div>


{% endblock %}
