{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 
    <h2 class="govuk-heading-l">Suitability assessment</h2>
   

    {{ govukInsetText({
      html: '<h2 class="govuk-heading-m">Application information</h2>
      <p><b>Application date:</b> 13 October 2022</p>
      <p><b>Reason for late application:</b> Risk level has escalated</p>'
    }) }}   

  {% set emergencyNo %}
  {{ govukSelect({
    id: "select-emergency-reasons",
    name: "select-emergency-reasons",
    label: {
      text: "What is the reason for the late referral?"
    },
    items: [
      {
        value: "emergency-reason-select",
        text: "Select one",
        selected: true
      },
      {
        value: "emergency-reason-risk-escalated",
        text: "The risk level has recently escalated"
      },
      {
        value: "emergency-reason-rmp-broken",
        text: "The release plan or risk management plan has broken down"
      },
      {
        value: "emergency-reason-further-offence",
        text: "The individual has committed a further offence"
      },
      {
        value: "emergency-reason-alternative-recall",
        text: "AP placement is an alternative to recall"
      },
      {
        value: "emergency-reason-parole",
        text: "AP placement is a parole board or PPCS decision"
      },
      {
        value: "emergency-reason-sentence-short",
        text: "The sentence is shorter than 12 months"
      },
      {
        value: "emergency-reason-bail",
        text: "The individual will be on bail"
      },
      {
        value: "emergency-reason-other",
        text: "Other (please specify below)"
      }
    ]
  }) }}

{% endset -%}

    {{ govukRadios({
      name: "additional-emergency",
      fieldset: {
        legend: {
          text: "Do you agree with the applicant's reason for submission within 4 months of expected arrival?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-emergency-info",
          text: "Yes"
        },
        {
          value: "no-emergency-info",
          text: "No",
          conditional: {
            html: emergencyNo
          }
        }
      ]
    }) }}

      {{ govukTextarea({
        name: "assess-emergency-details",
        id: "assess-emergency-details",
        label: {
          text: "Provide details to support the decision"
        }
      }) }}



    

        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
