{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
    text: "Back",
    href: "/assess/tasklist"
    }) }}

    <h2 class="govuk-heading-l">Make a decision</h2>
    <p>This decision is conditional on a place being available in a suitable Approved Premises and any other
      requirements you have stipulated in the assessment.</p>

    {{ govukRadios({
    name: "accept-application",
    fieldset: {
    legend: {
    text: "Accept",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--s"
    }
    },
    items: [
    {
    value: "accept-match",
    text: "Proceed to matching"
    },
    {
    value: "accept-pending-release",
    text: "Pending release information"
    }
    ]
    }) }}

    {{ govukRadios({
    name: "reject-application",
    fieldset: {
    legend: {
    text: "Reject, not suitable for an AP",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--s"
    }
    },
    items: [
    {
    value: "reject-accommodation",
    text: "Accommodation need only"
    },
    {
    value: "reject-needs-cant-be-met",
    text: "Health / social care / disability needs can’t be met"
    },
    {
    value: "reject-supervision-short",
    text: "Remaining supervision period too short"
    },
    {
    value: "reject-low-risk",
    text: "Risk too low"
    },
    {
    value: "reject-not-suitable",
    text: "Not suitable for other reasons"
    }
    ]
    }) }}

    {{ govukRadios({
    name: "reject-insufficient-info",
    fieldset: {
    legend: {
    text: "Reject, insufficient information",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--s"
    }
    },
    items: [
    {
    value: "reject-insufficient-moveon",
    text: "Insufficient move on plan"
    },
    {
    value: "reject-insufficient-contingency",
    text: "Insufficient contingency plan"
    },
    {
    value: "reject-no-information",
    text: "Requested information not provided by Probation Practitioner"
    }
    ]
    }) }}

    {{ govukRadios({
    name: "reject-risk-high",
    fieldset: {
    legend: {
    text: "Reject, risk too high (must be approved by an AP Area Manager)",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--s"
    }
    },
    items: [
    {
    value: "reject-risk-community",
    text: "Risk to community"
    },
    {
    value: "reject-risk-residents",
    text: "Risk to other residents in AP"
    },
    {
    value: "reject-risk-staff",
    text: "Risk to staff"
    }
    ]
    }) }}

    {{ govukRadios({
    name: "withdrawn",
    fieldset: {
    legend: {
    text: "Application withdrawn",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--s"
    }
    },
    items: [
    {
    value: "withdrawn",
    text: "Application withdrawn by the Probation Practitioner"
    }
    ]
    }) }}



    {{ govukTextarea({
    name: "reason-for-decision",
    id: "reason-for-decision",
    label: {
    text: "Provide detail about your assessment decision",
    classes: "govuk-label--s",
    isPageHeading: true
    }
    }) }}





    {{ govukButton({
    text: "Save and continue",
    href: "tasklist"
    }) }}
  </div>
</div>


{% endblock %}
