{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 
    <h2 class="govuk-heading-l">Suitability assessment</h2>

          {% set additionalPipeYes %}
          {{ govukTextarea({
            id: "assess-pipe-info-yes",
            name: "assess-pipe-info-yes",
            type: "textarea",
            spellcheck: false,
            classes: "textarea",
            label: {
              text: "Provide details to support the decision"
            }
          }) }}
        {% endset -%}

        {% set additionalPipeNo %}
        {{ govukTextarea({
          id: "assess-pipe-info-no",
          name: "assess-pipe-info-no",
          type: "textarea",
          spellcheck: false,
          classes: "textarea",
          label: {
            text: "Provide details to support the decision"
          }
          }) }}
        {% endset -%}

      {{ govukRadios({
        name: "additional-pipe",
        fieldset: {
          legend: {
            text: "Has PIPE been identified as a viable pathway?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes-pipe-info",
            text: "Yes",
            conditional: {
              html: additionalPipeYes
            }
          },
          {
            value: "no-pipe-info",
            text: "No",
            conditional: {
              html: additionalPipeNo
            }
          }
        ]
      }) }}

  {{ govukTextarea({
    name: "assess-pipe-details",
    id: "assess-pipe-details",
    label: {
      text: "If the person is unsuitable for a PIPE placement  yet suitable for a standard placement, summarise the rationale for the decision."
    }
  }) }}
    

        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
