{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}


{% block content %} 
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Placement needs </h2>
      <p>Please specify the individual placement needs below. These will be used to match [name] to a bed in an Approved Premises. </p>
      <p>Fields are pre-populated based off information supplied in the application. You can change these on the list below. </p>

<table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Attributes</th>
      <th class="govuk-table__header" style="width: 100px" scope="col">Essential</th>
      <th class="govuk-table__header" style="width: 100px;" scope="col">Desirable</th>
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Mens</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Womens</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="womens-attribute" name="womens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="womens-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="womens-attribute" name="womens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="womens-attribute"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">ESAP</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="esap-attribute" name="esap-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="esap-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="esap-attribute" name="esap-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="esap-attribute"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">PIPE</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pipe-attribute" name="pipe-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="pipe-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pipe-attribute" name="pipe-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="pipe-attribute"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Child, sexual offence</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="child-so-attribute" name="child-so-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="child-so-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="child-so-attribute" name="child-so-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="child-so-attribute"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Adult, sexual offence</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="adult-so-attribute" name="adult-so-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="adult-so-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="adult-so-attribute" name="adult-so-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="adult-so-attribute"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">None sexual offences against children</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="none-children-so-attribute" name="none-children-so-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="none-children-so-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="none-children-so-attribute" name="none-children-so-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="none-children-so-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Semi specialist (Mental health)</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mental-health-attribute" name="mental-health-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mental-health-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mental-health-attribute" name="mental-health-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mental-health-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Semi specialist (Substance misuse)</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="substance-misuse-attribute" name="substance-misuse-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="substance-misuse-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="substance-misuse-attribute" name="substance-misuse-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="substance-misuse-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Arson</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="arson-attribute" name="arson-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="arson-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="arson-attribute" name="arson-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="arson-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hate based offences</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hate-based-attribute" name="hate-based-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="hate-based-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hate-based-attribute" name="hate-based-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="hate-based-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Restricted mobility</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="restricted-mobility-attribute" name="restricted-mobility-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="restricted-mobility-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="restricted-mobility-attribute" name="restricted-mobility-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="restricted-mobility-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Wheelchair accessible room</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wheelchair-attribute" name="wheelchair-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="wheelchair-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="wheelchair-attribute" name="wheelchair-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="wheelchair-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Adapted for hearing</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hearing-attribute" name="hearing-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="hearing-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="hearing-attribute" name="hearing-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="hearing-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Adapted for visual</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="visual-attribute" name="visual-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="visual-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="visual-attribute" name="visual-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="visual-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Single room <a href="">View guidance on single room occupancy</a></td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="single-room-attribute" name="single-room-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="single-room-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="single-room-attribute" name="single-room-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="single-room-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Catering</a></td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="catering-attribute" name="catering-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="catering-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="catering-attribute" name="catering-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="catering-attribute"></label>
          </div>
      </td>
    </tr>

  </tbody>
</table>

    
        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
