{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/assess/tasklist"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Matching information</h2>
      <p>Please specify requirements for matching the person to a bed within an Approved Premises (AP).</p>
      <p>Options have been pre-selected based on information supplied in the application. If you disagree with any of these you can change them on the list below. </p>

<!-- Type of AP -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        What type of AP is required?
      </h2>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Standard
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Enhanced Security Approved Premises (ESAP)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Psychologically Informed Planning Environment (PIPE)
        </label>
      </div>
    </div>

  </fieldset>
</div>

<!-- Gender AP -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Which gender AP is required?
      </h2>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Male
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          Female
        </label>
      </div>
    </div>

  </fieldset>
</div>

<!-- Specialist mental health -->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        If this person would benefit from specialist support, select the relevant option below
      </h2>
    </legend>
    <div id="waste-hint" class="govuk-hint">
      <p>There are only two AP nationally with a semi-specialism in mental health. Placement in one of these AP is not guaranteed.</p>
      <p>Recovery Focused AP's are currently being piloted nationally. Placement is not guaranteed.</p>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
        Semi-specialist mental health
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
       Recovery Focused AP
      </label>
    </div>

  </fieldset>
</div>

{{ govukCheckboxes({
  name: "hearing-visual-needs",
  fieldset: {
    legend: {
      text: "Would the person benefit from any of the following?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "braille-signage",
      text: "Braille signage"
    },
    {
      value: "tactile-flooring",
      text: "Tactile flooring"
    },
    {
      value: "hearing-loop",
      text: "Hearing loop"
    }
  ]
}) }}

<!-- Essential/desirable requirements -->

      <h2 class="govuk-heading-m">Placement requirements</h2>

<table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Specify placement requirements</th>
      <th class="govuk-table__header" style="width: 100px" scope="col">Essential</th>
      <th class="govuk-table__header" style="width: 100px;" scope="col">Desirable</th>
      <th class="govuk-table__header" style="width: 100px;" scope="col">Not relevant</th>
    </tr>
  </thead>
  
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Catered</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="esap-attribute" name="esap-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="esap-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="esap-attribute" name="esap-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="esap-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="esap-attribute" name="esap-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="esap-attribute"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Designated arson room</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pipe-attribute" name="pipe-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="pipe-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pipe-attribute" name="pipe-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="pipe-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="pipe-attribute" name="pipe-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="pipe-attribute"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Single room</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="recovery-ap" name="recovery-ap" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="recovery-ap"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="recovery-ap" name="recovery-ap" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="recovery-ap"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="recovery-ap" name="recovery-ap" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="recovery-ap"></label>
          </div>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Step free access</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mental-health-attribute" name="mental-health-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mental-health-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mental-health-attribute" name="mental-health-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mental-health-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mental-health-attribute" name="mental-health-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mental-health-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Suitable for a person with sexual offences</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mental-health-attribute" name="mental-health-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mental-health-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mental-health-attribute" name="mental-health-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mental-health-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mental-health-attribute" name="mental-health-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mental-health-attribute"></label>
          </div>
      </td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Wheelchair accessible room</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="substance-misuse-attribute" name="substance-misuse-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="substance-misuse-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="substance-misuse-attribute" name="substance-misuse-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="substance-misuse-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="substance-misuse-attribute" name="substance-misuse-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="substance-misuse-attribute"></label>
          </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Offence and risks table -->

<table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Risks and offences to consider</th>
      <th class="govuk-table__header" style="width: 100px" scope="col">Relevant</th>
      <th class="govuk-table__header" style="width: 100px;" scope="col">Not relevant</th>
    </tr>
  </thead>
  
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Arson</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
    </tr>
      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Hate crimes</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
    </tr>
      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sexual offences</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
    </tr>
      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Sexual offences against children</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
    </tr>
      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Non-sexual offences against children</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
    </tr>
      
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Potential victim of criminal exploitation</td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
      <td class="govuk-table__cell">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="mens-attribute" name="mens-attribute" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="mens-attribute"></label>
          </div>
      </td>
    </tr>
</tbody>
</table>


<p class="govuk-label--m">Do you agree with the suggested length of stay?</p>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Placement length"
      },
      value: {
        text: "12 weeks"
      }
    },
    {
      key: {
        text: "Dates of placement"
      },
      value: {
        text: "30 May 2023 - 30 Aug 2023"
      }
    }
  ]
}) }}

{% set dateInput %}
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
  
    <h2 class="govuk-label--s">
      Provide recommended length of stay
    </h2>
  <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
          Weeks
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
          Days
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
      </div>
    </div>
  </div>
</fieldset>
</div>


  {{ govukTextarea({
    name: "date-change-reason",
    id: "date-change-reason",
    label: {
      text: "Provide rationale for suggested length of stay",
      classes: "govuk-label--s",
      isPageHeading: true
    }
  }) }}


{% endset -%}

{{ govukRadios({
  name: "assess-placement-length",
  items: [
    {
      value: "yes-placement-length",
      text: "Yes"
    },
    {
      value: "no--placement-length",
      text: "No",
      conditional: {
        html: dateInput
      }
    }
  ]
}) }}

    {{ govukTextarea({
      name: "more-detail",
      id: "more-detail",
      label: {
        text: "Information for Central Referral Unit (CRU) manager (optional)",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        html: '<p class="govuk-hint">Record any observations you think would benefit the CRU manager. They will use this information to match the person to a suitable AP.</p>'
      }
    }) }}

    
        {{ govukButton({
          text: "Save and continue",
          href: "tasklist"
        }) }}
  </div>
</div>


{% endblock %}
