{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 
    <h2 class="govuk-heading-l">Provide additional information </h2>
    <p>Caroline Swann has requested additional information to support your application for an Approved Premises placement for Robert Brown. </p>
    <p>You have [X] days to provide this information. </p>
    <p>Please provide information in the textboxes below. </p>
   
      {{ govukTextarea({
        name: "assess-more-detail",
        id: "assess-more-detail",
        label: {
          text: "Question submitted by Assessor",
          classes: "govuk-label--s",
          isPageHeading: true
        }
      }) }}
    
        {{ govukButton({
          text: "Save and continue",
          href: "/assess/pp-check-info"
        }) }}

        {{ govukButton({
          text: "Save and come back later",
          classes: "govuk-button--secondary",
          href: "/pp-dashboard.html"
        }) }}
  
  </div>
</div>


{% endblock %}
