{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/assess/tasklist"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <h1 class="govuk-heading-l">Review application and documents</h1>
    <div>
      <!-- Sub-navigation -->
          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="#person-details">Application details</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#risk">Risk</a>
              </li>


              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#approved-premises-requirements">AP requirements</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#prison">Prison information</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#location">Location factors</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#health">Health</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="#documents">Documents</a>
              </li>
            </ul>
          </nav>
        </div>

    <!-- Person details -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Person details
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Name"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "CRN"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Date of birth"
        },
        value: {
        html: ""
        }
        },
        {
        key: {
        text: "NOMS number"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Nationality"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Religion or belief"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Sex"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Status"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Prison"
        },
        value: {
        text: ""
        }
        }
        ]
        }) }}
      </div>
    </div>

    <!-- Choose sections of OASys to import  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="risk">
        OASys Risk information
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Sections of OASys imported to application"
        },
        value: {
        html: '<ul>
          <li>9. Drug misuse</li>
          <li>10. Alcohol misuse</li>
        </ul>'
        }
        }
        ]
        }) }}
        <p><a href="risk-ROSH.html">View detailed risk information</a></p>

      </div>
    </div>

     <!--  Approved Premises requirements -->
     <div class="main-box">
      <div class="box-title govuk-heading-m" id="approved-premises-requirements">
      Approved Premises requirements
      </div>
      <div class="box-content">
      {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Date of release"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                text: "Date of arrival"
              },
              value: {
                text: ""
              }
            },
            {
              key: {
                text: "Type of Approved Premises required"
              },
              value: {
                text: "Standard"
              }
            }
          ]
        }) }}
        </div>
      </div>

      <!--- If PIPE/ ESAP ARE SELECTED, INCLUDE THE FOLLOWING ANSWERS --->

       <!-- If PIPE is selected, use following code -->

    <!--
      <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Approved Premises requirements
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Which type of AP does Robert require?"
        },
        value: {
        text: "Psychologically Informed Planned Environment (PIPE)"
        }
        },
        {
        key: {
        text: "Has Robert been screened into the OPD pathway?"
        },
        value: {
        text: "Yes"
        }
        },
        {
          key: {
          text: "When was Robert's last consultation or formulation?"
          },
          value: {
          text: "Yes"
          }
          },
        {
        key: {
        text: "Has a referral for PIPE placement been recommended in the OPD pathway plan?"
        },
        value: {
        text: "Yes"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
          key: {
          text: "Provide any additional detail about why Robert needs a PIPE placement."
          },
          value: {
          text: "Yes"
          }
          }
        ]
        }) }}
      </div>
    </div>
  -->
    <!-- If ESAP is are selected, use following code -->
    <!--
      <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Approved Premises requirements
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Which type of AP does Robert require?"
        },
        value: {
        text: "Enhanced Security Approved Premises (ESAP)"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Why does the person require an enhanced security placement (ESAP)?"
        },
        value: {
        text: "List checkboxes selected"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
          key: {
          text: "Do any of the following factors also apply?"
          },
          value: {
          text: "List checkboxes"
          }
          },
        {
        key: {
        text: "Which items does Robert have a history of secreting?"
        },
        value: {
        text: "List selected checkboxes"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
          key: {
          text: "Have partnership agencies requested the sharing of intelligence captured via body worn technology?"
          },
          value: {
          text: "Yes"
          }
          },
          {
          key: {
          text: "Provide any supporting information about why Robert requires enhanced room searches."
          },
          value: {
          text: "Yes"
          }
          },
          {
          key: {
          text: "Which behaviours has Robert demonstrated that require enhanced CCTV provision to monitor?"
          },
          value: {
          text: "Yes"
          }
          },
          {
          key: {
          text: "Have partnership agencies requested the sharing of intelligence captured via enhanced CCTV?"
          },
          value: {
          text: "Yes"
          }
          },
          {
          key: {
          text: "Provide any supporting information about why Robert requires enhanced CCTV provision."
          },
          value: {
          text: "Yes"
          }
          }
        ]
        }) }}
      </div>
    </div>
  -->


  <!-- Purpose of placement -->
  <div class="main-box">
    <div class="box-title govuk-heading-m" id="purpose-of-placement">
      Reasons for placement
    </div>
    <div class="box-content">
     {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Desired outcomes of this placement"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              text: "Features of an AP that are expected to be useful"
            },
            value: {
              text: ""
            }
          },
          {
            key: {
              text: "How features are expected to help manage risk "
            },
            value: {
              text: ""
            }
          }
        ]
      }) }}
    </div>
  </div>



    <!-- Review prison information  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="prison">
        Review prison information
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Selected prison case notes that support this application"
        },
        value: {
        html: "<ul>
                <li><b>Positive case note:</b> Example one</li>
                <li><b>Positive case note:</b> Example one</li>
                <li><b>Positive case note:</b> Example one</li>
              </ul>"
        }
        },
        {
        key: {
        text: "Additional circumstances that have helped the person do well in the past"
        },
        value: {
        text: ""
        }
        }
        ]
        }) }}

        <p><a href="prison-adjudications.html">View additional prison information</a></p>
      </div>
    </div>

    <!-- If emergancy referral, show information here -->



    <!-- Location factors  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="location">
       Location factors
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Preferred location for AP placement"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Positive factors for {name} in this location."
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Are there any restrictions linked to placement location?"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "If an AP Placement is not available in the persons preferred area, would a placement in an alternative
        locality be considered?"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Is {name} moving to a different area where they'll be managed by a different probation delivery unit
        (PDU)?"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Is {name} moving to a different area where they'll be managed by a different probation delivery unit
        (PDU)?"
        },
        value: {
        text: ""
        }
        },
        {
          key: {
          text: "Have you agreed the persons transfer/supervision with the receiving PDU?"
          },
          value: {
          text: ""
          }
          },
          {
            key: {
            text: "Who have you agreed this with?"
            },
            value: {
            text: ""
            }
            }
        ]
        }) }}
      </div>
    </div>

<!-- Health and access needs  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="health">
        Health and access needs
      </div>
      <div class="box-content">

        {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "Does {name} require use of a wheelchair?"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Does the person have any other mobility, disability, or accessibility needs?"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Does the person need an interpreter?"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Does the person have any additional health issues or care and support needs? "
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Has a care act assessment been completed?"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Has the person been fully vaccinated for COVID-19?"
          },
          value: {
          text: ""
          }
          },{
          key: {
          text: "Is the person high risk to COVID-19?"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Other considerations and comments on COVID-19"
          },
          value: {
          text: ""
          }
          }
          ]
          }) }}
      </div>
    </div>


 <!-- Further placement considerations  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="">
        Further placement considerations
      </div>
      <div class="box-content">
        <h2 class="govuk-heading-m">Room sharing</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Is there any evidence that the person may pose a risk to AP staff?"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Is there any evidence that the person may pose a risk to other AP residents?"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Do you have any concerns about the person sharing a bedroom?"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Is there potential for the person to benefit from a room share?"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Is there any evidence of previous trauma or significant event in the persons history which would indicate
        that room share may not be suitable"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Do you have any concerns about the person sharing a bathroom?"
        },
        value: {
        text: ""
        }
        }
        ]
        }) }}


        <h2 class="govuk-heading-m">Vulnerability</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Are you aware that the person is vulnerable to exploitation from others?"
        },
        value: {
        text: ""
        }
        },
        {
        key: {
        text: "Is there any evidence or expectation that the person may groom, radicalise or exploit others?"
        },
        value: {
        text: ""
        }
        }
        ]
        }) }}

        <h2 class="govuk-heading-m">Previous placements</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Has the person stayed or been offered a placement in an AP before?"
        },
        value: {
        text: ""
        }
        }
        ]
        }) }}

        <h2 class="govuk-heading-m">Complex case board</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Does the person's gender identity require a complex case board to review their application?"
        },
        value: {
        text: ""
        }
        }
        ]
        }) }}

        <h2 class="govuk-heading-m">Catering requirements</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Do you have any concerns about the person catering for themself?"
        },
        value: {
        text: ""
        }
        }
        ]
        }) }}
      </div>
    </div>
<!-- Move on information  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Move on information
      </div>
      <div class="box-content">
        {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "What duration of placement do you recommend?"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Additional comments to support duration of placement"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Where is the person most likely to live when he moves on from the AP?"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "Are move on arrangements already in place for when the person leaves the AP?"
          },
          value: {
          text: ""
          }
          },
          {
          key: {
          text: "What type of accommodation will the person have when they leave the AP?"
          },
          value: {
          text: ""
          }
          }
          ]
          }) }}
      </div>
    </div>





    <!-- Associated documents  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="documents">
        Associated documents
      </div>
      <div class="box-content">
        {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "court-reports.pdf"
          },
          value: {
          text: "Description"
          }
          },
          {
          key: {
          text: "exclusion-zone.pdf"
          },
          value: {
          text: "Description"
          }
          }
          ]
          }) }}
      </div>
    </div>


     <!--- Back button -->

     <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "Have you reviewed all of the application and documents provided?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes-reviewed",
            text: "Yes"
          },
          {
            value: "no-reviewed",
            text: "No"
          }
        ]
      }) }}


        {{ govukButton({
          text: "Save and continue",
          href: "/assess/tasklist"
        }) }}
  </div>
</div>


{% endblock %}
