{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "/index#assess"
    }) }}
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


 
    <h2 class="govuk-heading-l">Suitability assessment</h2>

          {% set additionalRfapYes %}
          {{ govukTextarea({
            id: "assess-rfap-info-yes",
            name: "assess-rfap-info-yes",
            type: "textarea",
            spellcheck: false,
            classes: "textarea",
            label: {
              text: "Provide details to support the decision"
            }
          }) }}
        {% endset -%}

        {% set additionalRfapNo %}
        {{ govukTextarea({
          id: "assess-rfap-info-no",
          name: "assess-rfap-info-no",
          type: "textarea",
          spellcheck: false,
          classes: "textarea",
          label: {
            text: "Provide details to support the decision"
          }
          }) }}
        {% endset -%}


        <!-- Radios -->

        <p class="govuk-label--m"> Has a Recovery Focused Approved Premises (RFAP) been identified as a suitable placement?</p>


      {{ govukRadios({
        name: "additional-rfap",
        items: [
          {
            value: "yes-rfap-info",
            text: "Yes",
            conditional: {
              html: additionalRfapYes
            }
          },
          {
            value: "no-rfap-info",
            text: "No",
            conditional: {
              html: additionalRfapNo
            }
          }
        ]
      }) }}

      
  {{ govukTextarea({
    name: "assess-rfap-details",
    id: "assess-rfap-details",
    label: {
      text: "If the person is unsuitable for a RFAP placement yet suitable for a standard placement, summarise the rationale for the decision."
    }
  }) }}
    

        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
