g{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/assess/review-application"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div>
      <h1 class="govuk-heading-l">
        Review risk information
      </h1>

      <p> Imported from OASys  <b> 23 March 2022 </b></p>
      <p> OASys last updated  <b> 02 January 2022 </b></p> 
      <p><a href="">Go to full OASys assessment (opens in new tab)</a></p>

</div>
<div>
  <!-- Sub-navigation -->
            <nav class="moj-sub-navigation" aria-label="Sub navigation">
  
              <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="risk-ROSH.html">RoSH summary</a>
                </li>
  
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" aria-current="page" href="risk-offence-details.html">Offence details</a>
                </li>
  
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="risk-imported.html">Supporting information</a>
                </li>
  
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="risk-management-plan.html">Risk Management Plan</a>
                </li>
  
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="risk-to-self.html">Risk to self</a>
                </li>
              </ul>
            </nav>
    </div>  
     
  <div class="govuk-grid-column-two-thirds">
          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Offence analysis
            </h2>
              <p>Males whom Mr Brown believes have wronged him, or partners (current partner, , children (daughter and unborn child)</p>
            <hr>
          </div>
          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Index offence
            </h2>
              <p>Violence, Threats, Physical harm)</textarea>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Motivation and triggers
            </h2>
              <p>HROSH to partners, medium to male peers, medium to children (context of DV). He has some contact with a woman in Birmingham who I believe is pregnant. He is occassionally using drugs in custody and there's a risk he will return to them on release. History of aggressive behaviour in custody; level of violence deployed in current offence was significant. If he is need of drugs, there is no telling how he will behave despite his stated motivation to avoid such behaviour in the future and address his drug use. Says he is currently drug free in custody but has been making fermented liquids in his cell in an effort to drink.</p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Previous offence
            </h2>
              <p>Drug use, need to obtain money for drugs at all costs, feeling he has been wronged in some way, lack of consideration of consequences, impulsive behaviour.  Previously ? a) any circumstances where he feels jealousy, particular in relation to partner but also sister b) may be an increased risk if drinking c) will be increased by drug use. </p>
            <hr>
          </div>


          <div>
            <p><a href="">Back to application</a></p>
          </div>
    </div>


      <div class="risk-information">
        <div class="govuk-grid-column-one-third">
          {{ widgets(widgetData) }}
        </div>
      </div>



    </div>
  

{% endblock %}
