{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}


{% block content %}
 


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Create a manual placement</h2>
     
   {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "James Brown"
          }
        },
        {
          key: {
            text: "CRN"
          },
          value: {
            text: "315VWWC"
          }
        }
      ]
    }) }}
    
   
    {{ govukDateInput({
      id: "expected-arrival-date",
      namePrefix: "expected-arrival-date",
      fieldset: {
        legend: {
          text: "What is the arrival date?",
          classes: "govuk-label--m"
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        
          <h1 class="govuk-label--m">
            What is the placement length?
          </h1>
        <div id="passport-issued-hint" class="govuk-hint">
          
        </div>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Weeks
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Days
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <p>The departure date will be the 7th August 2023</p>



        {{ govukButton({
          text: "Save and continue",
          href: "/manage/create-placement/placement-confirmed"
        }) }}
  </div>
</div>


{% endblock %}
