{% extends "layouts/hmpps-logged-in-nav.html" %}

{% set pageName="start" %}

{% block beforeContent %}
<!-- Breadcrumb -->
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-l">Refer to NDelius to complete an Approved Premises (AP) application</h1>
<p>From the information you’ve provided the person requires a female AP.

</p>
<p>You will need to use NDelius to complete your application for an AP placement. This service is for male AP only.</p>

<p><a href="">Return to dashboard</a></p>
{% endblock %}