{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Cancel this placement</h2>
      <p>If '  booking.name ' has not arrived or no longer requires this bed, cancel this placement. Cancelling this placement will make this bed available to another person.</p>

        {{
          govukSummaryList({
            classes: 'govuk-summary-list--no-border',
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: "name"
                }
              },
              {
                key: {
                  text: "CRN"
                },
                value: {
                  text: "booking.CRN"
                }
              },
              {
                key: {
                  text: "Arrival date"
                },
                value: {
                  text: "dateTime"
                }
              },
              {
                key: {
                  text: "Departure date"
                },
                value: {
                  text: "dateTime"
                }
              }
            ]
          })
        }}


        {{ govukDateInput({
          id: "passport-issued",
          namePrefix: "passport-issued",
          fieldset: {
            legend: {
              text: "What date was this placement cancelled?",
              name: "cancellation-date",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          }
        }) }}
<br>

        {{ govukRadios({
          idPrefix: "cancel-placement-reason",
          name: "cancel-placement-reason",
          fieldset: {
            legend: {
              text: "What is the reason for cancelling this placement?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "england",
              text: "Recall by probation practitioner"
            },
            {
              value: "scotland",
              text: "Request from probation practitioner"
            },
            {
              value: "wales",
              text: "Admitted to hospital"
            },
            {
              value: "wales",
              text: "Offer withdrawn by Approved Premises"
            },
            {
              value: "northern-ireland",
              text: "Death"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          href: "/cancellation-confirmation"
        }) }}
  </div>
</div>


{% endblock %}
