{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 
    <h2 class="govuk-heading-l">Mark a bed as out of service</h2>
      <p> Provide details of beds that are out of service within your AP estate.</p>
   
 <!-- Number of beds lost -->

      {{ govukInput({
        label: {
          text: "Room number",
          classes: "govuk-heading-s"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width-2"
      }) }}

      {{ govukInput({
        label: {
          text: "Bed number"
        },
        classes: "govuk-input--width-2",
        id: "width-2",
        name: "width-2"
      }) }}

 <!-- Start date -->

      {{ govukDateInput({
        id: "start-date",
        namePrefix: "start-date",
        fieldset: {
          legend: {
            text: "Out of service from",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        }
      }) }}

 <!-- End date -->
      {{ govukDateInput({
        id: "end-date",
        namePrefix: "end-date",
        fieldset: {
          legend: {
            text: "End date",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        }
      }) }}
      <br>
      

      {{ govukRadios({
        idPrefix: "lost-bed-reason",
        name: "lost-placement-reason",
        fieldset: {
          legend: {
            text: "What is the reason for marking this bed as lost?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Accident-flood-fire",
            text: "Accident, flood or fire"
          },
          {
            value: "Damange",
            text: "Damage by resident"
          },
          {
            value: "doubleroom-risk",
            text: "Double room with single occupancy (risk)"
          },
          {
            value: "doubleroom-helath",
            text: "Double room with single occupancy (health)"
          },
          {
            value: "refurbishment",
            text: "Refurbishment"
          },
          {
            value: "staff-shortage",
            text: "Staff shortage or illness"
          },
          {
            value: "other",
            text: "Other"
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "Additional notes",
        id: "Notes",
        label: {
          text: "Additional notes"
        }
      }) }}

        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
