{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 
    <h2 class="govuk-heading-l">Bed occupancy</h2>
   
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: {
            text: "Current occupancy"
          },
          value: {
            text: "16 of 35 beds (45%)"
          }
        },
        {
          key: {
            text: "Available"
          },
          value: {
            text: "5 beds"
          }
        },
        {
          key: {
            text: "Out of Service"
          },
          value: {
            text: "4 beds"
          }
        }
      ]
    }) }}

<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
       Current residents
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Available beds
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#out-of-service">
       Out of service
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#upcoming-residents">
      Upcoming residents
      </a>
    </li>
  </ul>

  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Current residents</h2>
    <table class="govuk-table">
    </table>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Available beds</h2>
    <table class="govuk-table">
    </table>
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="out-of-service">
    <h2 class="govuk-heading-l">Out of service beds</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Bed</th>
          <th scope="col" class="govuk-table__header">Room</th>
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header">End date</th>
          <th scope="col" class="govuk-table__header">Next room status</th>
          <th scope="col" class="govuk-table__header">Next resident</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">3</a> </td>
          <td class="govuk-table__cell"> 3</td>
          <td class="govuk-table__cell">13 Sep 2022</td>
          <td class="govuk-table__cell">18 Sep 2022</td>
          <td class="govuk-table__cell">
            {{govukTag({
              text: "Booked"
            })}}
          </td>
          <td class="govuk-table__cell">Toby Hill</td>
          <td class="govuk-table__cell"> <a href="manage-out-of-service.html">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">3</a> </td>
          <td class="govuk-table__cell"> 3</td>
          <td class="govuk-table__cell">13 Sep 2022</td>
          <td class="govuk-table__cell">18 Sep 2022</td>
          <td class="govuk-table__cell">
            {{govukTag({
              text: "Booked"
            })}}
          </td>
          <td class="govuk-table__cell">Toby Hill</td>
          <td class="govuk-table__cell"> <a href="manage-out-of-service.html">Manage</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="">3</a> </td>
          <td class="govuk-table__cell"> 3</td>
          <td class="govuk-table__cell">13 Sep 2022</td>
          <td class="govuk-table__cell">18 Sep 2022</td>
          <td class="govuk-table__cell">
            {{govukTag({
              text: "Booked"
            })}}
          </td>
          <td class="govuk-table__cell">Toby Hill</td>
          <td class="govuk-table__cell"> <a href="manage-out-of-service.html">Manage</a></td>
        </tr>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel" id="upcoming-residents">
    <h2 class="govuk-heading-l">Upcoming residents</h2>
    <table class="govuk-table">
    </table>
  </div>


</div>

    

        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
