{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}


{% block content %}
 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/complex-case-decision" method="post" novalidate>

      {{ govukRadios({
        idPrefix: "complex-case-decision",
        name: "complex-case-decision",
        fieldset: {
          legend: {
            text: "Has the Complex Case Board determined that the person should be placed in a male AP?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Guidance text"
        },
        items: [
          {
            value: "yes-male-ap",
            text: "Yes"
          },
          {
            value: "no-female-ap",
            text: "No"
          }
        ]
      }) }}


      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>


  </div>
</div>


{% endblock %}
