{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% extends "layout.html" %}

{% block pageTitle %}
 Access needs
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}
{% endblock %}


{% block content %}

 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Access, cultural and healthcare needs</h1>

    {{ govukDetails({
      summaryText: "View guidance on what needs a person might have",
      html: '<p>For example, if the person has sight loss, uses a hearing aid or has an ADHD diagnosis.</p>
      <p>Further information on neurodiversity is in the <a href="">let’s talk about neurodiversity toolkit.</a></p> 
      <p>There is also a <a href="">guide for supporting people with learning disabilities and learning difficulties (LDC)</a></p>
     '
    }) }}

    <!-- Checkboxes -->
    <form action="/access-needs-selected" method="post" novalidate>
      
    {{ govukCheckboxes({
      idPrefix: "healthcare-needs",
      name: "healthcare-needs",
      fieldset: {
        legend: {
          text: "Does the person have any of the following needs?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Further information can be provided on the next screen'
      },
      items: [
        {
          value: "mobility-needs",
          text: "Mobility needs"
        },
        {
          value: "visual-impairment",
          text: "Visual impairment"
        },
        {
          value: "laerning-disability",
          text: "Learning disabilities and/or learning challenges"
        },
        {
          value: "hearing-impairment",
          text: "Hearing impairment"
        },
        {
          value: "neurodivergent",
          text: "Neurodivergent conditions"
        },
        {
          value: "healthcare",
          text: "Healthcare"
        },
        {
          value: "other",
          text: "Other"
        },
        {
          value: "none",
          text: "None of the above"
        }
      ]
    }) }} 

    <!-- Cultural needs -->

    {% set culturalNeeds %}
    {{ govukTextarea({
      id: "cultural-needs-detail",
      name: "cultural-needs-detail",
      type: "textarea",
      spellcheck: false,
      classes: "textarea",
      label: {
        text: "Provide details"
      }
    }) }}
    {% endset -%}
    
    {{ govukRadios({
      idPrefix: "cultural-needs",
      name: "cultural-needs",
      fieldset: {
        legend: {
          text: "Does the person have any religious or cultural needs?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-cultural-needs",
          text: "Yes",
          conditional: {
            html: culturalNeeds
          }
        },
        {
          value: "no-cultural-needs",
          text: "No"
        }
      ]
    }) }}

             
      <!-- Radio area -->

  
      {% set needInterpreterAll %}
      {{ govukInput({
        id: "interpreter-required",
        name: "interpreter-required",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Which language?"
        }
      }) }}
      {% endset -%}

      {% set needInterpreterMeetings %}
      {{ govukInput({
        id: "interpreter-required",
        name: "interpreter-required",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Which language?"
        }
      }) }}
      {% endset -%}

      {% set html %}
      <p class="govuk-body">
        If a Care Act assessment has been completed, you must upload it in the ‘attach required documents’ screen.  
      </p>
    {% endset %}

    {% set careActAssessment %}
        {{ govukNotificationBanner({
          html: html
        }) }}
    {% endset -%}

  
      {{ govukRadios({
        idPrefix: "interpreter-radios",
        name: "interpreter-radios",
        fieldset: {
          legend: {
            text: "Does the person need an interpreter?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes-interpreter-all",
            text: "Yes, for all communications",
            conditional: {
              html: needInterpreterAll
            }
          },
          {
            value: "yes-interpreter-meetings",
            text: "Yes, for key meetings and formal documents",
            conditional: {
              html: needInterpreterMeetings
            }
          },
          {
            value: "no-interpreter",
            text: "No"
          }
        ]
      }) }}

      {% set careSupportNeeds %}
      {{ govukTextarea({
        id: "care-support-needs-text",
        name: "care-support-needs-text",
        type: "textarea",
        autocomplete: "textarea",
        spellcheck: false,
        classes: "govuk-!-width-full-width",
        label: {
          text: "Provide detais"
        }
      }) }}
    {% endset -%}

      {{ govukRadios({
        idPrefix: "care-support-needs",
        name: "care-support-needs",
        fieldset: {
          legend: {
            text: "Does this person have care and support needs?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "care-support-needs-yes",
            text: "Yes",
            conditional: {
              html: careSupportNeeds
            }
          },
          {
            value: "care-support-needs-no",
            text: "No"
          }
        ]
      }) }}


      {% set pregnancy %}
      {{ govukDateInput({
        id: "end-date",
        namePrefix: "end-date",
        fieldset: {
          legend: {
            text: "What is their expected arrival date?",
            isPageHeading: true,
            classes: "govuk-label--s"
          }
        }
      }) }}
      
      {{ govukTextarea({
        id: "pregnant-information",
        name: "pregnant-information",
        type: "textarea",
        autocomplete: "textarea",
        spellcheck: false,
        classes: "govuk-!-width-full-width",
        label: {
          text: "Are there any other considerations",
          classes: "govuk-label--s"
        }
      }) }}
    {% endset -%}

      {{ govukRadios({
        idPrefix: "pregnancy",
        name: "pregnancy",
        fieldset: {
          legend: {
            text: "Is this person pregnant?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "pregnant-yes",
            text: "Yes",
            conditional: {
              html: pregnancy
            }
          },
          {
            value: "pregnant-no",
            text: "No"
          }
        ]
      }) }}


      {{ govukRadios({
        idPrefix: "care-act-assessment",
        name: "care-act-assessment",
        fieldset: {
          legend: {
            text: "Has a Care Act assessment been completed?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes-CAA",
            text: "Yes",
            conditional: {
              html: careActAssessment
            }
          },
          {
            value: "no-CAA",
            text: "No"
          },
          {
            value: "unsure-CAA",
            text: "I don't know"
          }
        ]
      }) }}
  
    
  
     
  
      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>


  </div>
</div>



{% endblock %}


