{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layout.html" %}

{% block pageTitle %}
 Access needs
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Access needs</h1>
    <p>Specify any additional details and the adjustments required</p>

    {{ govukRadios({
      idPrefix: "wheelchair-use",
      name: "wheelchair-use",
      fieldset: {
        legend: {
          text: "Does the person require use of a wheelchair?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: '<p>If the person requires use of a wheelchair around the Approved Premises select yes. <a href="">What wheelchair accessibiltiy means within an AP.</a></p>'
      },
      items: [
        {
          value: "requires-wheelchair",
          text: "Yes"
        },
        {
          value: "doesnt-requires-wheelchair",
          text: "No"
        }
      ]
    }) }}

   
      <!-- Text area -->

    {{ govukTextarea({
      name: "mobility-needs-detail",
      id: "mobility-needs-detail",
      label: {
        text: "Mobility needs",
        classes: "govuk-label--s",
        isPageHeading: true
        },
        hint: {
          text: "For example, if step-free access for reduced mobility is required"
        }
       }) }}


       {{ govukTextarea({
        name: "mobility-needs-detail",
        id: "mobility-needs-detail",
        label: {
          text: "Visual impairment",
          classes: "govuk-label--s",
          isPageHeading: true
          },
          hint: {
            text: "For example, if braille or tactile flooring is required"
          }
         }) }}


       {{ govukButton({
        text: "Save and continue",
        href: "/healthcare-covid-19"
      }) }}


  </div>
</div>



{% endblock %}


