{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layout.html" %}

{% block pageTitle %}
 Access needs
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Access and healthcare requirements</h1>
    <p>Specify any additional details and the adjustments required</p>
    
    {{ govukRadios({
      idPrefix: "wheelchair-use",
      name: "wheelchair-use",
      fieldset: {
        legend: {
          text: "Does the person require the use of a wheelchair?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: '<p>If the person requires use of a wheelchair around the Approved Premises select yes. <a href="">What wheelchair accessibiltiy means within an AP.</a></p>'
      },
      items: [
        {
          value: "requires-wheelchair",
          text: "Yes"
        },
        {
          value: "doesnt-requires-wheelchair",
          text: "No"
        }
      ]
    }) }}

    {% set healthConditions %}
    {{ govukTextarea({
      id: "health-conditions-text",
      name: "health-conditions-text",
      type: "textarea",
      autocomplete: "textarea",
      spellcheck: false,
      classes: "govuk-!-width-full-width",
      label: {
        text: "Provide detais"
      }
    }) }}
{% endset -%}

{% set prescribedMedication %}
    {{ govukTextarea({
      id: "prescribed-medication-text",
      name: "prescribed-medication-text",
      type: "textarea",
      autocomplete: "textarea",
      spellcheck: false,
      classes: "govuk-!-width-full-width",
      label: {
        text: "Provide detais"
      }
    }) }}
{% endset -%}


  
  {{ govukRadios({
    idPrefix: "health-conditions",
    name: "health-conditions",
    fieldset: {
      legend: {
        text: "Does this person have any known health conditions?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      html: '<p></p>'
    },
    items: [
      {
        value: "health-conditions-yes",
        text: "Yes",
        conditional: {
          html: healthConditions
        }
      },
      {
        value: "health-conditions-no",
        text: "No"
      }
    ]
  }) }}

  {{ govukRadios({
    idPrefix: "prescribed-medication",
    name: "prescribed-medication",
    fieldset: {
      legend: {
        text: "Does this person have any prescribed medication?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "prescribed-medication-yes",
        text: "Yes",
        conditional: {
          html: prescribedMedication
        }
      },
      {
        value: "prescribed-medication-no",
        text: "No"
      },
      {
        value: "prescribed-medication-no",
        text: "I don't know"
      }
    ]
  }) }}

  <p class="govuk-label--s">Specify any additional details and adjustments required for: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Mobility needs</li>
    <li>Visual impairments</li>
    <li>Neurodivergent conditions</li>
  </ul>

  {{ govukDetails({
    summaryText: "What adjustments can be made?",
    html: '<ul class="govuk-list govuk-list--bullet">
      <li>Step-free access for reduced mobility</li>
      <li>Wheelchair accessibility</li>
      <li>Signs in braille, tactile and directional flooring</li>
      <li>Hearing loop</li>
    </ul>'
  }) }}


   {{ govukTextarea({
      name: "adjustments-detail",
      id: "adjustments-detail"
   }) }}


       {{ govukButton({
        text: "Save and continue",
        href: "/healthcare-covid-19"
      }) }}


  </div>
</div>



{% endblock %}


