
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}


<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Arson</span>
  Further placement considerations
</h1>
<p>This information is used to match a person with a suitable room in a suitable premises.</p>

 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Does Robert Brown need a specialist arson room?</h1>
    <p>Consider whether Robert Brown poses an ongoing risk of setting fires based on: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>their current and previous offences, </li>
        <li>factors outside of the offences they were charged for,</li>
        <li>their behaviour in custody, </li>
        <li>and your expectations for how they'll behave in an AP setting.</li>
      </ul>

    {% set arsonYes %}
      {{ govukTextarea({
        id: "arson-yes",
        name: "arson-yes",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}


    {{ govukRadios({
      idPrefix: "arson-room",
      name: "arson-room",
      items: [
        {
          value: "yes-arson",
          text: "Yes",
          conditional: {
            html: arsonYes
          }
        },
        {
          value: "no-arson",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/index"
    }) }}


  </div>
</div>



{% endblock %}


