g{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}


{% block pageTitle %}
  Associated documents
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}

{% endblock %}

{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Attach required documents</h2>
            <p> Imported from Delius  <b> 23 March 2022 </b></p>
            <p>Select any additional documents that are required to support your application. </p>

      
        {% set detailsHTML %}
          <p class="govuk-body">
            Please ensure the following documents have been attached to this application, where relevant. 
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Precons</li>
              <li>CPS documents from current event</li>
              <li>SO registration</li>
              <li>Sexual harm prevention order (SHPO), previoulsy known as SOPO  </li>
              <li>Psychiatric reports</li>
              <li>Parole reports</li>
              <li>ARMS assessment</li>
              <li>Pre sentence</li>
              <li>Bail notice</li>
              <li>Violent Offender Order (VOO)</li>
              <li>Exclusion zone map</li>     
          </ul>
      {% endset %}

            {{ govukDetails({
              summaryText: "View required documents",
              html: detailsHTML
            }) }}
      
      </div>
    </div>


    <div class="govuk-grid-column-full">

      <p class="moj-pagination__results" style="float: right; padding-bottom: 20px;">Showing <b>7</b> documents</p>

      <table class="govuk-table">
       <thead class="govuk-table__head">

         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header">File name</th>
           <th scope="col" class="govuk-table__header">Date uploaded</th>
           <th scope="col" class="govuk-table__header">Action</th>
           <th scope="col" class="govuk-table__header">Describe document</th>
         </tr>

       </thead>
       <tbody class="govuk-table__body">

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-1">
               <label class="govuk-label govuk-checkboxes__label" for="associated-documents">file-name-1</label>
             </div>
           </td>
           <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
          <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </td>
         </tr>

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-2">
               <label class="govuk-label govuk-checkboxes__label" for="associated-documents">file-name-2</label>
             </div>
           </td>
          <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
          <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </td>
         </tr>

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-3">
               <label class="govuk-label govuk-checkboxes__label" for="associated-documents">pre-cons.doc</label>
             </div>
           </td>
          <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
          <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </td>
         </tr>

         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-4">
              <label class="govuk-label govuk-checkboxes__label" for="associated-documents">pre-cons.doc</label>
            </div>
          </td>
         <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
         <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
         <td class="govuk-table__cell">
           <div class="govuk-form-group">
             <input class="govuk-input" id="event-name" name="event-name" type="text">
           </div>
         </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-5">
              <label class="govuk-label govuk-checkboxes__label" for="associated-documents">pre-cons.doc</label>
            </div>
          </td>
         <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
         <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
         <td class="govuk-table__cell">
           <div class="govuk-form-group">
             <input class="govuk-input" id="event-name" name="event-name" type="text">
           </div>
         </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-6">
              <label class="govuk-label govuk-checkboxes__label" for="associated-documents">pre-cons.doc</label>
            </div>
          </td>
         <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
         <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
         <td class="govuk-table__cell">
           <div class="govuk-form-group">
             <input class="govuk-input" id="event-name" name="event-name" type="text">
           </div>
         </td>
        </tr>

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-7">
               <label class="govuk-label govuk-checkboxes__label" for="associated-documents">exclusion-zone.pdf</label>
             </div>
           </td>
           <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
          <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </td>
         </tr>

       </tbody>
     </table>
  </div>

    {{ govukButton({
      text: "Attach documents",
      href: "/index"
    }) }}

    </div>
  </div>

{% endblock %}
