{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% extends "layout.html" %}

{% block pageTitle %}
  Associated documents
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "/task-list-standard"
    }) }}

{% endblock %}

{% block content %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Select any additional documents that are required to support your application</h2>
            <p> Imported from Delius  <b> 09 January 2022 </b></p>
            <p>Select any additional documents that you want to include to support your application. </p>


        {% set detailsHTML %}
        <b>All applications should include the following documents:</b>
           <ul class="govuk-list govuk-list--bullet">
              <li>CPS documents from current event</li>
              <li>Previous convictions </li>
          </ul>

          <b>Applications should include the following documents where they are available:</b>
          <ul class="govuk-list govuk-list--bullet">
            <li>Active Risk Management System (ARMS) assessment</li>
            <li>Bail notice</li>
            <li>Care Act assessment</li>
            <li>Domestic violence prevention orders</li>
            <li>Exclusion zone map</li>
            <li>Parole reports</li>
            <li>Pre-sentence reports  </li>
            <li>Psychiatric reports</li>
            <li>Restraining orders</li>
            <li>Sexual harm prevention order (SHPO)</li>
            <li>Sexual offence registrations</li>
            <li>Violent Offender Order (VOO)</li>
          </ul>

      {% endset %}

            {{ govukDetails({
              summaryText: "Which documents are required?",
              html: detailsHTML
            }) }}

      </div>
    </div>


    <div class="govuk-grid-column-full">

      <p class="moj-pagination__results" style="float: right; padding-bottom: 20px;">Showing <b>7</b> documents</p>

      <table class="govuk-table">
       <thead class="govuk-table__head">

         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header">Document name</th>
           <th scope="col" class="govuk-table__header">Date uploaded</th>
           <th scope="col" class="govuk-table__header">Download</th>
           <th scope="col" class="govuk-table__header">Provide description</th>
         </tr>

       </thead>
       <tbody class="govuk-table__body">

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-1">
               <label class="govuk-label govuk-checkboxes__label" for="associated-documents">file-name-1</label>
             </div>
           </td>
           <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
          <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </td>
         </tr>

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-2">
               <label class="govuk-label govuk-checkboxes__label" for="associated-documents">file-name-2</label>
             </div>
           </td>
          <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
          <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </td>
         </tr>

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-3">
               <label class="govuk-label govuk-checkboxes__label" for="associated-documents">pre-cons.doc</label>
             </div>
           </td>
          <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
          <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </td>
         </tr>

         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-4">
              <label class="govuk-label govuk-checkboxes__label" for="associated-documents">pre-cons.doc</label>
            </div>
          </td>
         <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
         <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
         <td class="govuk-table__cell">
           <div class="govuk-form-group">
             <input class="govuk-input" id="event-name" name="event-name" type="text">
           </div>
         </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-5">
              <label class="govuk-label govuk-checkboxes__label" for="associated-documents">pre-cons.doc</label>
            </div>
          </td>
         <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
         <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
         <td class="govuk-table__cell">
           <div class="govuk-form-group">
             <input class="govuk-input" id="event-name" name="event-name" type="text">
           </div>
         </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-6">
              <label class="govuk-label govuk-checkboxes__label" for="associated-documents">pre-cons.doc</label>
            </div>
          </td>
         <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
         <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
         <td class="govuk-table__cell">
           <div class="govuk-form-group">
             <input class="govuk-input" id="event-name" name="event-name" type="text">
           </div>
         </td>
        </tr>

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="associated-documents" name="associated-documents" type="checkbox" value="file-7">
               <label class="govuk-label govuk-checkboxes__label" for="associated-documents">exclusion-zone.pdf</label>
             </div>
           </td>
           <td scope="row" class="govuk-table__cell">23 Mar 2022</td>
          <td scope="row" class="govuk-table__cell"><a href="">Download</a></td>
          <td class="govuk-table__cell">
            <div class="govuk-form-group">
              <input class="govuk-input" id="event-name" name="event-name" type="text">
            </div>
          </td>
         </tr>

       </tbody>
     </table>
  </div>

    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}

    </div>
  </div>

{% endblock %}
