
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
      titleText: "Cancellation confirmed"
      }) }}

  
      {{ govukSummaryList({
          rows: [
             {
              key: {
                  text: "Name of resident"
              },
              value: {
                  text: name
              }
              },
              {
              key: {
                  text: "Arrival date"
              },
              value: {
                  text: CRN
              }
              },
              {
              key: {
                  text: "Departure date"
              },
              value: {
                  text: dateTime
              }
              },
              


              {
                key: {
                    text: "Date of cancellation"
                },
                value: {
                    text: 'cancellation-date'
                }
                }, 

              {
              key: {
                  text: "Reason"
              },
              value: {
                  text: reason.name
              }
              }
          ]
      }) }}

      <p>This placement has been marked as cancelled and the room will now be available to others.</p>
<p>An email has been sent to the PP to notify them that James Smith placement has been cancelled within this AP.</p>

  </div>
</div>
<p class="govuk-body"><a href="/index.html">Back to dashboard</a></p>



{% endblock %}
