{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

{% set html %}
<p class="govuk-notification-banner__heading" style="margin-top: 0px;">
  The premises is over capacity for the period 18 August to 21 September 2023.
  <a class="govuk-notification-banner__link" href="#">View capacity levels</a>
</p>
{% endset %}

{{ govukNotificationBanner({
html: html
}) }}

{% endblock %}
