{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}



{% extends "layout.html" %}

{% block pageTitle %}
Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "task-list-standard"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <!-- Person details -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Person details
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Name"
        },
        value: {
        text: "Robert Brown"
        }
        },
        {
        key: {
        text: "CRN"
        },
        value: {
        text: "D012923"
        }
        },
        {
        key: {
        text: "Date of birth"
        },
        value: {
        html: "03 May 1966"
        }
        },
        {
        key: {
        text: "NOMS number"
        },
        value: {
        text: "019232"
        }
        },
        {
        key: {
        text: "Nationality"
        },
        value: {
        text: "British"
        }
        },
        {
        key: {
        text: "Religion or belief"
        },
        value: {
        text: "Christian"
        }
        },
        {
        key: {
        text: "Sex"
        },
        value: {
        text: "Male"
        }
        },
        {
        key: {
        text: "Status"
        },
        value: {
        text: "In Custody"
        }
        },
        {
        key: {
        text: "Prison"
        },
        value: {
        text: "HMP Hewell"
        }
        }
        ]
        }) }}
      </div>
    </div>

    <!-- Approved Premises requirements  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Approved Premises requirements
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Which type of AP does the person require?"
        },
        value: {
        text: "Standard"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        }
        ]
        }) }}
      </div>
    </div>

    <!-- If PIPE is selected, use following code -->
    <!--
      <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Approved Premises requirements
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Which type of AP does the person require?"
        },
        value: {
        text: "Psychologically Informed Planned Environment (PIPE)"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Has the person been screened into the OPD pathway?"
        },
        value: {
        text: "Yes"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
          key: {
          text: "When was the person's last consultation or formulation?"
          },
          value: {
          text: "Yes"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
        {
        key: {
        text: "Has an application for PIPE placement been recommended in the OPD pathway plan?"
        },
        value: {
        text: "Yes"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
          key: {
          text: "Provide any additional detail about why the person needs a PIPE placement."
          },
          value: {
          text: "Yes"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          }
        ]
        }) }}
      </div>
    </div>
  -->
    <!-- If ESAP is are selected, use following code -->
    <!--
      <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Approved Premises requirements
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Which type of AP does the person require?"
        },
        value: {
        text: "Enhanced Security Approved Premises (ESAP)"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Why does the person require an enhanced security placement (ESAP)?"
        },
        value: {
        text: "List checkboxes selected"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
          key: {
          text: "Do any of the following factors also apply?"
          },
          value: {
          text: "List checkboxes"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
        {
        key: {
        text: "Which items does the person have a history of secreting?"
        },
        value: {
        text: "List selected checkboxes"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
          key: {
          text: "Have partnership agencies requested the sharing of intelligence captured via body worn technology?"
          },
          value: {
          text: "Yes"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "Provide any supporting information about why the person requires enhanced room searches."
          },
          value: {
          text: "Yes"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "Which behaviours has the person demonstrated that require enhanced CCTV provision to monitor?"
          },
          value: {
          text: "Yes"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "Have partnership agencies requested the sharing of intelligence captured via enhanced CCTV?"
          },
          value: {
          text: "Yes"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "Provide any supporting information about why the person requires enhanced CCTV provision."
          },
          value: {
          text: "Yes"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          }
        ]
        }) }}
      </div>
    </div>
  -->


    <!-- Sentence type  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Sentence type
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Which of the following best describes the sentence type the person is on?"
        },
        value: {
        text: "Standard determinate custody"
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
        key: {
        text: "What type of release will the application support?"
        },
        value: {
        text: "Licence"
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        }
        ]
        }) }}
      </div>
    </div>

    <!-- Date of arrival  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Date of arrival
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Do you know the person's release date?"
        },
        value: {
        text: "Yes"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "What is the expected date of release?"
        },
        value: {
        text: "03 July 2023"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Is the release date the date you want the placement to start?"
        },
        value: {
        text: "Yes"
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        }
        ]
        }) }}
      </div>
    </div>

    <!--- If the user knows the release date show the following in list -->
    <!--- {
      key: {
      text: "What is the expected date of release?"
      },
      value: {
      text: "date"
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      }
      --->

  <!--- If the placement date is not the same as the release date, show the following in list -->
    <!--- {
      key: {
      text: "What is the expected arrival date"
      },
      value: {
      text: "date"
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      }
      --->

  <!--- If the user selects 'No, the release date is to be determined by the parole board' show the following in list -->
    <!--- {
      key: {
      text: "Do you know the person  oral hearing date?"
      },
      value: {
      text: "date"
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      }
      --->

  <!--- If the user selects 'Yes, show the following in list -->
    <!--- {
      key: {
      text: "Date of oral hearing"
      },
      value: {
      text: "date"
      },
      actions: {
      items: [
      {
      href: "#",
      text: "Change",
      visuallyHiddenText: "name"
      }
      ]
      }
      }
      --->





    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Purpose of AP placement
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "What is the purpose of the AP placement?"
        },
        value: {
        html: '<ul>
          <li>Public protection</li>
          <li>Prevent contact with a previous victim</li>
          <li>Provide drug or alcohol monitoring</li>
        </ul>'
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        }
        ]
        }) }}
      </div>
    </div>

    <!-- Choose sections of OASys to import  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        OASys Risk information
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Sections of OASys imported to application"
        },
        value: {
        html: '<ul>
          <li>9. Drug misuse</li>
          <li>10. Alcohol misuse</li>
        </ul>'
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
          key: {
          text: "RoSH level"
          },
          value: {
            html: '<span class="moj-badge moj-badge--red">HIGH RoSH</span>'
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
            key: {
            text: "MAPPA level"
            },
            value: {
              html: '<span class="moj-badge moj-badge--red">LEVEL 3</span>'
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
            }
            ]
            }
            },
          {
            key: {
            text: "Delius Risk Flags"
            },
            value: {
          text: "" 
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
            }
            ]
            }
            }
        ]
        }) }}

     
        <h2 class="govuk-heading-m">RoSH summary</h2>
        
          {{ govukSummaryList({
            rows: [
            {
            key: {
            text: "Who is at risk?"
            },
            value: {
              text: ""
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
            }
            ]
            }
            },
            {
              key: {
              text: "What is the nature of the risk?"
              },
              value: {
                text: ""
              },
              actions: {
              items: [
              {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
              }
              ]
              }
              },
              {
                key: {
                text: "When is the risk likely to be greatest?"
                },
                value: {
                  text: ""
                },
                actions: {
                items: [
                {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
                }
                ]
                }
                },
                {
                  key: {
                  text: "What circumstances are likely to increase risk?"
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                  items: [
                  {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                  }
                  ]
                  }
                  },
                  {
                    key: {
                    text: "What factors are likely to reduce risk?"
                    },
                    value: {
                      text: ""
                    },
                    actions: {
                    items: [
                    {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                    }
                    ]
                    }
                    },
                    {
                      key: {
                      text: "Sections of OASys imported to application"
                      },
                      value: {
                        text: ""
                      },
                      actions: {
                      items: [
                      {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                      }
                      ]
                      }
                      }
            ]
            }) }}

            <h2 class="govuk-heading-m">Offence details</h2>
      
            {{ govukSummaryList({
              rows: [
              {
              key: {
              text: "Briefly describe the details of the offence(s)"
              },
              value: {
                text: ""
              },
              actions: {
              items: [
              {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
              }
              ]
              }
              },
              {
                key: {
                text: "Others involved"
                },
                value: {
                  text: ""
                },
                actions: {
                items: [
                {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
                }
                ]
                }
                },
                {
                  key: {
                  text: "Identify issues related to the offence that contribute to the risk of offending and harm. Please include any positive factors"
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                  items: [
                  {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                  }
                  ]
                  }
                  },
                  {
                    key: {
                    text: "Provide evidence of the motivation and triggers for the offending"
                    },
                    value: {
                      text: ""
                    },
                    actions: {
                    items: [
                    {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                    }
                    ]
                    }
                    },
                    {
                      key: {
                      text: "Provide details of the impact on the victim"
                      },
                      value: {
                        text: ""
                      },
                      actions: {
                      items: [
                      {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                      }
                      ]
                      }
                      },
                      {
                        key: {
                        text: "Victim information"
                        },
                        value: {
                          text: ""
                        },
                        actions: {
                        items: [
                        {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                        }
                        ]
                        }
                        },
                        {
                          key: {
                          text: "Briefly describe the relationship between the victim and the perpetrator "
                          },
                          value: {
                            text: ""
                          },
                          actions: {
                          items: [
                          {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "name"
                          }
                          ]
                          }
                          },
                          {
                            key: {
                            text: "Is there a pattern of offending? Consider details of previous convictions"
                            },
                            value: {
                              text: ""
                            },
                            actions: {
                            items: [
                            {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "name"
                            }
                            ]
                            }
                            } 
              ]
              }) }}


              <h2 class="govuk-heading-m">Supporting information</h2>
      
              {{ govukSummaryList({
                rows: [
                {
                key: {
                text: "Identify drug misuse issues contributing to risks of offending and harm."
                },
                value: {
                  text: ""
                },
                actions: {
                items: [
                {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
                }
                ]
                }
                },
                {
                  key: {
                  text: "Identify alcohol misuse issues contributing to risks of offending and harm."
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                  items: [
                  {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                  }
                  ]
                  }
                  }
                ]
                }) }}

                <h2 class="govuk-heading-m">Risk management plan</h2>
      
              {{ govukSummaryList({
                rows: [
                {
                key: {
                text: "Key information about current situation"
                },
                value: {
                  text: ""
                },
                actions: {
                items: [
                {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
                }
                ]
                }
                },
                {
                  key: {
                  text: "Further considerations about current situation"
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                  items: [
                  {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                  }
                  ]
                  }
                  },
                  {
                    key: {
                    text: "Supervision"
                    },
                    value: {
                      text: ""
                    },
                    actions: {
                    items: [
                    {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                    }
                    ]
                    }
                    },
                    {
                      key: {
                      text: "Monitoring and control"
                      },
                      value: {
                        text: ""
                      },
                      actions: {
                      items: [
                      {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                      }
                      ]
                      }
                      },
                      {
                        key: {
                        text: "Intervention and treatment"
                        },
                        value: {
                          text: ""
                        },
                        actions: {
                        items: [
                        {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                        }
                        ]
                        }
                        },
                        {
                          key: {
                          text: "Victim safety planning"
                          },
                          value: {
                            text: ""
                          },
                          actions: {
                          items: [
                          {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "name"
                          }
                          ]
                          }
                          },
                          {
                            key: {
                            text: "Contingency Plans"
                            },
                            value: {
                              text: ""
                            },
                            actions: {
                            items: [
                            {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "name"
                            }
                            ]
                            }
                            },
                            {
                              key: {
                              text: "Additional comments"
                              },
                              value: {
                                text: ""
                              },
                              actions: {
                              items: [
                              {
                              href: "#",
                              text: "Change",
                              visuallyHiddenText: "name"
                              }
                              ]
                              }
                              }
                ]
                }) }}


                <h2 class="govuk-heading-m">Risk to self</h2>
      
                {{ govukSummaryList({
                  rows: [
                  {
                  key: {
                  text: "Current concerns of self harm and suicide"
                  },
                  value: {
                    text: ""
                  },
                  actions: {
                  items: [
                  {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                  }
                  ]
                  }
                  },
                  {
                    key: {
                    text: "Previous concerns of self harm and suicide"
                    },
                    value: {
                      text: ""
                    },
                    actions: {
                    items: [
                    {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                    }
                    ]
                    }
                    },
                    {
                      key: {
                      text: "Current concerns about coping in a hostel setting"
                      },
                      value: {
                        text: ""
                      },
                      actions: {
                      items: [
                      {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                      }
                      ]
                      }
                      },
                      {
                        key: {
                        text: "Previous concerns about coping in a hostel setting"
                        },
                        value: {
                          text: ""
                        },
                        actions: {
                        items: [
                        {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                        }
                        ]
                        }
                        },
                        {
                          key: {
                          text: "Risk of serious harm"
                          },
                          value: {
                            text: ""
                          },
                          actions: {
                          items: [
                          {
                          href: "#",
                          text: "Change",
                          visuallyHiddenText: "name"
                          }
                          ]
                          }
                          }
                  ]
                  }) }}

      </div>
    </div>

    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Detail about managing risks and needs
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Describe why an AP placement is needed to manage the risk of this person"
        },
        value: {
        text: "To reduce the likelihood of reoffender and to offer drug and alcohol support"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Provide details of any additional measures that will be necessary for the management of risk"
        },
        value: {
        text: "Additional curfews or sign-ins at specific times or intervals will prevent the person being out at key times"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Has the person ever been convicted of any of the following offences? "
        },
        value: {
        text: "Yes"
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
        key: {
        text: "What type of offending has the person been convicted for? "
        },
        value: {
        html: '<ul>
          <li>Arson</li>
          <li>Sexual offence</li>
        </ul>'
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
        key: {
        text: "What type of sexual offences has the person been convicted for?"
        },
        value: {
        html: '<ul>
          <li>In-person sexual offence, child victim</li>
          <li>Online sexual offence, adult victim</li>
        </ul>'
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
        key: {
        text: "Is the offence a current or previous offence? "
        },
        value: {
        html: '<p>Current offence</p>
        <ul>
          <li>Arson</li>
          <li>In-person sexual offence, child victim</li>
          <li>Online sexual offence, adult victim</li>
        </ul>
        
        <p>Previous offence</p>
        <ul>
          <li>Arson</li>
        </ul>'
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
        key: {
        text: "Which of the Rehabilitative Activities will assist the person's rehabilitation in the AP"
        },
        value: {
        html: '<ul>
          <li>Drugs and alcohol</li>
          <li>Health</li>
          <li>Attitudes, thinking and behaviour</li>
        </ul>'
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
        key: {
        text: "Provide a summary of how these will assist the person's rehabilitation within the AP"
        },
        value: {
        text: ""
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        }
        ]
        }) }}
      </div>
    </div>




    <!-- Review prison information  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Review prison information
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Selected prison case notes that support this application"
        },
        value: {
        text: ""
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Additional circumstances that have helped the person do well in the past"
        },
        value: {
        text: ""
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        }
        ]
        }) }}
      </div>
    </div>

    <!-- Describe location factors  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Describe location factors
      </div>
      <div class="box-content">
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "What is the preferred postcode area for the Approved Premises (AP) placement"
        },
        value: {
        text: "NE1 8DY"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Give details of why this postcode area would benefit the person"
        },
        value: {
        text: "Family and friends are nearby which will provide support"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "If an AP placement is not available in the person’s preferred area, would a placement in another postcode area be considered?"
        },
        value: {
        text: "Yes"
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
          key: {
          text: "Alternative postcode"
          },
          value: {
          text: "NE7 6GB"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          },
        {
          key: {
          text: "Are there any restrictions linked to placement location?"
          },
          value: {
          text: "No"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          },
        {
          key: {
          text: "Provide details of any restraining orders, exclusion zones or other location based licence conditions."
          },
          value: {
          text: "Restraining order for the next 10 years. Not allowed to be within 50 miles of York city"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          }
        ]
        }) }}
      </div>
    </div>

<!-- Health and access needs  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Access, cultural and healthcare needs
      </div>
      <div class="box-content">

        {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "Does the person have any of the following needs?"
          },
          value: {
          html: '<ul>
            <li> Mobility needs </li>
            <li> Visual impairment </li>
            <li> Healthcare</li>
          </ul>'
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "Does the person have any religious or cultural needs?"
          },
          value: {
          text: "No"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "Does the person need an interpreter?"
          },
          value: {
          text: "No"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          },
          {
          key: {
          text: "Has a Care Act assessment been completed?"
          },
          value: {
          text: "I don't know"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          },
          {
          key: {
          text: "Does the person require the use of a wheelchair?"
          },
          value: {
          text: "No"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          }, 
          {
            key: {
            text: "Provide additional details for any mobility needs"
            },
            value: {
            text: "Requires a walking stick and sometimes needs additional support when getting up stairs"
            },
            actions: {
              items: [
              {
              href: "index.html",
              text: "Change",
              visuallyHiddenText: "change"
              }
              ]
              }
            },
            {
              key: {
              text: "Provide additional details for any visual impairments"
              },
              value: {
              text: "Slight blindness in one eye, doesn't limit his ability"
              },
              actions: {
                items: [
                {
                href: "index.html",
                text: "Change",
                visuallyHiddenText: "change"
                }
                ]
                }
              },
              {
                key: {
                text: "Provide additional details for any healthcare needs"
                },
                value: {
                text: "Requires a walking stick and sometimes needs additional support when getting up stairs"
                },
                actions: {
                  items: [
                  {
                  href: "index.html",
                  text: "Change",
                  visuallyHiddenText: "change"
                  }
                  ]
                  }
                } 
          ]
          }) }}

          <h2 class="govuk-label--m">COVID information</h2>

          {{ govukSummaryList({
            rows: [
            {
            key: {
            text: "Has the person been fully vaccinated for COVID-19?"
            },
            value: {
            text: "Yes"
            },
            actions: {
            items: [
            {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
            }
            ]
            }
            },
            {
            key: {
            text: "Is the person at high risk from COVID-19 based on the NHS guidance?"
            },
            value: {
            text: "No"
            },
            actions: {
              items: [
              {
              href: "index.html",
              text: "Change",
              visuallyHiddenText: "change"
              }
              ]
              }
            },
            {
            key: {
            text: "Other considerations and comments on COVID-19"
            },
            value: {
            text: "No further comments"
            },
            actions: {
              items: [
              {
              href: "index.html",
              text: "Change",
              visuallyHiddenText: "change"
              }
              ]
              }
            }
            ]
            }) }}


      </div>
    </div>


 <!-- Further placement considerations  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Further placement considerations
      </div>
      <div class="box-content">
        <h2 class="govuk-heading-m">Room sharing</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Is there any evidence that the person may pose a risk to AP staff?"
        },
        value: {
        text: "No"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Is there any evidence that the person may pose a risk to other AP residents?"
        },
        value: {
        text: "No"
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
        key: {
        text: "Do you have any concerns about the person sharing a bedroom?"
        },
        value: {
        text: "No"
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        },
        {
        key: {
        text: "Is there potential for the person to benefit from a room share?"
        },
        value: {
        text: "Yes - in prison Robert got on well with his roommates which helped his progress in prison."
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        }
        ]
        }) }}


        <h2 class="govuk-heading-m">Vulnerability</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Are you aware that the person is vulnerable to exploitation from others?"
        },
        value: {
        text: "No"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Is there any evidence or expectation that the person may groom, radicalise or exploit others?"
        },
        value: {
        text: "No"
        },
        actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
        }
        ]
        }) }}

        <h2 class="govuk-heading-m">Previous placements</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Has the person stayed or been offered a placement in an AP before?"
        },
        value: {
        html: '<p>Yes</p>
         <p>Has previously stayed in Elm Bank Approved Premises and recalled to custody</p>'
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        }
        ]
        }) }}

        <h2 class="govuk-heading-m">Complex case board</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Does the person's gender identity require a complex case board to review their application?"
        },
        value: {
        text: "No"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        }
        ]
        }) }}

        <h2 class="govuk-heading-m">Catering requirements</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Can this person be placed in a self-catered Approved Premises?"
        },
        value: {
        text: "Yes"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name",
        classes: 'summarylist'
        }
        ]
        }
        }
        ]
        }) }}

        <h2 class="govuk-heading-m">Arson requirements</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Does this person pose an arson risk?"
        },
        value: {
          html: '<p>Yes</p>
          <p>Has current conviction of Arson. Has been known to set cell fires for manipulation</p>'
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name",
        classes: 'summarylist'
        }
        ]
        }
        }
        ]
        }) }}

        <h2 class="govuk-heading-m">Additional circumstances</h2>
        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Are there any additional circumstances that have helped the person do well in the past?"
        },
        value: {
        text: "No"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name",
        classes: 'summarylist'
        }
        ]
        }
        }
        ]
        }) }}
      </div>
    </div>
<!-- Move on information  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Move on information
      </div>
      <div class="box-content">
        {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "Does this application require a different placement duration?"
          },
          value: {
          text: "No"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "Where is the person most likely to live when they move on from the Approved Premises?"
          },
          value: {
          text: "NE1 8AY"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "What type of accommodation will the person have when they leave the AP?"
          },
          value: {
          text: "Living with partner, friends or family"
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          },
          {
          key: {
          text: "Are move on arrangements already in place for when the person leaves the AP?"
          },
          value: {
         html: '<p>Yes</p>
         <p>They will live with friends and family which is far away from the victim. Family and friends will support the rehabilitation of the person.</p>'
          },
          actions: {
            items: [
            {
            href: "index.html",
            text: "Change",
            visuallyHiddenText: "change"
            }
            ]
            }
          }
          ]
          }) }}
      </div>
    </div>

    <!-- Associated documents  -->
    <div class="main-box">
      <div class="box-title govuk-heading-m" id="person-details">
        Associated documents
      </div>
      <div class="box-content">
        {{ govukSummaryList({
          rows: [
          {
          key: {
          text: "court-reports.pdf"
          },
          value: {
          text: "Description"
          },
          actions: {
          items: [
          {
          href: "#",
          text: "Change",
          visuallyHiddenText: "name"
          }
          ]
          }
          },
          {
          key: {
          text: "exclusion-zone.pdf"
          },
          value: {
          text: "Description"
          },
          actions: {
          items: [
          {
          href: "index.html",
          text: "Change",
          visuallyHiddenText: "change"
          }
          ]
          }
          }
          ]
          }) }}
      </div>
    </div>

    <!--- Back button -->
        {{ govukButton({
        text: "Save",
        href: "/task-list-standard"
        }) }}
  </div>
</div>


{% endblock %}
