{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 
    <h2 class="govuk-heading-l">Check your answers</h2>

  <!-- Person details --> 
    <h3 class="govuk-heading-m" id="cya-header">Person details</h3>
     {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "CRN"
            },
            value: {
              text: "D012923"
            }
          },
          {
            key: {
              text: "Name"
            },
            value: {
              text: "{name}"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "72 Guild Street<br>London<br>SE23 6FH"
            }
          },
          {
            key: {
              text: "Contact details"
            },
            value: {
              html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
            }
          }
        ]
      }) }}

     <!-- Sentence type  --> 
     <h3 class="govuk-heading-m" id="cya-header">Sentence type</h3>
     {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Which of the following best describes the sentence type [name] is on?"
            },
            value: {
              text: "{sentence-type}"
            }
          },
          {
            key: {
              text: "What type of release will the application support / Which of the following options best describes the situation"
            },
            value: {
              text: "{sentence-type-details}"
            }
          }
        ]
      }) }}

    <!-- Date of arrival  --> 
      <h3 class="govuk-heading-m" id="cya-header">Date of arrival at Approved Premises</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you know {name}’s release date?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Expected arrival date"
            },
            value: {
              text: "03/12/2022"
            }
          }
        ]
      }) }}

        <!-- Type of Approved Premises placement  --> 
        <h3 class="govuk-heading-m" id="cya-header">Type of Approved Premises required</h3>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Which type of AP does Robert require?"
              },
              value: {
                text: "{type-of-ap}"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}


    <!-- Confirm the need for an AP  --> 
    <h3 class="govuk-heading-m" id="cya-header">Confirm the need for an AP</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "What is the purpose of the AP placement?"
            },
            value: {
              text: "Sarah Philips"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Provide a summary of how an AP will enhance/support {name} risk management"
            },
            value: {
              text: "Example content"
            }
          }
        ]
      }) }}

      <!-- Choose sections of OASys to import  --> 
    <h3 class="govuk-heading-m" id="cya-header">Import and edit OASys information</h3>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Sections of OASys imported to application"
          },
          value: {
            html: '<ul>
              <li>9. Drug misuse</li>
              <li>10. Alcohol misuse</li>
            </ul>'
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Who is at risk"
          },
          value: {
            text: "Males whom Mr Brown believes have wronged him, or partners (current partner, , children (daughter and unborn child)"
          },

          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "What is the nature of the risk"
          },
          value: {
            text: "Violence, Threats, Physical harm"
          }
        },
        {
          key: {
            text: "When is the risk likely to be greatest"
          },
          value: {
            text: "HROSH to partners, medium to male peers, medium to children (context of DV). He has some contact with a woman in Birmingham who I believe is pregnant. He is occassionally using drugs in custody and there's a risk he will return to them on release. History of aggressive behaviour in custody; level of violence deployed in current offence was significant. If he is need of drugs, there is no telling how he will behave despite his stated motivation to avoid such behaviour in the future and address his drug use. Says he is currently drug free in custody but has been making fermented liquids in his cell in an effort to drink."
          }
        },
        {
          key: {
            text: "What circumstances are likely to increase risk"
          },
          value: {
            text: "HROSH to partners, medium to male peers, medium to children (context of DV). He has some contact with a woman in Birmingham who I believe is pregnant. He is occassionally using drugs in custody and there's a risk he will return to them on release. History of aggressive behaviour in custody; level of violence deployed in current offence was significant. If he is need of drugs, there is no telling how he will behave despite his stated motivation to avoid such behaviour in the future and address his drug use. Says he is currently drug free in custody but has been making fermented liquids in his cell in an effort to drink."
          }
        }
      ]
    }) }}

    <!-- Detail about managing risks and needs  --> 
    <h3 class="govuk-heading-m" id="cya-header">Detail about managing risks and needs</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Provide details on how these features will help to manage risk"
            },
            value: {
              text: "Sarah Philips"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Provide details on additional features you think will support [name]s management of risk"
            },
            value: {
              text: "Example content"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Has {{name}} ever been convicted of any of the following offences? "
            },
            value: {
              text: "{data}"
            }
          },
          {
            key: {
              text: "What type of offending has {name} been convicted for?  "
            },
            value: {
              text: "{data}"
            }
          },
          {
            key: {
              text: "Is the offence a current or previous offence? "
            },
            value: {
              text: "{data}"
            }
          },
          {
            key: {
              text: "Does {name} need a specialist arson room?"
            },
            value: {
              text: "{data}"
            }
          }
        ]
      }) }}


<!-- Review prison information  --> 
    <h3 class="govuk-heading-m" id="cya-header">Review prison information</h3>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Selected behaviour notes that support application"
          },
          value: {
            text: "Sarah Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Additional circumstances that have helped Robert do well in the past (optional)"
          },
          value: {
            text: "Example content"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }
      ]
    }) }}

    <!-- Describe location factors  --> 
    <h3 class="govuk-heading-m" id="cya-header">Describe location factors</h3>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Preferred location for AP placement"
          },
          value: {
            text: "{data}"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Give details of any positive factors for {name} in this location."
          },
          value: {
            text: "Example content"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Are there any restrictions linked to placement location?"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "If an AP Placement is not available in the persons preferred area, would a placement in an alternative locality be considered?"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "Is {name} moving to a different area where they'll be managed by a different probation delivery unit (PDU)?"
          },
          value: {
            text: "{data}"
          }
        }
      ]
    }) }}

    <!-- Health and access needs  --> 
    <h3 class="govuk-heading-m" id="cya-header">Health and access needs</h3>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Does {name} require use of a wheelchair?"
          },
          value: {
            text: "Sarah Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Does Robert have any other mobility, disability, or accessibility needs?"
          },
          value: {
            text: "Example content"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Does [name] need an interpreter?"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "Does [name] have any additional health issues or care and support needs? "
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "Has a care act assessment been completed?"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "Has Robert Brown been fully vaccinated for COVID-19?"
          },
          value: {
            text: "{data}"
          }
        },{
          key: {
            text: "Is Robert Brown high risk to COVID-19?"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "Other considerations and comments on COVID-19"
          },
          value: {
            text: "{data}"
          }
        }
      ]
    }) }}

    <!-- Further placement considerations  --> 
    <h3 class="govuk-heading-m" id="cya-header">Further placement considerations</h3>
    <h2 class="govuk-heading-m">Room sharing</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Is there any evidence that Robert Brown may pose a risk to AP staff?"
          },
          value: {
            text: "Sarah Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Is there any evidence that Robert Brown may pose a risk to other AP residents?"
          },
          value: {
            text: "Example content"
          }
        },
        {
          key: {
            text: "Do you have any concerns about Robert Brown sharing a bedroom?"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "Is there potential for the person to benefit from a room share?"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "Is there any evidence of previous trauma or significant event in the persons history which would indicate that room share may not be suitable"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "Do you have any concerns about Robert Brown sharing a bathroom?"
          },
          value: {
            text: "{data}"
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Vulnerability</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Are you aware that Robert is vulnerable to exploitation from others?"
          },
          value: {
            text: "Sarah Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Is there any evidence or expectation that Robert may groom, radicalise or exploit others?"
          },
          value: {
            text: "Example content"
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Previous placements</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Has Robert Brown stayed or been offered a placement in an AP before?"
          },
          value: {
            text: "Sarah Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Complex case board</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Does Robert's gender identity require a complex case board to review their application?"
          },
          value: {
            text: "Sarah Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Catering requirements</h2>
    <p>change</p>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Do you have any concerns about Robert Brown catering for themself?"
          },
          value: {
            text: "Sarah Philips"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name",
                classes: 'summarylist'
              }
            ]
          }
        }
      ]
    }) }}

     <!-- Move on information  --> 
     <h3 class="govuk-heading-m" id="cya-header">Placement duration and move on information</h3>
     {{ govukSummaryList({
       rows: [
         {
           key: {
             text: "What duration of placement do you recommend?"
           },
           value: {
             text: "Sarah Philips"
           },
           actions: {
             items: [
               {
                 href: "#",
                 text: "Change",
                 visuallyHiddenText: "name"
               }
             ]
           }
         },
         {
           key: {
             text: "Additional comments to support duration of placement"
           },
           value: {
             text: "Example content"
           },
           actions: {
             items: [
               {
                 href: "#",
                 text: "Change",
                 visuallyHiddenText: "name"
               }
             ]
           }
         },
         {
           key: {
             text: "Where is [name] most likely to live when he moves on from the AP?"
           },
           value: {
             text: "{data}"
           }
         },
         {
          key: {
            text: "Are move on arrangements already in place for when Robert Brown leaves the AP?"
          },
          value: {
            text: "{data}"
          }
        },
        {
          key: {
            text: "What type of accommodation will Robert Brown have when they leave the AP?"
          },
          value: {
            text: "{data}"
          }
        }
       ]
     }) }}


      <!-- Associated documents  --> 
      <h3 class="govuk-heading-m" id="cya-header">Associated documents</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "court-reports.pdf"
            },
            value: {
              text: "link"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "exclusion-zone.pdf"
            },
            value: {
              text: "Example content"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "change"
                }
              ]
            }
          }
        ]
      }) }}


     <!--- Back button -->


        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
