
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <h1 class="govuk-heading-l"> Components </h1>
    <h2 class="govuk-heading-m"> Tags </h2>
      
  </div>
</div>


{%- from "govuk/components/tag/macro.njk" import govukTag -%}

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"> Name of user </th>
      <th class="govuk-table__header" scope="col"> Status </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Jesse Smith
      </td>
      <td class="govuk-table__cell">
        {{govukTag({
          text: "Inactive",
          classes: "govuk-tag--grey"
        })}}
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        Joshua Wessel
      </td>
      <td class="govuk-table__cell">
        {{govukTag({
          text: "Active"
        })}}
      </td>
    </tr>
  </tbody>
</table>

<!-- Using tabs and tables-->
<h2 class="govuk-heading-m"> Table (HTML with tags) </h2> 

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Applications
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Further information request
      </a>
    </li>

  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Applications</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Service user</th>
          <th scope="col" class="govuk-table__header">CRN</th>
          <th scope="col" class="govuk-table__header">Tier</th>
          <th scope="col" class="govuk-table__header">Arrival date</th>
          <th scope="col" class="govuk-table__header">Days since application received</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">0</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Further information request</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Service user</th>
          <th scope="col" class="govuk-table__header">CRN</th>
          <th scope="col" class="govuk-table__header">Arrival date</th>
          <th scope="col" class="govuk-table__header">Assessor</th>
          <th scope="col" class="govuk-table__header">Days since request received</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">
            {{govukTag({
              text: "In Progress",
              classes: "govuk-tag--grey"
            })}}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
          <td class="govuk-table__cell">0</td>
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">0</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
    <h2 class="govuk-heading-l">Past month</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
    <h2 class="govuk-heading-l">Past year</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">1380</td>
          <td class="govuk-table__cell">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">1129</td>
          <td class="govuk-table__cell">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">1539</td>
          <td class="govuk-table__cell">1265</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m"> Table (Nunjucks) </h2>
{% set applicationsHtml %}
    <h2 class="govuk-heading-m">Applications</h2>
      {{ govukTable({
        head: [
          {
            text: "Service user"
          },
          {
            text: "CRN"
          },
          {
            text: "Tier"
          },
          {
            text: "Arrival date"
          },
          {
            text: "Days since application received"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              text: "David Francis"
            },
            {
              text: "D067268"
            },
            {
              text: "A1"
            },
            {
              text: "13 Sep 2022"
            },
            {
              text: "6 days"
            },
            {
              text: "Not started"
            }
          ],
          [
            {
              text: "David Francis"
            },
            {
              text: "D067268"
            },
            {
              text: "A1"
            },
            {
              text: "13 Sep 2022"
            },
            {
              text: "6 days"
            },
            {
              text: "Not started"
            }
          ],
          [
            {
              text: "David Francis"
            },
            {
              text: "D067268"
            },
            {
              text: "A1"
            },
            {
              text: "13 Sep 2022"
            },
            {
              text: "6 days"
            },
            {
              text: "Not started"
            }
          ]
        ]
      }) }}
  {% endset -%}

  {% set furtherInfoHtml %}
    <h2 class="govuk-heading-m">Further information request</h2>
      {{ govukTable({
        head: [
          {
            text: "Service user"
          },
          {
            text: "CRN"
          },
          {
            text: "Arrival date"
          },
          {
            text: "Assessor"
          },
          {
            text: "Days since request received"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              text: "David Francis"
            },
            {
              text: "D067268"
            },
            {
              text: "18th Aug 2022"
            },{
              text: "James Tully"
            },
            {
              text: "1 day"
            },
            {
              text: "Info Request"
            }
          ],
          [
            {
              text: "David Francis"
            },
            {
              text: "D067268"
            },
            {
              text: "18th Aug 2022"
            },{
              text: "James Tully"
            },
            {
              text: "1 day"
            },
            {
              text: "Info Request"
            }
          ],
          [
            {
              text: "David Francis"
            },
            {
              text: "D067268"
            },
            {
              text: "18th Aug 2022"
            },{
              text: "James Tully"
            },
            {
              text: "1 day"
            },
            {
              text: "Info Request"
            }
          ]
        ]
      }) }}
  {% endset -%}

  {{ govukTabs({
    items: [
      {
        label: "Applications",
        id: "applications",
        panel: {
          html: applicationsHtml
        }
      },
      {
        label: "Further information request",
        id: "past-week",
        panel: {
          html: furtherInfoHtml
        }
      }
    ]
  }) }}  
  </div> 
</div> 

{% endblock %}
