{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">Application complete</h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>


        <p>We’ve sent your application to the Central Referral Unit (CRU) for Approved Premises (AP) in your region.</p>
        <p>The CRU will assess your application within 10 working days.</p>
        <p>If further information is required to assess your application you will receive an email.</a></p>
        <p> You can check the status of your application on your AP applications dashboard.</p>
        <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>

        </div>
      </div>

        {{ govukButton({
          text: "Back to dashboard",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
