{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "govuk/components/input/macro.njk" import govukInput %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/multi-agency-partners"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

  <h1 class="govuk-heading-l"> Contingency plans</h1>

  
    {{ govukTextarea({
      name: "multi-agency-curfew",
      id: "multi-agency-curfew",
      label: {
        text: "If the person does not return to the AP for curfew, what actions should be taken?",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "List all actions and agencies involved. Identify who is responsible for each action."
      }
    }) }}





    {{ govukTextarea({
      name: "multi-agency-placement-withdrawn",
      id: "multi-agency-placement-withdrawn",
      label: {
        text: "If the person's placement needs to be withdrawn out of hours, what actions should be taken?",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        html: '<p>Placements can be withdrawn due to safety, security or behavioural issues.</p>
        <p>List all actions and agencies involved. Identify who is responsible for each action.</p>'
      }
    }) }}

    {{ govukTextarea({
      name: "multi-agency-victim-considerations",
      id: "multi-agency-victim-considerations",
      label: {
        text: "Provide any victim considerations that the AP need to be aware of when out of hours",
        classes: "govuk-label--m",
        isPageHeading: true
      }
    }) }}

    {{ govukTextarea({
      name: "multi-agency-unsuitable-addresses",
      id: "multi-agency-unsuitable-addresses",
      label: {
        text: "In the event of an out of hours placement withdrawal, provide any unsuitable addresses that the person cannot reside at" ,
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "List all actions and agencies involved. Identify who is responsible for each action."
      }
    }) }}

    {{ govukTextarea({
      name: "multi-agency-alternative-addresses",
      id: "multi-agency-alternative-addresses",
      label: {
        text: "In the event of an out of hours placement withdrawal, provide alternative suitable addresses that the person can reside at",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "For situations where a placement is withdrawn and recall action is not taken, the person will need to be directed to alternative places to reside in"
      }
    }) }}

    {{ govukTextarea({
      name: "ooh-information",
      id: "ooh-information",
      label: {
        text: "In the event of a breach, provide any further information to support Out of Hours (OoH) decision making",
        classes: "govuk-label--m",
        isPageHeading: true
        },
        hint: {
          text: "For example, include any required actions or views from the probation practicioner regarding OoH recall following curfew breach"
        }
       }) }}

    {{ govukTextarea({
      name: "multi-agency-other-considerations",
      id: "multi-agency-other-considerations",
      label: {
        text: "Are there any other considerations?",
        classes: "govuk-label--m",
        isPageHeading: true
      }
    }) }}

   

  {{ govukButton({
    text: "Save and continue",
    href: "/emergency-additional-qs.html"
  }) }}


  </div>
</div>


{% endblock %}
