{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Has Robert Brown ever been convicted of any of the following offences? </h2>
    
    <p class="govuk-body">This includes any spent or unspent convictions over their lifetime.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Arson offences</li>
      <li>Sexual offences </li>
      <li>Hates crimes</li>
    </ul>

    {{ govukRadios({
      idPrefix: "convicted-offences",
      name: "release-date",
      items: [
        {
          value: "convicted-offences-yes",
          text: "Yes"
        },
        {
          value: "convicted-offences-no",
          text: "No"
        }
      ]
    }) }}


        {{ govukButton({
          text: "Save and continue",
          href: "/type-of-convicted-offence"
        }) }}
  </div>
</div>


{% endblock %}
