{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Has the person ever convicted any offences against children? </h2>


    {{ govukRadios({
      idPrefix: "convicted-offences",
      name: "convicted-offences",
      items: [
        {
          value: "convicted-offences-yes",
          text: "Yes"
        },
        {
          value: "convicted-offences-no",
          text: "No"
        }
      ]
    }) }}

   
  </div>
</div>


{% endblock %}
