{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Convicted offences </h2>
    <p class="govuk-label--m">What type of sexual offences has the person been convicted for? </p>
      <p class="govuk-body">This information will be used to match the applicant to a bed in an AP</p>

    {% set otherSoOffence %}
      {{ govukTextarea({
        label: {
          text: "Provide details"
        },
        id: "other-so-offence",
        name: "other-so-offence",
        classes: "govuk-input--width-20"
      }) }}
    {% endset -%}


      {{ govukCheckboxes({
        idPrefix: "offence-convictions-so",
        name: "offence-convictions-so",
        hint: {
          text: "You can select more than one option"
        },
        items: [
          {
            value: "in-person-so-adult",
            text: "Contact sexual offences against an adult/adults"
          },
          {
            value: "online-so-adult",
            text: "Non-contact sexual offences against an adult/adults"
          },
          {
            value: "in-person-so-child",
            text: "Contact sexual offences against children"
          },
          {
            value: "online-so-child",
            text: "Non-contact sexual offences against children"
          },
          {
            value: "so-other",
            text: "Other",
            conditional: {
              html: otherSoOffence
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Save and continue",
          href: "/date-of-convicted-offences"
        }) }}
  </div>
</div>


{% endblock %}
