{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Has the person ever been convicted of the following offences? </h2>
    
    <p class="govuk-body">This includes any spent or unspent convictions over their lifetime.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Arson offences</li>
      <li>Sexual offences </li>
      <li>Hate crimes</li>
      <li>Non-sexual offences against children</li>
    </ul>

    <form action="/convicted-of-offences" method="post" novalidate>
      
    {{ govukRadios({
      idPrefix: "convicted-offences",
      name: "convicted-offences",
      items: [
        {
          value: "convicted-offences-yes",
          text: "Yes"
        },
        {
          value: "convicted-offences-no",
          text: "No"
        }
      ]
    }) }}

    <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>
  </div>
</div>


{% endblock %}
