{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% extends "layout.html" %}

{% block beforeContent %}
   
{{ govukBackLink({
  text: "Back",
  href: "/type-of-convicted-offences"
}) }}

{% endblock %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Convicted offences</h2>


    <h2 class="govuk-heading-m">Is this a current or previous offence?</h2>
    
    <p class="govuk-body">You can select both if the offence is current and they have previously been convicted for the same offence.</p>

    <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Offence</th>
          <th class="govuk-table__header" style="width: 100px" scope="col">Current</th>
          <th class="govuk-table__header" style="width: 100px;" scope="col">Previous</th>
        </tr>
      </thead>
      
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Arson offence</td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
   
                </label>
              </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste"></label>
              </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Hate Crime</td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste"> </label>
              </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste"> </label>
              </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Contact sexual offence against children</td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste"> </label>
              </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste"> </label>
              </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Non-contact sexual offence</td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste"> </label>
              </div>
          </td>
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste"> </label>
              </div>
          </td>
        </tr>
       
    
      </tbody>
    </table>

  



        {{ govukButton({
          text: "Save and continue",
          href: "/purposeful-activities"
        }) }}

      </div>
</div>


{% endblock %}
