{% extends "layout.html" %}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}


{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              This application is not eligible
            </h1>
          </legend>
          <br>
         <h2 class="govuk-heading-m"> This person is managed at  <b> Tier A3 </b></h2>
         <p>People in prison or people on probation who are managed at the following Tiers would be eligible to apply for an Approved Premises (AP) placement.</p>

         <ul class="govuk-list govuk-list--bullet">
          <li>A3</li>
          <li>A2</li>
          <li>B1</li>
          <li>B3</li>
          <li>B2</li>
          <li>B1</li>
          <li>C3 (women only)</li>
         </ul>

         <p>Applications for an AP placement can still be made in exceptional circumstances.</p>
      
      
      
      <form action="/tier-exemption" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is this an exceptional case?
              </h1>
            </legend>

            {{ govukDetails({
              summaryText: "What is an exceptional case?",
              html: '
              
              <p>An AP placement may occasionally be required to manage the risk posed by, or to, people managed in Tiers C3, C2, C1, or people in specific circumstances.</p>
              
              <p>This may include (but is not limited to):</p>
              <ul class="govuk-list govuk-list--bullet">
              
              <li>People in the community who have been convicted of sex offences and have been publicly identified, for example through social media (Tier C)</li>
              <li>Life / IPP or other prisoners who have served long periods (over 10 years) in custody</li>
              <li>People with a high national media profile (Tier C) </li>
              <li>People managed at MAPPA Level 2 or 3 (Tier C) </li>
              <li>People who are managed on Post Sentence Supervision or Community Orders without a multi-agency contingency plan in place </li>
            </ul>
            
            <p>Where this is being considered, there should be a discussion between the Head/Deputy Head of Probation Delivery Unit (PDU) or Community Head of Public Protection (HoPP) and an AP Area Manager / CRU Manager or Head of Public Protection (Residential).</p>
            <p>In these exceptional cases an application to an AP can be made, but a placement is not guaranteed.</p>'
            }) }}

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tier-exemption" name="tier-exemption" type="radio" value="yes-exemption">
                <label class="govuk-label govuk-radios__label" for="tier-exemption">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="tier-exemption" name="tier-exemption" type="radio" value="no-exemption">
                <label class="govuk-label govuk-radios__label" for="tier-exemption">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>


      </div>
    </div>
  </div>

  </fieldset>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>
    </div>
  </div>

{% endblock %}
