{% extends "layout.html" %}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}


{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              This application does not meet the elegibility criteria.
            </h1>
          </legend>
          <br>
         <h2 class="govuk-heading-m"> This tier is <b> A2 </b></h2>
         <p> You can read more about tiering and eligibility requirements in the <a href="">eligiblity guidance</a>.</p>

      <form action="/ap-type-answer" method="post" novalidate>

        
     

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is this an exceptional case?
              </h1>
            </legend>

            {{ govukDetails({
              summaryText: "What is an exceptional case?",
              html: '<p>An AP application may occasionally be required to manage the risk posed by, or to, a person who may be managed in Tiers C3, C2 or C1 or not meeting the full eligibility criteria.</p>
              <p>Where this is being considered, there should be a discussion between the Head/Deputy Head of Probation Delivery Unit (PDU) or Community Head of Public Protection (HoPP) and an AP Area Manager / CRU Manager or Head of Public Protection
              (Residential).</p> 
              
              <p>This may include (but is not limited to):</p>
              <ul class="govuk-list govuk-list--bullet">
              
              <li>Sex offenders in the community who have been publicly identified e.g. via social media</li>
              <li> Life / IPP or other Prisoners who have served long periods (over 10 years) in custody</li>
              <li> People with a high national media profile</li>
              <li>People managed at MAPPA Level 2 or 3</li>
              <li>People who are managed on Post Sentence Supervision or Community Orders without a multi-agency contingency plan in place </li>
            
            </ul>'
            }) }}

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>


      </div>
    </div>
  </div>

  </fieldset>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>
    </div>
  </div>

{% endblock %}
