{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/task-list-emergancy"
    }) }}
 

    <h2 class="govuk-heading-l">Emergancy referral</h2>
  

    {% set otherEmergencyReason %}
      {{ govukInput({
        id: "other-accommodation",
        name: "other-accommodation",
        type: "text",
        autocomplete: "text",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Provide reason"
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "late-submission",
      name: "late-submission",
      fieldset: {
        legend: {
          text: "What is the reason for submitting this application less than 4 months before the AP is needed?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "This information helps HMPPS to improve this service."
      },
      items: [
        {
          value: "accommodation-own",
          text: "The risk level has recently escalated"
        },
        {
          value: "accommodation-friends",
          text: "The release plan or risk management plan has broken down"
        },
        {
          value: "accommodation-la",
          text: "The individual has committed a further offence"
        },
        {
          value: "accommodation-housing-association",
          text: "AP placement is an alternative to recall"
        },
        {
          value: "accommodation-private-rented",
          text: "AP placement is a parole board or PPCS decision"
        },
        {
          value: "accommodation-supported-accommodation",
          text: "The sentence is shorter than 12 months"
        },
        {
          value: "accommodation-supported-housing",
          text: "The individual will be on bail"
        },
        {
          value: "accommodation-other",
          text: "Other, please specify",
          conditional: {
            html: otherEmergencyReason
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/emergency-additional-qs"
    }) }}
    
  </div>
</div>


{% endblock %}
