{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}

{% endblock %}


{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 

    <h2 class="govuk-heading-l">Emergency application</h2>
  

    {% set additionalLicenceConditions %}
      {{ govukTextarea({
        id: "other-accommodation",
        name: "other-accommodation",
        type: "textarea",
        autocomplete: "textarea",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Provide detais"
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "trigger-plan",
      name: "trigger-plan",
      fieldset: {
        legend: {
          text: "Is there a trigger plan in place?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "If the document is available on Delius, attach it to this application. If the document is not available, share with the AP manager once the placement is confirmed."
      },
      items: [
        {
          value: "yes-trigger-plan",
          text: "Yes"
        },
        {
          value: "no-trigger-plan",
          text: "No"
        }
      ]
    }) }}


    {{ govukRadios({
      idPrefix: "additional-licence-conditions",
      name: "additional-licence-conditions",
      fieldset: {
        legend: {
          text: "Have additional Licence conditions been requested as an alternative to recall?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Need guidance for this"
      },
      items: [
        {
          value: "yes-licence-conditions",
          text: "Yes",
          conditional: {
            html: additionalLicenceConditions
          }
        },
        {
          value: "no-licence-conditions",
          text: "No"
        }
      ]
    }) }}

   


    {{ govukButton({
      text: "Save and continue",
      href: "/index"
    }) }}
    
  </div>
</div>


{% endblock %}
