{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 
    <h2 class="govuk-heading-l">Placement duration and move on</h2>
   






    

        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
