{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> Reasons [name] requires an enhanced security (ESAP) placement </h1>


    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "placement-reasons",
        name: "placement-reasons",
        fieldset: {
          legend: {
            text: "Select at least one of the following reasons.",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "placement-reasons-1",
            text: "History of secreting items relevant to risk and re-offending in their room - requires enhanced room search through the use of body worn technology"
          },
          {
            value: "placement-reasons-2",
            text: "History of engaging in behaviours which are most effectively monitored via enhanced CCTV technology - requires enhanced CCTV provision"
          }
        ]
      }) }}

      <!-- Second lot of checkboxes -->
      
      {{ govukCheckboxes({
        idPrefix: "esap-required",
        name: "esap-required",
        fieldset: {
          legend: {
            text: "Do any of the following factors also apply?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "esap-required-1",
            text: "A diagnosis of autism or neurodiverse traits"
          },
          {
            value: "esap-required-2",
            text: "A complex personality presentation which has created challenges in the prison and where an AP PIPE is deemed unsuitable"
          },
          {
            value: "esap-required-3",
            text: "A non-NSD case where enhanced national standards are required to manage the risks posed and thought to be beneficial to risk reduction"
          },
          {
            value: "esap-required-4",
            text: "Individual has spent time in a Care and Separation Unit in the last 24 months"
          },
          {
            value: "esap-required-5",
            text: "Individual has required a 2/3 prison officer unlock in the last 12 months."
          },
          {
            value: "esap-required-6",
            text: "Individual has been identified as a known/suspected corrupter of staff"
          }
        ]
      }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/esap-placement-secreting"
    }) }}


  </div>
</div>


{% endblock %}
