{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> Enhanced room searches using body worn technology </h1>

      <!-- Second lot of checkboxes -->
      
      {{ govukCheckboxes({
        idPrefix: "esap-cctv",
        name: "esap-cctv",
        fieldset: {
          legend: {
            text: "Which behaviours has Robert demonstrated that require enhanced CCTV provision to monitor?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "esap-cctv-1",
            text: "Changed their appearance or clothing to offend"
          },
          {
            value: "esap-cctv-2",
            text: "Built networks within offender groups"
          },
          {
            value: "esap-cctv-3",
            text: "Physically assaulted staff"
          },
          {
            value: "esap-cctv-4",
            text: "Physically assaulted other people in prison"
          },
          {
            value: "esap-cctv-5",
            text: "Received credible threats to life"
          },
          {
            value: "esap-cctv-6",
            text: "Experienced threats from the local community or media intrusion that poses a risk to the individual, other residents or staff"
          }
        ]
      }) }}


      {% set yesDetails %}
      {{ govukTextarea({
        id: "yes-details",
        name: "yes-details",
        type: "textarea",
        spellcheck: false,
        label: {
          text: "Provide details"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "cctv-agencies",
        name: "cctv-agencies",
        fieldset: {
          legend: {
            text: "Have partnership agencies requested the sharing of intelligence captured via enhanced CCTV?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, DOS, JEXU or NSD."
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            conditional: {
              html: yesDetails
            }
          },
          {
            value: "body-worn-tech-no",
            text: "No"
          }
        ]
      }) }}

      <h2 class="govuk-heading-s">Provide any supporting information about why Robert requires enhanced CCTV provision</h2>
      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail"
      }) }}







    {{ govukButton({
      text: "Save and continue",
      href: "/index"
    }) }}


  </div>
</div>


{% endblock %}
