{% extends "layout.html" %}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}


{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              This application is not suitable for an Approved Premises.
            </h1>
          </legend> 

          <p>Based on the information you have provided, this person does not meet the requirements for placement in an Approved Premises.</p>
          <p>Placements in AP are limited and only a small number of people are eligible.</p>
          <p> To be considered for placement, the person must meet at least 1 of the following requirements:</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>categorised as tier A1-B3</li>
            <li>serving a life sentence and in custody for 10 years or more</li>
            <li>known to the public for committing a sex offence</li>
            <li>recommended by MAPPA for an AP placement</li>
          </ul>

          <p>The following must also be true:</p>
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>an AP will enhance the individual's risk management further than any other licence conditions available</li>
            <li>specific monitoring and control measures provided in an AP is recommended</li>
          </ul>

          <h2 class="govuk-heading-m">Get more help</h2>
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li><a href="">Read about how an AP is used for risk management</a></li>
            <li><a href="">Find out about other monitoring and control measures</a></li>
            <li><a href="">Check what accommodation options are available</a></li>
            <li><a href="">Contact your local CRU lead for support with eligibility</a></li>

          </ul>
      </div>
    </div>
  </div>

  </fieldset>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>
    </div>
  </div>

{% endblock %}
