
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/further-considerations-catering"
  }) }}
{% endblock %}


{% block content %}
<h1 class="govuk-heading-l">
  Provide details for exemption referral
</h1>
<p><i>Guidance</i></p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-m">Have you agreed the case with a senior manager?</h1>


    <!-- Nunjucks detail -->
    {% set exemptionInformationYes %}
    {{ govukInput({
      label: {
        text: "Name of manager who agreed the exemption "
      },
      id: "manager-exemption",
      name: "manager-exemption"
    }) }}

    {{ govukTextarea({
      name: "more-detail",
      id: "more-detail",
      label: {
        text: "Provide a record of the decision"
      }
    }) }}
    {% endset -%}


    <!-- Radio area  -->
    {{ govukRadios({
      idPrefix: "tier-exemption-agreed",
      name: "tier-exemption-agreed",
      items: [
        {
          value: "yes-exemption-agreed",
          text: "Yes",
          conditional: {
            html: exemptionInformationYes
          }
        },
        {
          value: "no-exemption-not-agreed",
          text: "No"
        }
      ]
    }) }}



    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}


  </div>
</div>



{% endblock %}
