
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  HMPPS Approved Premises
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Further placement considerations</span>
      Catering
    </h1>


    <!-- Nunjucks detail -->
   
    {% set cateringIssues %}
      {{ govukTextarea({
        id: "catering",
        name: "catering",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    <!-- Radio area -->


    {{ govukRadios({
      idPrefix: "catering-issues",
      name: "catering-issues",
      fieldset: {
        legend: {
          text: "Do you have any concerns about the person catering for themselves?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-catering-issues",
          text: "Yes",
          conditional: {
            html: complexCase
          }
        },
        {
          value: "no-catering-issues",
          text: "No"
        }
      ]
    }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "/index"
    }) }}


  </div>
</div>



{% endblock %}


