
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  HMPPS Approved Premises
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Further placement considerations</span>
      Catering requirements
    </h1>
  

    <!-- Nunjucks detail -->

    {% set cateringIssues %}
      {{ govukTextarea({
        id: "catering",
        name: "catering",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    <!-- Radio area -->

<h1 class="govuk-heading-m">Can this person be placed in a self-catered Approved Premises?</h1>

{{ govukDetails({
  summaryText: "View guidance",
  html: '<p>Approved Premises (AP) placements are usually self-catered unless there are specific circumstances where a person requires a catered placement. </p>
        <p>For example, foreign national offenders (FNO) without access to funds cannot be placed in a self-catered AP.</p>'
}) }}

    {{ govukRadios({
      idPrefix: "catering-issues",
      name: "catering-issues",
      items: [
        {
          value: "yes-catering-issues",
          text: "Yes",
          conditional: {
            html: complexCase
          }
        },
        {
          value: "no-catering-issues",
          text: "No"
        }
      ]
    }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "/further-considerations-arson"
    }) }}


  </div>
</div>



{% endblock %}
