
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Room sharing</span>
      Further placement considerations
    </h1>
    <p>This information is used to match a person with a suitable room in a suitable premises.</p>


    <!-- Nunjucks detail -->

    {% set riskToStaff %}
      {{ govukTextarea({
        id: "risk-staff",
        name: "risk-staff",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    {% set riskToResident %}
    {{ govukTextarea({
      id: "risk-resident",
      name: "risk-resident",
      type: "textarea",
      spellcheck: false,
      classes: "textarea",
      label: {
        text: "Provide details"
      }
    }) }}
    {% endset -%}

    {% set bedroomSharing %}
      {{ govukTextarea({
        id: "bed-share",
        name: "bed-share",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    {% set benefitBedShare %}
      {{ govukTextarea({
        id: "benefit-from-bedshare",
        name: "benefit-from-bedshare",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    {% set bathroomNotSuitable %}
      {{ govukTextarea({
        id: "unsuitable-bathroom",
        name: "unsuitable-bathroom",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    <!-- Radio area -->


    {{ govukRadios({
      idPrefix: "risk-to-staff",
      name: "risk-to-staff",
      fieldset: {
        legend: {
          text: "Is there any evidence that the person may pose a risk to AP staff?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-risktostaff",
          text: "Yes",
          conditional: {
            html: riskToStaff
          }
        },
        {
          value: "no-risktostaff",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "risk-to-resident",
      name: "risk-to-resident",
      fieldset: {
        legend: {
          text: "Is there any evidence that the person may pose a risk to other AP residents?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-risk-resident",
          text: "Yes",
          conditional: {
            html: riskToResident
          }
        },
        {
          value: "no-risk-resident",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "sharing-bedroom",
      name: "sharing-bedroom",
      fieldset: {
        legend: {
          text: "Do you have any concerns about the person sharing a bedroom?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-bed-share",
          text: "Yes",
          conditional: {
            html: bedroomSharing
          }
        },
        {
          value: "no-bed-share",
          text: "No"
        }
      ]
    }) }}


    {{ govukRadios({
      idPrefix: "benefit-bed-share",
      name: "benefit-bed-share",
      fieldset: {
        legend: {
          text: "Is there potential for the person to benefit from a room share?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-benefit",
          text: "Yes",
          conditional: {
            html: benefitBedShare
          }
        },
        {
          value: "no-benefit",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/further-considerations-vulnerability"
    }) }}


  </div>
</div>



{% endblock %}
