
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Further placement considerations
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"> Further placement considerations </span>
     Additional circumstances
    </h1>

    <!-- Nunjucks detail -->
    {% set additionalCircumstancesYes %}
      {{ govukTextarea({
        id: "additional-circumstances-yes",
        name: "additional-circumstances-yes",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}
  

    <!-- Radio area -->


    {{ govukRadios({
      idPrefix: "additional-circumstances",
      name: "additional-circumstances",
      fieldset: {
        legend: {
          text: "Are there any additional circumstances that have helped the person do well in the past?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-additional-circumstances",
          text: "Yes",
          conditional: {
            html: additionalCircumstancesYes
          }
        },
        {
          value: "not-additional-circumstances",
          text: "No"
        }
      ]
    }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}


  </div>
</div>



{% endblock %}
