
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <h2 class="govuk-heading-l">Further placement considerations</h2>
    <p>This information is used to match a person with a suitable room in a suitable premises.</p>

    <h2 class="govuk-heading-m">Does Robert Brown need a specialist arson room?</h2>
    <p>Consider whether Robert Brown poses an ongoing risk of setting fires based on: 
      <ul>
        <li>their current and previous offences, </li>
        <li>factors outside of the offences they were charged for,</li>
        <li>their behaviour in custody, </li>
        <li>and your expectations for how they'll behave in an AP setting.</li>
      </ul>
    </p>

      {{ govukRadios({
        idPrefix: "release-date",
        name: "release-date"
        },
        items: [
          {
            value: "arson-room-needed",
            text: "Yes"
          },
          {
            value: "arson-room-not-needed",
            text: "No, the release date is to be determined by the parole board or other hearing"
          }
        ]
      }) }}

      {{ govukNotificationBanner({
        html: html
      }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/index"
    }) }}


  </div>
</div>



{% endblock %}


