
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  HMPPS Approved Premises
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Further placement considerations</span>
      Recovery Focused Approved Premises (RFAP)
    </h1>
  


    {{ govukDetails({
      summaryText: "What is a RFAP?",
      html: '
      <p>RFAP provide concentrated support for prison leavers who have begun to address their substance misuse in custody. </p>
      <p>RFAP work closely with key recovery partners and organisations within the local community to offer people on probation the best level of support available.</p>
      <p>RFAP staff will be trained as recovery coaches and take a personalised approach to rehabilitation, including committing a minimum of 10 hours to each individual to work on a recovery plan tailored to their needs.</p>'
    }) }}

    <h1 class="govuk-heading-m">Does this person need a RFAP?</h1>
    <p>You will be asked to provide details on whether:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the person has been living in an incentivised substance free living (ISFL) area in custody</li>
      <li>the person has engaged with the DART team in custody</li>
      <li>the person is willing to comply with the RFAP regime</li>
    </ul>

    <p>These are not requirements for a placement in a RFAP. But the information will be used to help place someone in a suitable AP.</p>

    <form action="/rfap-required" method="post" novalidate>

    {{ govukRadios({
      idPrefix: "rfap-required",
      name: "rfap-required",
      items: [
        {
          value: "yes-rfap-required",
          text: "Yes"
        },
        {
          value: "no-rfap-required",
          text: "No"
        }
      ]
    }) }}

    <input type="hidden" name="answers-checked" value="true">

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

  </form>


  </div>
</div>



{% endblock %}
