
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Further placement considerations</span>
      Room sharing
    </h1>


    <!-- Nunjucks detail -->

    {% set riskToStaff %}
      {{ govukTextarea({
        id: "risk-staff",
        name: "risk-staff",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    {% set riskToResident %}
    {{ govukTextarea({
      id: "risk-resident",
      name: "risk-resident",
      type: "textarea",
      spellcheck: false,
      classes: "textarea",
      label: {
        text: "Provide details"
      }
    }) }}
    {% endset -%}

    {% set bedroomSharing %}
      {{ govukTextarea({
        id: "bed-share",
        name: "bed-share",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    {% set previousTrauma %}
      {{ govukTextarea({
        id: "previous-trauma",
        name: "previous-trauma",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}


    {% set benefitBedShare %}
      {{ govukTextarea({
        id: "benefit-from-bedshare",
        name: "benefit-from-bedshare",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    {% set bathroomNotSuitable %}
      {{ govukTextarea({
        id: "unsuitable-bathroom",
        name: "unsuitable-bathroom",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    <!-- Radio area -->


    {{ govukRadios({
      idPrefix: "risk-to-staff",
      name: "risk-to-staff",
      fieldset: {
        legend: {
          text: "Is there any evidence that the person may pose a risk to Approved Premises (AP) staff?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-risktostaff",
          text: "Yes",
          conditional: {
            html: riskToStaff
          }
        },
        {
          value: "no-risktostaff",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "risk-to-resident",
      name: "risk-to-resident",
      fieldset: {
        legend: {
          text: "Is there any evidence that the person may pose a risk to other AP residents?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-risk-resident",
          text: "Yes",
          conditional: {
            html: riskToResident
          }
        },
        {
          value: "no-risk-resident",
          text: "No"
        }
      ]
    }) }}

    
    {{ govukRadios({
      idPrefix: "previous-trauma-q",
      name: "previous-trauma-q",
      fieldset: {
        legend: {
          text: "Is there any evidence of previous trauma or significant event in the persons history which would indicate that room share may not be suitable?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For example, a survivor of sexual abuse or violence or a witness of suicide in custody."
      },
      items: [
        {
          value: "yes-previous-trauma",
          text: "Yes",
          conditional: {
            html: previousTrauma
          }
        },
        {
          value: "no-previous-trauma",
          text: "No"
        }
      ]
    }) }}


    {{ govukRadios({
      idPrefix: "sharing-bedroom",
      name: "sharing-bedroom",
      fieldset: {
        legend: {
          text: "Do you have any concerns about the person sharing a bedroom?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-bed-share",
          text: "Yes",
          conditional: {
            html: bedroomSharing
          }
        },
        {
          value: "no-bed-share",
          text: "No"
        }
      ]
    }) }}


    {{ govukRadios({
      idPrefix: "benefit-bed-share",
      name: "benefit-bed-share",
      fieldset: {
        legend: {
          text: "Is there potential for the person to benefit from sharing a bedroom?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-benefit",
          text: "Yes",
          conditional: {
            html: benefitBedShare
          }
        },
        {
          value: "no-benefit",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/further-considerations-vulnerability"
    }) }}


  </div>
</div>



{% endblock %}
