
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <h1 class="govuk-heading-l">
      Healthcare information
    </h1>
    <p>This information will be used to help decide whether the person can room share.</p>

    <!-- Radio area -->
    {{ govukRadios({
      idPrefix: "fully-vaccinated",
      name: "fully-vaccinated",
      fieldset: {
        legend: {
          text: "Has the person been fully vaccinated for COVID-19?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "A person is considered fully vaccinated if they have had two doses and a booster of a COVID-19 vaccine."
      },
      items: [
        {
          value: "yes-vaccinated",
          text: "Yes"
        },
        {
          value: "no-vaccinated",
          text: "No"
        },
        {
          value: "unsure-vaccinated",
          text: "I don't know"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "high-risk",
      name: "high-risk",
      fieldset: {
        legend: {
          text: "Is the person at high risk from COVID-19?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "This includes autoimmune diseases and those eligible for nMAB treatment."
      },
      items: [
        {
          value: "yes-high-risk",
          text: "Yes"
        },
        {
          value: "no-high-risk",
          text: "No"
        },
        {
          value: "unsure-high-risk",
          text: "I don't know"
        }
      ]
    }) }}

    {{ govukTextarea({
      name: "additional-covid-information",
      id: "additional-covid-information",
      label: {
        text: "Other considerations and comments on COVID-19",
        classes: "govuk-label--s",
        isPageHeading: true
        }
       }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}


  </div>
</div>



{% endblock %}


