
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <h1 class="govuk-heading-l">
      Healthcare needs
    </h1>


    <!-- Nunjucks detail -->
   
    {% set additionalHealthcare %}
      {{ govukTextarea({
        id: "additional-healthcare-needs",
        name: "additional-healthcare-needs",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Provide details"
        }
      }) }}
    {% endset -%}

    <!-- Radio area -->


    {{ govukRadios({
      idPrefix: "risk-to-staff",
      name: "risk-to-staff",
      fieldset: {
        legend: {
          text: "Does Robert Brown have any additional health issues  or care and support needs",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-additional-healthcare",
          text: "Yes",
          conditional: {
            html: additionalHealthcare
          }
        },
        {
          value: "no-additional-healthcaref",
          text: "No"
        },
        {
          value: "unsure-additional-healthcare",
          text: "I don't know"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "risk-to-resident",
      name: "risk-to-resident",
      fieldset: {
        legend: {
          text: "Has a care act assessment been completed?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-CAA",
          text: "Yes"
        },
        {
          value: "no-CAA",
          text: "No"
        },
        {
          value: "unsure-CAA",
          text: "I don't know"
        }
      ]
    }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "/further-considerations-vulnerability"
    }) }}


  </div>
</div>



{% endblock %}


