
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/access-needs-follow-up"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      COVID information
    </h1>
    <p>This information will be used to help decide whether the person can room share.</p>


    <!-- Radio area -->

    {% set eligibleBooster %}
     {{ govukTextarea({
        name: "eligible-covid-19",
        id: "eligible-covid-19",
        label: {
          text: "Why is the person eligible for a COVID-19 booster?"
        }
      }) }}
      {% endset -%}

      {% set singleRoomReveal %}
      <p class="govuk-body">This person will require a single room in an Approved Premises. </p>
      {% endset -%}

    {{ govukRadios({
      idPrefix: "fully-vaccinated",
      name: "fully-vaccinated",
      fieldset: {
        legend: {
          text: "Is the person eligible for COVID-19 vaccination boosters?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "The person may be eligible for a booster because of their age. Or if they have an underlying health condition."
      },
      items: [
        {
          value: "yes-vaccinated",
          text: "Yes",
          conditional: {
            html: eligibleBooster
          }
        },
        {
          value: "no-vaccinated",
          text: "No"
        }
      ]
    }) }}

    {{ govukRadios({
      idPrefix: "high-risk",
      name: "high-risk",
      fieldset: {
        legend: {
          text: "Is the person immunosuppressed, eligible for nMAB treatment or higher risk as per the definitions in the COVID-19 guidance?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "View the government’s guidance on COVID-19."
      },
      items: [
        {
          value: "yes-high-risk",
          text: "Yes",
          conditional: {
            html: singleRoomReveal
          }
        },
        {
          value: "no-high-risk",
          text: "No"
        }
      ]
    }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}


  </div>
</div>



{% endblock %}
