g{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Which of the following sections of OASys do you want to import?
          </h1>
        </legend>

        <p class="govuk-body">We'll automatically import:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>offence details</li>
          <li>RoSH summary</li>
          <li>any MAPPA or hate-based information</li>
          <li>sections linked to RoSH</li>
          <li>Risk Management Plan</li>
          <li>Section 8 -  Drug misuse</li>
          <li>Section 9 - Alcohol misuse</li>
        </ul>
        <p> Select any sections that include information that's relevant to the risk an Approved Premises (AP) will help manage or the needs an AP can support.</p>
        <p> You will be able to edit the information that is pulled in from OASys. Any new information that you provide as part of this application should be added to OASys. </p>




        {{ govukCheckboxes({
          name: "import-option-1",
          fieldset: {
            legend: {
              text: "Optional - Needs linked to reoffending",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "carcasses",
              text: "3. Accommodation"
            },
            {
              value: "mines",
              text: "6. Relationships"
            },
            {
              value: "farm",
              text: "10. Emotional well-being"
            },
            {
              value: "farm",
              text: "11. Thinking & behaviour"
            }
          ]
        }) }}

          {{ govukCheckboxes({
            name: "import-option-2",
            fieldset: {
              legend: {
                text: "Optional - Needs not linked to risk of serious harm or reoffending ",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "ete",
                text: "4. ETE"
              },
              {
                value: "lifestyle-and-associates",
                text: "7. Lifestyle and associates"
              },
              {
                value: "health",
                text: "13. Health"
              },
              {
                value: "attitudes",
                text: "12. Attitudes"
              }
            ]
          }) }}

      {{ govukButton({
        text: "Save and continue",
        href: "/risk-ROSH"
      }) }}
    </div>
    </div>
    </div>

{% endblock %}
