
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <h1 class="govuk-heading-l"> Mini-manage </h1>
    <h2 class="govuk-heading-m"> Trial pages </h2>
      <p><a href="cancellation">Cancellation pages</a></p>
      <p><a href="lost-beds">Lost beds</a></p>
      <p><a href="capacity-component">Capacity component</a></p>


          <h1 class="govuk-heading-l"> Apply </h1>

          <h2 class="govuk-heading-m"> Task list pages </h2> <p> I have designed the task list pages but have not made them dynamic yet, they're currently static. I need to learn how to pull in the data through routing to present within the risk widgets.</p>
          <p><a href="task-list-standard.html">Task list - Standard</a></p>
          <p><a href="task-list-pipe.html">Task list - PIPE</a></p>
          <p><a href="task-list-esap.html">Task list - ESAP</a></p>
          <p><a href="task-list-emergancy.html">Task list - Emergancy</a></p>

           <h2 class="govuk-heading-m"> Trial pages </h2>
            <p><b><a href="pp-dashboard">PP dashboard</a></b> - PP dashboard has been designed using tabs from GDS design system. I have used HTML rather than nunkucks to include the tags and badges from the MOJ/GDS design system. </p>
            <p><a href="start.html"><b>Start page</b></a></p>
            <p><a href="enter-crn">Enter CRN </a></p>
            <p><a href="check-details.html">Check details </a></p>
            <p><a href="sentence-type.html"><b>Sentence type</b></a> - currently these do not route through to the sentence details page. Work needs to be done so that each selected radio button presents the relevant page title and radio options dynamically, rather than making static pages for each.</p>
            <ul>
              <li><p><a href="">Sentence type - details (Not started) </a></p></li>
            </ul>
            <p><a href="release-date"><b>Release date</b></a> - asks user whether they know the release date. Then branches into the following pages based off the radio selection.</p>
            <ul>
              <li><p><a href="oral-hearing-date">Do you know the Oral Hearing date? (Parole)</a></p></li>
              <li> <p><a href="placement-date.html">Is [release-date] the date you want the placement to start?</a></p>
              </li>
            </ul>
            
            <p>Users will then be directed to task list</p>

            <p><a href="type-of-ap.html"><b>Type of AP</b></a></p>
            <ul>
              <p>If PIPE is selected</p>
              <li><p><a href="pipe-referral.html">PIPE - Has PiP been screened into the OPD pathway?</a></p></li>
              <li><p><a href="pipe-opd-screening.html">PIPE - Has a referral for PIPE placement been recommended in the OPD pathway plan? </a></p></li>
              <p>If ESAP is selected</p>
              <li> <p><a href="esap-placement-reasons.html">ESAP - Reasons PiP requires an enhanced security (ESAP) placement</a></p>
              <li> <p><a href="esap-placement-enhanced-searches.html">ESAP - Enhanced room searches using body worn technology</a></p>
              </li>
            </ul>

            <p><b><a href="purpose-of-placement.html">Purpose of placement</a></b></p>
          <br>
          <p><b>Risk information </b></p>
          <p>These screens have not been designed yet whilst we're waiting to hear from the ARNS team to understand how we present this information to users</p>
            <p><b><a href="">Import OASys information</a></b></p>
            <p><b><a href="">View risk information</a></b></p>


          <br>
            <p><a href="convicted-offences.html"><b>Convicted offences</b></a></p>
            <ul>
              <li> <p><a href="type-of-convicted-offence.html">Type of convicted offence</a></p></li>
              <li> <p><a href="convicted-offence-so.html">Convicted offence - SO</a></p></li>
              <li> <p><a href="date-of-convicted-offences.html">Date of convicted offence</a></p></li>
              <li> <p><a href="further-placement-consideration.html">Further placement considerations</a></p></li>
            </ul>
        
  </div>
</div>




{% endblock %}
