{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/start"
  }) }}
{% endblock %}


{% block content %}
 


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Select index offence</h2>
      <p>The person has more than one offence identified against their CRN.</p>
      <p>Please select the main offence that will be used to assess their sutability for an Approved Premises (the 'index offence') below: </p>

  </div>
  <div class="govuk-grid-column-full-width">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header">Offence ID</th>
            <th scope="col" class="govuk-table__header">Offence description</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Conviction ID</th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  </label>
                </div>
            </th>
            <td class="govuk-table__cell">10101</td>
            <td class="govuk-table__cell">Murder - Murder of infants under 1 year of age</td>
            <td class="govuk-table__cell">03 Jan 2019</td>
            <td class="govuk-table__cell">9129320</td>

          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  </label>
                </div>
            </th>
            <td class="govuk-table__cell">10102</td>
            <td class="govuk-table__cell">Arson</td>
            <td class="govuk-table__cell">11 Jun 2015</td>
            <td class="govuk-table__cell">9129321</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  </label>
                </div>
            </th>
            <td class="govuk-table__cell">10103</td>
            <td class="govuk-table__cell">Arson</td>
            <td class="govuk-table__cell">18 Mar 2011</td>
            <td class="govuk-table__cell">9129322</td>
          </tr>
        </tbody>
      </table>

    </div>

        {{ govukButton({
          text: "Save and continue",
          href: "/type-of-ap.html"
        }) }}
  </div>
</div>


{% endblock %}
