{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/select/macro.njk" import govukSelect %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Location factors</h1>


<h2 class="govuk-heading-m">What is the preferred location for the AP placement?</h2>
    
{{ govukSelect({
      id: "ap-pdu",
      name: "ap-pdu",
      label: {
        text: "Probation delivery unit (PDU) location"
      },
      items: [
        {
          value: "northumberland",
          text: "Northumberland"
        },
        {
          value: "tyne-and-wear",
          text: "Tyne and Wear",
          selected: true
        },
        {
          value: "example",
          text: "Example"
        },
        {
          value: "example",
          text: "Example"
        }
      ]
    }) }}

    {{ govukTextarea({
      name: "positive-location-factors",
      id: "positive-location-factors",
      label: {
        text: "Give details of any positive factors for the person in this location.",
        classes: "govuk-label--s",
        isPageHeading: true
        }
       }) }}

             
      <!-- Radio area -->
      <form action="/location-pdu" method="post" novalidate>
     

     
        {% set placementRestrictions %}
        {{ govukTextarea({
          id: "placement-restrictions",
          name: "placement-restrictions",
          type: "textarea",
          spellcheck: false,
          classes: "textarea",
          label: {
            text: "Provide details of any restraining orders, exclusion zones, inclusion zones or other location based licence conditions."
          }
        }) }}
      {% endset -%}
  
      {% set alternativeLocation %}
      {{ govukInput({
        id: "alternative-location-input",
        name: "alternative-location-input",
        type: "textarea",
        spellcheck: false,
        classes: "textarea",
        label: {
          text: "Type the PDU location below"
        }
      }) }}
      {% endset -%}
  
      {{ govukRadios({
        idPrefix: "placement-restrictions",
        name: "placement-restrictions",
        fieldset: {
          legend: {
            text: "Are there any restrictions linked to placement location?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Where there's a risk to a known person, exclusion zones or limits on movements."
        },
        items: [
          {
            value: "yes-exclusion",
            text: "Yes",
            conditional: {
              html: placementRestrictions
            }
          },
          {
            value: "no-exclusion",
            text: "No"
          }
        ]
      }) }}
  
      {{ govukRadios({
        idPrefix: "alternative-location",
        name: "alternative-location",
        fieldset: {
          legend: {
            text: "If an AP Placement is not available in the persons preferred area, would a placement in an alternative locality be considered?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "This includes other PDU’s within the region"
        },
        items: [
          {
            value: "yes-alternative-location",
            text: "Yes",
            conditional: {
              html: alternativeLocation
            }
          },
          {
            value: "no-alternative-location",
            text: "No"
          }
        ]
      }) }}
     
   
      {{ govukRadios({
        idPrefix: "managed-pdu",
        name: "managed-pdu",
        fieldset: {
          legend: {
            text: "Is the person moving to a different area where they'll be managed by a different probation delivery unit (PDU)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "If the person is moving to a different area but will continue to be managed by their current PDU, select No."
        },
        items: [
          {
            value: "yes-managed-pdu",
            text: "Yes"
          },
          {
            value: "no-managed-pdu",
            text: "No"
          }
        ]
      }) }}
  

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>


  </div>
</div>



{% endblock %}


