
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    {% set pduTransfer %}
      {{ govukInput({
        id: "pdu-transfer-info",
        name: "pdu-transfer-info",
        type: "text",
        autocomplete: "text",
        spellcheck: false,
        label: {
          text: "Who have you agreed this with? Enter the probation practitioner's full name."
        }
      }) }}
      {% endset -%} 

      {{ govukRadios({
        idPrefix: "agreed-transfer",
        name: "agreed-transfer",
        fieldset: {
          legend: {
            text: "Have you agreed the persons transfer/supervision with the receiving PDU?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes-agreed-transfer",
            text: "Yes",
            checked: false,
            conditional: {
              html: pduTransfer
            }
          },
          {
            value: "not-agreed-transfer",
            text: "No, I still need to make arrangements"
          },
          {
            value: "no-transfer-required",
            text: "No management and supervision will be maintained by the existing Probation Practitioner."
          }
        ]
      }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}


  </div>
</div>



{% endblock %}


