{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/select/macro.njk" import govukSelect %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Location factors</h1>

    <h2 class="govuk-heading-m">What is the preferred postcode area for the Approved Premises (AP) placement</h2>

    {{ govukDetails({
      summaryText: "View guidance notes on postcode area",
      html: ' <p>We aim to accommodate someone within 50 miles of the postcode area provided. </p>
      <p>If you are unsure about which postcode area to provide, you can use the postcode area for the probation office.</p>'
    }) }}

    {{ govukInput({
      classes: "govuk-input--width-10",
      hint: {
        html: '<p>Please provide the postcode area only. To get the postcode from the full postcode remove the last 3 characters. </p>
        <p>For example, the postcode area for SW1A 0AA is SW1A.</p>'
      },
      id: "ap-pdu",
      name: "ap-pdu"
    }) }}

    {{ govukTextarea({
      name: "positive-location-factors",
      id: "positive-location-factors",
      label: {
        text: "Give details of why this postcode area would benefit the person",
        classes: "govuk-label--s",
        isPageHeading: true
        }
       }) }}


    {% set alternativeLocation %}
        {{ govukSelect({
          id: "sort",
          name: "sort",
          label: {
            text: "Choose the maximum radius (in miles)"
          },
          items: [
            {
              value: "sixty-miles",
              text: "60 miles"
            },
            {
              value: "seventy-miles",
              text: "70 miles"
            },
            {
              value: "eighty-miles",
              text: "80 miles"
            },
            {
              value: "ninety-miles",
              text: "90 miles"
            },
            {
              value: "hundred-miles",
              text: "100 miles"
            }
          ]
        }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "alternative-location",
      name: "alternative-location",
      fieldset: {
        legend: {
          text: "If an AP Placement is not available in the persons preferred area, would a placement further away be considered?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-alternative-location",
          text: "Yes",
          conditional: {
            html: alternativeLocation
          }
        },
        {
          value: "no-alternative-location",
          text: "No"
        }
      ]
    }) }}


      <!-- Radio area -->
      <form action="/location-pdu" method="post" novalidate>




      {% set placementRestrictions %}
        {{ govukTextarea({
          id: "placement-restrictions",
          name: "placement-restrictions",
          type: "textarea",
          spellcheck: false,
          classes: "textarea",
          label: {
            html: '<p>Provide details of any restraining orders, exclusion zones or other location based licence conditions.</p>
                  <p>You must also provide an exclusion zone map in the ‘attach required documents’ screen. </p>'
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "placement-restrictions",
        name: "placement-restrictions",
        fieldset: {
          legend: {
            text: "Are there any restrictions linked to placement location?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Where there's a risk to a known person, exclusion zones or limits on movements."
        },
        items: [
          {
            value: "yes-exclusion",
            text: "Yes",
            conditional: {
              html: placementRestrictions
            }
          },
          {
            value: "no-exclusion",
            text: "No"
          }
        ]
      }) }}

      <!-- removed 
        
        {{ govukRadios({
        idPrefix: "managed-pdu",
        name: "managed-pdu",
        fieldset: {
          legend: {
            text: "Is the person moving to a different area where they'll be managed by a different probation delivery unit (PDU)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "If the person is moving to a different area but will continue to be managed by their current PDU, select No."
        },
        items: [
          {
            value: "yes-managed-pdu",
            text: "Yes"
          },
          {
            value: "no-managed-pdu",
            text: "No"
          }
        ]
      }) }} --->

      <input type="hidden" name="answers-checked" value="true">

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>


  </div>
</div>



{% endblock %}
