{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/task-list-standard"
    }) }}

    <h2 class="govuk-heading-l">Placement duration and move on</h2>

  <p> The placement duration for a <b>Standard</b> application is 12 weeks.</p>

    {{ govukDetails({
      summaryText: "Read more about Approved Premises placement guidance",
      html: '<p>Standard AP placements usually last up to 12 weeks but can sometimes be longer. </p>
      <p>PIPE placements usually last up to 26 weeks. </p> 
      <p>Consider the level of support and risk management you expect the AP to provide and how long it will take to be effective.</p>'
    }) }}

    <h3 class="govuk-heading-m"> Expected dates of stay in Approved Premises:  </h3>
    <p><b>Arrival date:</b> 11 Feb 2023</p>
    <p><b>Departure date:</b> 11 May 2023</p>
   
   
    {% set differentDuration %}

    {{ govukInput({
      label: {
        text: "How many weeks will the person stay at the AP?"
      },
      classes: "govuk-!-width-one-quarter",
      id: "one-quarter",
      name: "one-quarter"
    }) }}

    {{ govukTextarea({
      id: "risk-resident",
      name: "risk-resident",
      type: "textarea",
      spellcheck: false,
      classes: "textarea",
      label: {
        text: "What is the reason for the placement being shorter than the standard length?"
      }
    }) }}


    {% endset -%}

    {{ govukRadios({
      idPrefix: "risk-to-resident",
      name: "risk-to-resident",
      fieldset: {
        legend: {
          text: "Does this application require a different  placement duration?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-different-duration",
          text: "Yes",
          conditional: {
            html: differentDuration
          }
        },
        {
          value: "no-different-duration",
          text: "No"
        }
      ]
    }) }}


        {{ govukButton({
          text: "Save and continue",
          href: "/move-on-arrangements"
        }) }}
  </div>
</div>


{% endblock %}
