{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
        href: "/move-on-accommodation"
    }) }}


    <h2 class="govuk-heading-l">Placement duration and move on</h2>


    {% set fnInformed %}
      {{ govukInput({
        id: "fn-informed",
        name: "fn-informed",
        type: "date",
        autocomplete: "date",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Date of notification"
        }
      }) }}
    {% endset -%}

    {% set html %}
    <p>
      You should contact the FNORC regarding support for move on accommodation as soon as possible. 
    </p>
  {% endset %}
    
  {% set fnNotInformed %}
    {{ govukNotificationBanner({
      html: html
    }) }}
  {% endset -%}


    {{ govukRadios({
      idPrefix: "move-on-fn",
      name: "move-on-fn",
      fieldset: {
        legend: {
          text: "Have you informed the Home Office Foreign National Returns Command (FNORC) that accommodation will be required after placement?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For people who are foreign nationals without recourse to public funds, you must make contact with the FNORC. The FNORC will determine whether someone is likely to meet the criteria for Home Office move on support based on their circumstances."
      },
      items: [
        {
          value: "fn-yes",
          text: "Yes",
          conditional: {
            html: fnInformed
          }
        },
        {
          value: "fn-no",
          text: "No",
          conditional: {
            html: fnNotInformed
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/move-on-arrangements"
    }) }}

  </div>
</div>


{% endblock %}
