{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 

    <h2 class="govuk-heading-l">Placement duration and move on</h2>
  
    {{ govukInput({
      label: {
        text: "Where is the person most likely to live when he moves on from the AP?",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "PDU area or region"
      },
      id: "pdu-area",
      name: "pdu-area"
    }) }}

    {{ govukButton({
      text: "Save and continue",
       href: "/move-on-arrangements"
    }) }}
    
  </div>
</div>


{% endblock %}
