{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}


    <h2 class="govuk-heading-l">Placement duration and move on</h2>

    {% set arrangementsMade %}
    {{ govukTextarea({
      id: "placements",
      name: "placements",
      type: "textarea",
      spellcheck: false,
      classes: "textarea",
      label: {
        text: "Provide further detail about the accommodation type, including how the move on plan will be supported"
      }
    }) }}
  {% endset -%}

  {% set noArrangementsMade %}
    {{ govukTextarea({
      id: "placements",
      name: "placements",
      type: "textarea",
      spellcheck: false,
      classes: "textarea",
      label: {
        text: "Provide detail about any plans to secure accommodation in preparation for move on"
      }
    }) }}
  {% endset -%}



    {{ govukRadios({
      idPrefix: "move-on-arrangements",
      name: "move-on-arrangements",
      fieldset: {
        legend: {
          text: "Are move on arrangements already in place for when the person leaves the AP?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes-moveon-arrangements",
          text: "Yes",
          conditional: {
            html: arrangementsMade
          }
        },
        {
          value: "no-moveon-arrangements",
          text: "No",
          conditional: {
            html: noArrangementsMade
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}

  </div>
</div>


{% endblock %}
