{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 

    <h2 class="govuk-heading-l">Placement duration and move on</h2>
  

    {% set otherAccommodation %}
      {{ govukInput({
        id: "other-accommodation",
        name: "other-accommodation",
        type: "text",
        autocomplete: "text",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Other accommodation type"
        }
      }) }}
    {% endset -%}

    <form action="/foreign-national-move-on" method="post" novalidate>

    {{ govukRadios({
      idPrefix: "move-on-accommodation",
      name: "move-on-accommodation",
      fieldset: {
        legend: {
          text: "What type of accommodation will the person have when they leave the AP?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "accommodation-own",
          text: "Own accommodation"
        },
        {
          value: "accommodation-friends",
          text: "Living with partner, family or friends"
        },
        {
          value: "accommodation-la",
          text: "Rented through local authority"
        },
        {
          value: "accommodation-housing-association",
          text: "Rented through housing association"
        },
        {
          value: "accommodation-private-rented",
          text: "Private rented"
        },
        {
          value: "accommodation-supported-accommodation",
          text: "Supported accommodation"
        },
        {
          value: "accommodation-supported-housing",
          text: "Supported housing"
        },
        {
          value: "accommodation-cas3",
          text: "Community Accommodation Services Tier 3 (CAS3) provided"
        },
        {
          value: "accommodation-homeoffice",
          text: "Accommodation provided through Home Office section 10 for people who are foreign nationals"
        },
        {
          value: "accommodation-rehabilitation",
          text: "Residential rehabilitation"
        },
        {
          value: "accommodation-other",
          text: "Other, please specify",
          conditional: {
            html: otherAccommodation
          }
        }
      ]
    }) }}

    <input type="hidden" name="answers-checked" value="true">

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

  </form>
    
  </div>
</div>


{% endblock %}
