{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}


    <h2 class="govuk-heading-l">Placement duration and move on</h2>
    
    <h2 class="govuk-heading-m">Where is the person most likely to live when they move on from the Approved Premises?</h2>
    <p>If the move on location is not known, you can provide the postcode area for the probation office.</p>

    {{ govukInput({
      classes: "govuk-input--width-10",
      hint: {
        html: '<p>Please provide the postcode area only. To get the postcode from the full postcode remove the last 3 characters. </p>
          <p>For example, the postcode area for SW11 4NJ is SW.</p>'
      },
      id: "ap-pdu",
      name: "ap-pdu"
    }) }}

  
    {{ govukButton({
      text: "Save and continue",
       href: "/move-on-arrangements"
    }) }}

  </div>
</div>


{% endblock %}
