{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/index"
    }) }}
 

    <h2 class="govuk-heading-l">Placement duration and move on</h2>
  

    {% set fnInformed %}
      {{ govukInput({
        id: "fn-informed",
        name: "fn-informed",
        type: "date",
        autocomplete: "date",
        spellcheck: false,
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Date of notification"
        }
      }) }}
    {% endset -%}

    {{ govukRadios({
      idPrefix: "move-on-fn",
      name: "move-on-fn",
      fieldset: {
        legend: {
          text: "Have you informed the Home Office 'Foreign National Returns Command' that accommodation will be required after placement?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "For any foreign nationals without recourse to public funds, you must notify the Home Office before you submit your application. You do not need to have any offers of accommodation yet."
      },
      items: [
        {
          value: "fn-yes",
          text: "Yes",
          conditional: {
            html: fnInformed
          }
        },
        {
          value: "fn-no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}
    
  </div>
</div>


{% endblock %}
