{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "govuk/components/input/macro.njk" import govukInput %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/index#apply"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

  <h1 class="govuk-heading-l">Contingency plans </h1>
   
  {{ govukInput({
      label: {
        text: "Name of partner agency"
      },
      id: "partner-agency",
      name: "partner-agency",
      classes: "govuk-input--width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Named contact"
      },
      id: "named-contact",
      name: "named-contact",
      classes: "govuk-input--width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Contact details (phone)"
      },
      id: "partner-contact-details",
      name: "partner-contact-details",
      classes: "govuk-input--width-20"
    }) }}

    {{ govukInput({
      label: {
        text: "Role in contingency plan"
      },
      id: "partner-agency-role",
      name: "partner-agency-role",
      classes: "govuk-input--width-20"
    }) }}

    {{ govukButton({
      text: "Add another agency",
      classes: "govuk-button--secondary"
    }) }}
      
    <hr>

    <!-- Summary list -->
<h2 class="govuk-heading-m">List of partner agencies</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name of partner agency"
          },
          value: {
            text: "Sarah Philips"
          }
        },
        {
          key: {
            text: "Named contact"
          },
          value: {
            text: "5 January 1978"
          }
        },
        {
          key: {
            text: "Contact details (phone)"
          },
          value: {
            text: "5 January 1978"
          }
        },
        {
          key: {
            text: "Role in contingency plan"
          },
          value: {
            text: "5 January 1978"
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name of partner agency"
          },
          value: {
            text: "Sarah Philips"
          }
        },
        {
          key: {
            text: "Named contact"
          },
          value: {
            text: "5 January 1978"
          }
        },
        {
          key: {
            text: "Contact details (phone)"
          },
          value: {
            text: "5 January 1978"
          }
        },
        {
          key: {
            text: "Role in contingency plan"
          },
          value: {
            text: "5 January 1978"
          }
        }
      ]
    }) }}

  {{ govukButton({
    text: "Save and continue",
    href: "/multi-agency-questions"
  }) }}


  </div>
</div>


{% endblock %}
