{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "govuk/components/input/macro.njk" import govukInput %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/multi-agency-partners"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

  <h1 class="govuk-heading-l"> Multi-agency questions </h1>

 <div>
  <p class="govuk-label--m">Partner agencies added to application</p>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Partner agency"
        },
        value: {
          text: "Police"
        }
      },
      {
        key: {
          text: "Partner agency"
        },
        value: {
          text: "Example"
        }
      }
    ]
  }) }}

</div>
  
    {{ govukTextarea({
      name: "multi-agency-curfew",
      id: "multi-agency-curfew",
      label: {
        text: "If the person does not return to the AP for curfew, what actions should be taken?",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "List all actions and agencies involved. Identify who is responsible for each section."
      }
    }) }}





    {{ govukTextarea({
      name: "multi-agency-placement-withdrawn",
      id: "multi-agency-placement-withdrawn",
      label: {
        text: "If the person's placement needs to be withdrawn, what actions should be taken?",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        html: '<p>Placements can be withdrawn due to safety, security or behavioural issues.</p>
        <p>List all actions and agencies involved. Identify who is responsible for each section.</p>'
      }
    }) }}

    {{ govukTextarea({
      name: "multi-agency-victim-considerations",
      id: "multi-agency-victim-considerations",
      label: {
        text: "Provide any victim considerations that the AP need to be aware of.",
        classes: "govuk-label--m",
        isPageHeading: true
      }
    }) }}

    {{ govukTextarea({
      name: "multi-agency-unsuitable-addresses",
      id: "multi-agency-unsuitable-addresses",
      label: {
        text: "Provide any unsuitable addresses that the person can not reside in",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "List all actions and agencies involved. Identify who is responsible for each section."
      }
    }) }}

    {{ govukTextarea({
      name: "multi-agency-alternative-addresses",
      id: "multi-agency-alternative-addresses",
      label: {
        text: "Provide alternative suitable addresses that the person can reside in",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "For situations where a placement is withdrawn, the person will need to be directed to alternative places to reside in."
      }
    }) }}

    {{ govukTextarea({
      name: "multi-agency-other-considerations",
      id: "multi-agency-other-considerations",
      label: {
        text: "Other considerations",
        classes: "govuk-label--m",
        isPageHeading: true
      }
    }) }}

  {{ govukButton({
    text: "Save and continue",
    href: "/"
  }) }}


  </div>
</div>


{% endblock %}
