
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/release-date"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set dateHtml %}
      {{ govukInput({
        id: "OH-date-known",
        name: "OH-date-known",
        type: "date",
        autocomplete: "date",
        spellcheck: false,
        classes: "govuk-!-width-one-half",
        label: {
          text: "Expected date of oral hearing"
        }
      }) }}
      {% endset -%}

      {% set noHearingDatehtml %}
      <p>
        If the oral hearing date is not yet known, this application will be paused once a decision on suitability has been made. <br><br> If the application is successful the individual will be matched to an Approved Premises after a direction to release has been made.
      </p>
    {% endset %}

    {% set noHearinghtml %}
    {{ govukNotificationBanner({
      html: noHearingDatehtml
    }) }}
    {% endset -%}

      {{ govukRadios({
        idPrefix: "oh-date",
        name: "oh-date",
        fieldset: {
          legend: {
            text: "Do you know the person's oral hearing date?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "oh-date-known",
            text: "Yes",
            checked: false,
            conditional: {
              html: dateHtml
            }
          },
          {
            value: "oh-date-unknown",
            text: "No",
            conditional: {
              html: noHearinghtml
            }
          }
        ]
      }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}


  </div>
</div>


{% endblock %}
