{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set opdScreeningDate %}
    {{ govukInput({
      id: "opd-screening-date",
      name: "opd-screening-date",
      type: "date",
      autocomplete: "date",
      spellcheck: false,
      classes: "govuk-!-width-one-half",
      label: {
        text: "When was the screening date?"
      }
    }) }}
    {% endset -%}

   <p>{{ data['opd-consultation-date'] }}</p>
    {{ govukRadios({
      idPrefix: "opd-screening-pathway-date",
      name: "opd-screening-pathway-date",
      fieldset: {
        legend: {
          text: "Is [consultation date] the screening date?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes-opd-pathway",
          text: "Yes",
          checked: false
        },
        {
          value: "not-screened",
          text: "No",
          conditional: {
            html: opdScreeningDate
          }
        }
      ]
    }) }}


  {{ govukButton({
    text: "Save and continue",
    href: "/pipe-opd-recommendation"
  }) }}


  </div>
</div>


{% endblock %}
