{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


   
    {{ govukDateInput({
      id: "opd-consultation-date",
      namePrefix: "opd-consultation-date",
      fieldset: {
        legend: {
          text: "When was the person's last consultation or formulation?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}


  {{ govukButton({
    text: "Save and continue",
    href: "/pipe-screening-date"
  }) }}


  </div>
</div>


{% endblock %}
