{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/pipe-opd-screening" method="post" novalidate>

    {{ govukRadios({
      idPrefix: "opd-pathway",
      name: "opd-pathway",
      fieldset: {
        legend: {
          text: "Has the person been screened into the Offender Personality Disorder Pathway (OPD)?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes-opd-pathway",
          text: "Yes",
          checked: false,
          conditional: {
            html: opdPathway
          }
        },
        {
          value: "not-screened",
          text: "No"
        }
      ]
    }) }}

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

  </div>
</div>


{% endblock %}
