{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l"> This person is not eligible for a PIPE placement. </h1>
   
<p> The following eligibility criteria applies to PIPE placements: </p>

  <p><ul class="govuk-list govuk-list--bullet">
    <li>the person must be screened in to the OPD pathway. This must also be recorded in NDelius.</li>
    <li> the community OPD service has recommended that the person would be likely to benefit from the relational approach offered in a PIPE AP. </li>
</ul></p>
  
  <p>For more information on how to screen a person in to the OPD pathway, <a href="">read the eligibility guidance</a>.</p>
  
  <p>You can continue with an application for a standard AP placement. Or you can withdraw your application by returning to the dashboard.</p> 
  

  {{ govukButton({
    text: "Save and continue",
    href: "/type-of-ap"
  }) }}


  </div>
</div>


{% endblock %}
