{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}




{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukRadios({
      idPrefix: "pipe-application",
      name: "pipe-application",
      fieldset: {
        legend: {
          text: "Has an application for PIPE placement been recommended in the OPD pathway plan?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "pipe-recommended",
          text: "Yes",
          checked: false
        },
        {
          value: "pipe-not-recommended",
          text: "No"
        }
      ]
    }) }}

    {{ govukTextarea({
      name: "pipe-more-detail",
      id: "pipe-more-detail",
      label: {
        text: "Provide any additional detail about why Robert needs a PIPE placement."
      }
    }) }}


  {{ govukButton({
    text: "Save and continue",
    href: "/task-list-standard"
  }) }}


  </div>
</div>


{% endblock %}
