
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    {% set arrivalDate %}
    {{ govukInput({
      id: "arrival-date",
      name: "arrival-date",
      type: "date",
      autocomplete: "tel",
      classes: "govuk-!-width-one-third",
      label: {
        text: "Expected arrival date"
      }
    }) }}
    {% endset -%}
    
  
    
    {{ govukRadios({
      idPrefix: "contact",
      name: "contact",
      fieldset: {
        legend: {
          text: "Is {{ release-date }} the date you want the placement to start?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select one option."
      },
      items: [
        {
          value: "not-arrival-date",
          text: "Yes"
        },
        {
          value: "arrival-date",
          text: "No",
          conditional: {
            html: arrivalDate
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Save and continue",
      href: "/index"
    }) }}

  </div>
</div>


{% endblock %}
