
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}


<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Arson</span>
 pp details 
</h1>
<p>This information is used to match a person with a suitable room in a suitable premises.</p>

<form action="/pp-check-answers" method="post" novalidate>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      PP name
    </label>
  </h1>
  <input class="govuk-input" id="pp-name" name="pp-name" value=" {{ data['pp-name'] }}" type="text">
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
     PP phone number
    </label>
  </h1>
  <input class="govuk-input" id="pp-number" name="pp-number" value=" {{ data['pp-number'] }}" type="text">  
</div>

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
     PP email 
    </label>
  </h1>
  <input class="govuk-input" id="pp-email" name="pp-email" value=" {{ data['pp-email'] }}" type="text">
</div>


<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
     PP office
    </label>
  </h1>
  <input class="govuk-input" id="pp-office" name="pp-office" value=" {{ data['pp-office'] }}" type="text">
</div>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What is your address?
    </h1>
  </legend>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Address line 1
    </label>
    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" value=" {{ data['address-line-1'] }}" autocomplete="address-line1">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
      Address line 2 (optional)
    </label>
    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town"  value=" {{ data['address-town'] }}"  type="text" autocomplete="address-level2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County (optional)
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
  </div>
</fieldset>



    <input type="hidden" name="answers-checked" value="true">

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

  </form>

  </div>
</div>



{% endblock %}
