{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">What is the purpose of the Approved Premises (AP) placement?</h2>
      
    {% set otherReason %}
    {{ govukInput({
      id: "other-reason",
      name: "other-reason",
      type: "text",
      label: {
        text: "Please specify"
      }
    }) }}
    {% endset -%}

   
    {{ govukCheckboxes({
      idPrefix: "placement-purpose",
      name: "placement-purpose",
      fieldset: {
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "publicProtection",
          text: "Enhanced levels of monitoring to support risk management"
        },
        {
          value: "prevent-contact",
          text: "Support resettlement into the community"
        },
        {
          value: "re-adjust",
          text: "Enhanced drug and alcohol support"
        },
        {
          value: "drug-alcohol-monitoring",
          text: "Support the management of risk to self"
        },
        {
          divider: "or"
        },
        {
          value: "other-reason",
          text: "Other",
          conditional: {
            html: otherReason
          }
        }
      ]
    }) }}
    


    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard.html"
    }) }}


  </div>
</div>


{% endblock %}
