
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}



{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
{{ govukBackLink({
  text: "Back",
  href: "/index"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Which rehabilitative interventions will support the Approved Premises (AP) placement?</h2>
      <p class="govuk-body">Formerly known as purposeful activities. <br><br>Select any additional needs the person has that an AP could help meet. For example, support getting qualifications or finding work.</p>


      {% set otherPurposefulActivity %}
        {{ govukInput({
          id: "other-activity",
          name: "other-activity",
          type: "text",
          autocomplete: "text",
          spellcheck: false,
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Please specify"
          }
        }) }}
      {% endset -%}


      {{ govukCheckboxes({
        idPrefix: "purposeful-activities",
        name: "purposeful-activities",
        hint: {
          text: "You can select more than one option"
        },
        items: [
          {
            value: "accomodation",
            text: "Accommodation"
          },
          {
            value: "drugs-alcohol",
            text: "Drugs and alcohol"
          },
          {
            value: "children-and-families",
            text: "Children and families"
          },
          {
            value: "health",
            text: "Health"
          },
          {
            value: "education-training-employment",
            text: "Education, training, and employment"
          },
          {
            value: "finance-debt",
            text: "Finance, benefits, and debt"
          },
          {
            value: "attitudes-behaviour",
            text: "Attitudes, thinking and behaviour"
          },
          {
            value: "abuse",
            text: "Abuse"
          },
          {
            value: "sex-working",
            text: "Sex working"
          },
          {
            value: "other",
            text: "Other",
            conditional: {
              html: otherPurposefulActivity
            }
          }
        ]
      }) }}


        {{ govukButton({
          text: "Save and continue",
          href: "/index"
        }) }}
  </div>
</div>


{% endblock %}
