{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layout.html" %}

{% block pageTitle %}
  Recovery AP
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/type-of-ap"
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> Recovery Focused Approved Premises </h1>

    <p>If additional information is required please contact the prison offender manager.</p>

    
   

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "How has the person demonstrated their motivation to address their substance misuse?",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          html: 'This could include if the person has been, or is:
          <ul>
            <li>living on an incentivised substance free living (ISFL) unit in custody</li>
            <li>on an abstinence or drug recovery wing</li>
            <li>engaged with the drugs and alcohol rehabilitation treatment (DART) team in custody</li>
            <li>engaged with support services (for example the prison chaplaincy)</li>
          </ul>'
        }
      }) }}



    {% set rfapTreatment %}
      {{ govukTextarea({
        id: "rfap-treatment",
        name: "rfap-treatment",
        type: "textarea",
        autocomplete: "textarea",
        spellcheck: false,
        classes: "govuk-!-width-full-width",
        label: {
          text: "Provide detais"
        }
      }) }}
    {% endset -%}

      {{ govukRadios({
        idPrefix: "rfap-receiving-treatment",
        name: "rfap-receiving-treatment",
        fieldset: {
          legend: {
            text: "Is this person receiving clinical, medical and/or psychosocial treatment for their substance misuse?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: 'Such as a clinical treatment pathway. Or an intervention (for example, an accredited programme)'
        },
        items: [
          {
            value: "treatment-yes",
            text: "Yes",
            conditional: {
              html: rfapTreatment
            }
          },
          {
            value: "treatment-no",
            text: "No"
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "How is the person planning to continue their recovery work whilst in the AP?",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: 'This could include working with a sober coach, continuing with mutual aid groups (such as AA/NA/CA), or assessing treatment options. '
        }
      }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "/further-considerations-catering"
    }) }}


  </div>
</div>


{% endblock %}
