{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% extends "layout.html" %}

{% block pageTitle %}
  Recovery AP
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/type-of-ap"
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> Recovery Focused Approved Premises </h1>

    {% set isflArea %}
      {{ govukTextarea({
        id: "isfl-area",
        name: "isfl-area",
        type: "textarea",
        autocomplete: "textarea",
        spellcheck: false,
        classes: "govuk-!-width-full-width",
        label: {
          text: "Provide detais"
        }
      }) }}
    {% endset -%}


    {% set rfapCompliance %}
      {{ govukTextarea({
        id: "rfap-compliance",
        name: "rfap-compliance",
        type: "textarea",
        autocomplete: "textarea",
        spellcheck: false,
        classes: "govuk-!-width-full-width",
        label: {
          text: "Provide detais"
        }
      }) }}
    {% endset -%}


    {% set dartEngaged %}
      {{ govukTextarea({
        id: "engaged-with-dart",
        name: "engaged-with-dart",
        type: "textarea",
        autocomplete: "textarea",
        spellcheck: false,
        classes: "govuk-!-width-full-width",
        label: {
          text: "Provide detais"
        }
      }) }}
    {% endset -%}


      
      {{ govukRadios({
        idPrefix: "isfl-custody",
        name: "isfl-custody",
        fieldset: {
          legend: {
            text: "Has this person been in an incentivised substance free living (ISFL) area in custody?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "isfl-yes",
            text: "Yes",
            conditional: {
              html: isflArea
            }
          },
          {
            value: "isfl-no",
            text: "No"
          }
        ]
      }) }}

    <!-- Radios 2 -->

    {{ govukRadios({
      idPrefix: "dart-engagement",
      name: "dart-engagement",
      fieldset: {
        legend: {
          text: "Has the person engaged with the DART Team in custody?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "dart-yes",
          text: "Yes",
          conditional: {
            html: dartEngaged
          }
        },
        {
          value: "dart-no",
          text: "No"
        }
      ]
    }) }}

    <!-- Radio 3 -->

    {{ govukRadios({
      idPrefix: "recovery-ap-compliance",
      name: "recovery-ap-compliance",
      fieldset: {
        legend: {
          text: "Is this person willing to comply with the Recovery Focused AP regime?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "compliance-yes",
          text: "Yes",
          conditional: {
            html: rfapCompliance
          }
        },
        {
          value: "compliance-no",
          text: "No"
        }
      ]
    }) }}



    {{ govukButton({
      text: "Save and continue",
      href: "/task-list-standard"
    }) }}


  </div>
</div>


{% endblock %}
