
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    {% set dateHtml %}
      {{ govukInput({
        id: "release-date-known",
        name: "release-date",
        type: "date",
        autocomplete: "date",
        spellcheck: false,
        classes: "govuk-!-width-one-half",
        label: {
          text: "Expected date of release"
        }
      }) }}
      {% endset -%}

      {% set html %}
        <p>
          If the release date is not yet known, this application will be paused once a suitability assessment has been made. <br><br>If the application is successful the individual will be matched to an Approved Premises after a direction to release has been made.
        </p>
      {% endset %}

      {% set noReleaseDate %}
      {{ govukNotificationBanner({
        html: html
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "release-date",
        name: "release-date",
        fieldset: {
          legend: {
            text: "Do you know {booking.name} release date?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "release-date-known",
            text: "Yes",
            checked: false,
            conditional: {
              html: dateHtml
            }
          },
          {
            value: "releast-date-unknown",
            text: "No, the release date is to be determined by the parole board or other hearing",
            conditional: {
              html: noReleaseDate
            }
          }
        ]
      }) }}


    {{ govukButton({
      text: "Save and continue",
      href: "/placement-date"
    }) }}


  </div>
</div>



{% endblock %}


