g{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div>
      <h1 class="govuk-heading-l">
        Edit risk information
      </h1>

        <p> Imported from OASys  <b> 23 October 2022 </b></p>
        <p> OASys last updated  <b> 02 January 2022 </b></p>

</div>
<div>
<!-- Sub-navigation -->
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link"  href="risk-ROSH.html">RoSH summary</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link"  aria-current="page"  href="risk-offence-details.html">Offence details</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="risk-imported.html">Supporting information</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link"  href="risk-management-plan.html">Risk Management Plan</a>
        </li>

        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="risk-to-self.html">Risk to self</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="govuk-grid-column-two-thirds">
          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Offence analysis
            </h2>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="3" aria-describedby="more-detail-hint">Males whom Mr Brown believes have wronged him, or partners (current partner, , children (daughter and unborn child)</textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
             Others involved 
            </h2>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint">HROSH to partners, medium to male peers, medium to children (context of DV). He has some contact with a woman in Birmingham who I believe is pregnant. He is occassionally using drugs in custody and there's a risk he will return to them on release. History of aggressive behaviour in custody; level of violence deployed in current offence was significant. If he is need of drugs, there is no telling how he will behave despite his stated motivation to avoid such behaviour in the future and address his drug use. Says he is currently drug free in custody but has been making fermented liquids in his cell in an effort to drink.</textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
            Issues contributing to risk 
            </h2>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Motivation and triggers
            </h2>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint">HROSH to partners, medium to male peers, medium to children (context of DV). He has some contact with a woman in Birmingham who I believe is pregnant. He is occassionally using drugs in custody and there's a risk he will return to them on release. History of aggressive behaviour in custody; level of violence deployed in current offence was significant. If he is need of drugs, there is no telling how he will behave despite his stated motivation to avoid such behaviour in the future and address his drug use. Says he is currently drug free in custody but has been making fermented liquids in his cell in an effort to drink.</textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
           Victim impact 
            </h2>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
            Victim Information 
            </h2>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Previous offences
            </h2>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Drug use, need to obtain money for drugs at all costs, feeling he has been wronged in some way, lack of consideration of consequences, impulsive behaviour.  Previously ? a) any circumstances where he feels jealousy, particular in relation to partner but also sister b) may be an increased risk if drinking c) will be increased by drug use. </textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>


      {{ govukButton({
        text: "Next",
        href: "/risk-imported"
      }) }}

    </div>


      <div class="risk-information">
        <div class="govuk-grid-column-one-third">
          {{ widgets(widgetData) }}
        </div>
      </div>



    </div>


{% endblock %}
