g{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/task-list-standard"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div>
      <h1 class="govuk-heading-l">
        Edit risk information
      </h1>

        <p> Imported from OASys  <b> 09 January 2023 </b></p>
        <p> OASys last updated  <b> 02 January 2023 </b></p>

</div>
<div>
<!-- Sub-navigation -->
<nav class="moj-sub-navigation" aria-label="Sub navigation">

  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link"  href="risk-ROSH.html">RoSH summary</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="risk-offence-details.html">Offence details</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="risk-imported.html">Supporting information</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" href="risk-management-plan.html">Risk Management Plan</a>
    </li>

    <li class="moj-sub-navigation__item">
      <a class="moj-sub-navigation__link" aria-current="page" href="risk-to-self.html">Risk to self</a>
    </li>
  </ul>
</nav>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Risk to self</h2>
    <p>This information is taken from the Risk of Serious Harm Full Analysis (Layer 3) section of OASys. </p>
    <br>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Current concerns of self harm and suicide
            </h2>
              <textarea class="govuk-textarea" id="risk-suicide-selfharm" name="risk-suicide-selfharm" rows="3" aria-describedby="risk-suicide-selfharm-hint">Example text here</textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Previous concerns of self harm and suicide
            </h2>
              <textarea class="govuk-textarea" id="risk-suicide-selfharm" name="risk-suicide-selfharm" rows="3" aria-describedby="risk-suicide-selfharm-hint">Example text here</textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Current concerns about coping in a hostel setting
            </h2>
              <textarea class="govuk-textarea" id="evidence-selfharm" name="evidence-selfharm" rows="3" aria-describedby="evidence-selfharm-hint">Example text here</textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Previous concerns about coping in a hostel setting
            </h2>
              <textarea class="govuk-textarea" id="evidence-selfharm" name="evidence-selfharm" rows="3" aria-describedby="evidence-selfharm-hint">Example text here</textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          <div class="oasys-information">
            <h2 class="govuk-heading-m">
              Risk of serious harm
            </h2>
              <textarea class="govuk-textarea" id="evidence-selfharm" name="evidence-selfharm" rows="3" aria-describedby="evidence-selfharm-hint">Example text here</textarea>
              <p style="text-align: right;"><a href="">Undo editing</a></p>
            <hr>
          </div>

          

          <!--<div class="oasys-information">
            <h2 class="govuk-heading-m">
              What circumstances are likely to increase risk of self harm and suicide
            </h2>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"> </textarea>
            <hr>
          </div>--> 


      {{ govukButton({
        text: "Save and continue",
        href: "/task-list-standard"
      }) }}

    </div>


      <div class="risk-information">
        <div class="govuk-grid-column-one-third">
          {{ widgets(widgetData) }}
        </div>
      </div>



    </div>


{% endblock %}
