{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/sentence-type"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if (data['sentence-type'] == "Standard-determinate-custody") %}

    <h2 class="govuk-heading-l">What type of release will the application support?</h2>
    
    {{ govukRadios({
      idPrefix: "sentence-standard-determinate",
      name: "sentence-standard-determinate",
      hint: {
        text: "Select the option which best describes the situation"
      },
      items: [
        {
          value: "Licence",
          text: "Licence"
        },
        {
          value: "pss",
          text: "Post Sentence Supervision (PSS)"
        },
        {
          value: "rotl",
          text: "Release on Temporary Licence (ROTL)"
        },
        {
          value: "hdc",
          text: "Home detention curfew (HDC)"
        }
      ]
    }) }}

    {% elseif (data['sentence-type'] == "Community order") %}

    <h2 class="govuk-heading-l">Which of the following options best describes the situation?    </h2>
    
    {{ govukRadios({
      idPrefix: "sentence-community-order",
      name: "sentence-community-order",
      items: [
        {
          value: "sso-co-risk-management",
          text: "Application for risk management/ public protection"
        },
        {
          value: "sso-co-residency-requirement",
          text: "Specified residency requirement as part of a community based Order"
        }
      ]
    }) }}

    {% elseif (data['sentence-type'] == "bail-placement") %}

    <h2 class="govuk-heading-l">Which of the following options best describes the situation?</h2>
      {{ govukRadios({
        idPrefix: "sentence-bail",
        name: "sentence-bail",
        items: [
          {
            value: "bail-part-of-sentence",
            text: "Bail assessment for residency requirement as part of a community order or suspended sentence order"
          },
          {
            value: "bail-for-protection",
            text: "Bail placement"
          }
        ]
      }) }}

    {% elseif (data['sentence-type'] == "extended-determinate") %}
    
    <h2 class="govuk-heading-l">What type of release will the application support?</h2>
      {{ govukRadios({
        idPrefix: "sentence-extended-determinate",
        name: "sentence-extended-determinate",
        hint: {
          text: "Select the option which best describes the situation"
        },
        items: [
          {
            value: "extended-determinate-licence",
            text: "Licence"
          },
          {
            value: "extended-determinate-rotl",
            text: "Release on Temporary Licence (ROTL)"
          }
        ]
      }) }}

      {% elseif (data['sentence-type'] == "ipp") %}

      <h2 class="govuk-heading-l">What type of release will the application support?</h2>
      {{ govukRadios({
        idPrefix: "sentence-ipp",
        name: "sentence-ipp",
        hint: {
          text: "Select the option which best describes the situation"
        },
        items: [
          {
            value: "ipp-licence",
            text: "Licence"
          },
          {
            value: "ipp-rotl",
            text: "Release on Temporary Licence (ROTL)"
          }
        ]
      }) }}


      {% elseif (data['sentence-type'] == "life") %}
      
      <h2 class="govuk-heading-l">What type of release will the application support?</h2>
      {{ govukRadios({
        idPrefix: "sentence-life",
        name: "sentence-life",
        hint: {
          text: "Select the option which best describes the situation"
        },
        items: [
          {
            value: "life-licence",
            text: "Licence"
          },
          {
            value: "life-rotl",
            text: "Release on Temporary Licence (ROTL)"
          }
        ]
      }) }}


    {% endif %}

      <!-- {{ govukRadios({
        idPrefix: "sentence-type",
        name: "sentence-type",
        hint: {
          text: "Select the option which best describes the situation"
        },
        items: [
          {
            value: "Standard-determinate-custody",
            text: "Standard determinate custody"
          },
          {
            value: "Community-Order ",
            text: "Community Order "
          },
          {
            value: "bail-placement",
            text: "Bail placement"
          },
          {
            value: "extended-determinate",
            text: "Extended determinate custody"
          },
          {
            value: "ipp",
            text: "Indeterminate Public Protection"
          },
          {
            value: "non-statutory",
            text: "Non-statutory"
          },
          {
            value: "life",
            text: "Life sentence"
          }
        ]
      }) }} -->

      {{ govukButton({
          text: "Save and continue",
          href: "/sentence-end-date"
        }) }}
  </div>
</div>


{% endblock %}
