{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/task-list-standard"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Which of the following best describes the sentence type the person is on?</h2>

    <form action="/sentence-type-info" method="post" novalidate>

      {{ govukRadios({
        idPrefix: "sentence-type",
        name: "sentence-type",
        hint: {
          text: "Select the option which best describes the situation"
        },
        items: [
          {
            value: "Standard-determinate-custody",
            text: "Standard determinate custody",
            checked: checked("sentence-type", "Standard-determinate-custody")
          },
          {
            value: "life",
            text: "Life sentence",
            checked: checked("sentence-type", "life")
          },
          {
            value: "ipp",
            text: "Indeterminate Public Protection (IPP)",
            checked: checked("sentence-type", "ipp")
          },
          {
            value: "extended-determinate",
            text: "Extended determinate custody",
            checked: checked("sentence-type", "extended-determinate")
          },
          {
            value: "Community order",
            text: "Community Order (CO) / Suspended Sentence Order (SSO)",
            checked: checked("sentence-type", "Community order")
          },
          {
            value: "bail-placement",
            text: "Bail placement",
            checked: checked("sentence-type", "bail-placement")
          },
          {
            value: "post-sentence-supervision",
            text: "Post sentence supervision (PSS)",
            checked: checked("sentence-type", "pss")
          },
          {
            value: "non-statutory",
            text: "Non-statutory",
            checked: checked("sentence-type", "non-statutory")
          }
        ]
      }) }}


      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>
  </div>
</div>


{% endblock %}
