{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-hint">All prototypes for</span>
    <h1 class="govuk-heading-l">

    Transitional Accommodation (CAS 3)

    </h1>
    <h2 class="govuk-heading-m">Mar 2024 -   3 September 2024</h2>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">
        Sprint 2
      
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Epic / story</th>
          
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Updated</th>
          <th scope="col" class="govuk-table__header">Status</th>
          
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">

            <a href="womens-estate/dashboard" target="_blank">Integrate Womens estate - APS1209</a>
          </td>
          <td class="govuk-table__cell">
            version
          </td>
          <td class="govuk-table__cell">
            Sprint 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              IN PROGRESS
            </strong>
          </td>
        </tr>
      
      </tbody>
    </table>

    
    

  
  
  </div>


</div>

{% endblock %}
