{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which type of Approved Premises (AP) does the person require?
            </h1>
          </legend>

          {{ govukDetails({
            summaryText: "What are the different types of AP?",
            html: '<p><b>Standard AP</b> provide 24 hour staff support and monitoring, an overnight curfew, CCTV, room searches, rehabilitative activities, medication monitoring, and drug and alcohol testing.</p>
            <p><b>Psychologically Informed Planned Environment (PIPE)</b> AP are for people who screen into the Offender Personality Disorder (OPD) pathway. PIPE staff have additional training to manage individuals and create an enhanced safe and supportive environment. </p>
            <p><b>Enhanced Security AP (ESAP)</b> offer additional security measures and are intended to individuals whose risk management plan and ability to manage in the community are reliant on those measures. </p>
            <p><b>Recovery Focused AP (RFAP)</b> provide concentrated support for prison leavers who have begun to address their substance misuse in custody. RFAP work closely with key recovery partners and organisations within the local community to offer people on probation the best level of support available. RFAP staff will be trained as recovery coaches and take a personalised approach to rehabilitation, including committing a minimum of 10 hours to each individual to work on a recovery plan tailored to their needs.</p>'
          }) }}



      <form action="/ap-type-answer" method="post" novalidate>


        {{ govukRadios({
          id: "type-of-ap",
          name: "type-of-ap",
          items: [
            {
              value: "standard",
              text: "Standard AP"
            },
            {
              value: "pipe",

              text: "Psychologically Informed Planned Environment (PIPE)"
            },
            {
              value: "esap",
              text: "Enhanced Security AP (ESAP)"
            },
            {
              value: "recovery-focused",
              text: "Recovery Focused AP (RFAP)"
            }
          ]
        }) }}

          </div>

        </fieldset>
      </div>


      </div>



        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>
    </div>
  </div>

{% endblock %}
