{% extends "layouts/hmpps-logged-in-nav.html" %}

{% set pageName="" %}

{% block beforeContent %}
<!-- Breadcrumb -->
<a href="#" action="action" class="govuk-back-link" onclick="window.history.go(-1); return false;">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-width-container">
      <span class="govuk-hint">Residency plan for</span>
      <h1 class="govuk-heading-xl">
        Brian Adams
      </h1>

      

  



      <h2 class="govuk-heading-s govuk-!-margin-bottom-2" data-cy-status="">Assessment incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 5 sections.</p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <form action="/applications/58cf5b62-6134-4454-8646-7053fe88d1e5/submission" method="post">

        <ol class="app-task-list">
          
          
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">1. </span>
      Approved premises risk management out of hours
    </h2>
    <ul class="app-task-list__items">
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/applications/58cf5b62-6134-4454-8646-7053fe88d1e5/tasks/basic-information/pages/confirm-your-details" aria-describedby="eligibility-basic-information" data-cy-task-name="basic-information">Basic Information</a>
          </span>
          <strong class="govuk-tag govuk-tag-- app-task-list__tag">Not started</strong>
        </li>
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="/applications/58cf5b62-6134-4454-8646-7053fe88d1e5/tasks/type-of-ap/pages/ap-type" aria-describedby="eligibility-type-of-ap" data-cy-task-name="type-of-ap">Type of AP required</a>
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag " data-cy-status="not_started" id="type-of-ap-status">Not started</strong>
        </li>
      
    </ul>
  </li>

  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">2. </span>
      Risk information
    </h2>
    <ul class="app-task-list__items">
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Choose sections of OASys to import
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag " data-cy-status="cannot_start" id="oasys-import-status">Cannot start yet</strong>
        </li>
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Add detail about managing risks and needs
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag " data-cy-status="cannot_start" id="risk-management-features-status">Cannot start yet</strong>
        </li>
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Review prison information
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag " data-cy-status="cannot_start" id="prison-information-status">Cannot start yet</strong>
        </li>
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Describe location factors
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag " data-cy-status="cannot_start" id="location-factors-status">Cannot start yet</strong>
        </li>
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Add access, cultural and healthcare needs
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag " data-cy-status="cannot_start" id="access-and-healthcare-status">Cannot start yet</strong>
        </li>
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Detail further considerations for placement
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag " data-cy-status="cannot_start" id="further-considerations-status">Cannot start yet</strong>
        </li>
      
    </ul>
  </li>

  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">3. </span>
      Risk management plan
    </h2>
    <ul class="app-task-list__items">
      
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            Add move on information
          </span>
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag " data-cy-status="cannot_start" id="move-on-status">Cannot start yet</strong>
        </li>
      
    </ul>
  </li>





          
        </ol>

        
      </form>

      
  

  
    
  

<a href="/applications" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Save and come back later
</a>


    </div>

    
      <div class="govuk-grid-column-one-third">
        











    <div class="rosh-widget ">
        <h3 class="govuk-heading-m">
            <strong>NO</strong> RoSH</h3>
        <p class="govuk-body-m">Risk of serious harm</p>
        <p class="govuk-hint govuk-body-m">A RoSH has not been completed for this individual.</p>
    </div>


<div class="mappa-widget">
    <h3 class="govuk-heading-m"><strong>CAT MAPPA Cat 1/LEVEL MAPPA Level 2</strong> MAPPA</h3>
    <p class="govuk-body-m">Multi-agency public protection arrangements</p>
    
        <p class="govuk-hint govuk-body-m">Last updated: Fri 7 Dec 2018</p>
    
</div>


    <div class="tier-widget">
        <h3 class="govuk-heading-m">
            <strong>TIER A2</strong>
        </h3>
        <p class="govuk-hint govuk-body-m">Last updated: Fri 5 Jan 2024</p>
    </div>


<div class="risk-flag-widget">
    <h3 class="govuk-heading-m">Delius risk flags (registers)</h3>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
        <ul class="govuk-list">
            
                <li>Victim Contact</li>
            
                <li>Risk to Known Adult</li>
            
                <li>Risk to Public</li>
            
                <li>Lifer</li>
            
                <li>Women's Safety Worker</li>
            
                <li>Risk to Children</li>
            
                <li>Risk to Staff</li>
            
                <li>Organised Crime</li>
            
                <li>Duplicate Records Exist</li>
            
        </ul>
    
</div>


      </div>
    

  </div>

  
{% endblock %}